.ictu-course-attachment-preview {
    min-height: 50px;
}

.ictu-course-attachment-preview__img {
    position: static !important;
    height: auto;
    object-fit: contain;
    max-width: 100%;
}

.ictu-attachment-item__controls {
    gap: 5px;
}

.ictu-attachment-item__controls__btn {
    border-radius: 999px;
}
