<div class="ictu-course-attachment-preview d-flex flex-column" [ngClass]="cssClasses()" [class.ictu-course-attachment-preview--multiple-mode]="multipleMode()">
    @switch (state()) {
        @case ('ready') {
            @if (multipleMode()) {
                @for (doc of listMedia(); track doc) {
                    <ng-container *ngTemplateOutlet="showFileList; context : { doc , index : $index }"></ng-container>
                }
            } @else {
                @switch (data().type) {
                    @case ('video') {
                        <div class="d-block wrap-media wrap-media--video overflow-hidden w-100">
                            <plyr [plyrSources]="data().sources" plyrType="video"></plyr>
                        </div>
                    }
                    @case ('audio') {
                        <div class="d-block wrap-media wrap-media--audio overflow-hidden w-100">
                            <plyr [plyrSources]="data().sources" plyrType="audio"></plyr>
                        </div>
                    }
                    @case ('image') {
                        <div class="d-block wrap-media wrap-media--audio overflow-hidden w-100">
                            <img class="position-static ictu-course-attachment-preview__img" [ngSrc]="data().imgSrc | safeUrl" alt="" fill>
                        </div>
                    }
                    @default {
                        <ng-container *ngTemplateOutlet="showFileList; context : { doc : data().file , index : 0}"></ng-container>
                    }
                }
            }
        }
        @case ('empty') {
            <span class="ictu-alert ictu-alert-secondary d-block text-center" style="border-radius: 4px">{{ emptyMessage() }}</span>
        }
        @default {
            <div class="d-flex align-items-center justify-content-center gap-2 p-5 hei-50">
                <span class="f-roboto f-14 lh-base fw-normal">Loading...</span>
                <span class="spinner-border spinner-border-sm text-danger"></span>
            </div>
        }
    }
</div>

<ng-template #showFileList let-doc="doc" let-index="index">
    <div class="ictu-attachment-item position-relative" [ngClass]="'ictu-attachment-item--type-'+doc?.location">
        <div class="ictu-attachment-item__container w-100">
            <div class="ictu-attachment-item__icon d-inline-flex justify-content-center align-items-center position-relative p-0 m-0" [innerHTML]="doc?.file | fileIcon | safeHtml"></div>
            <div class="ictu-attachment-item__info">
                <b class="ictu-attachment-item__info__label text-truncate w-100 f-roboto f-14 fw-medium lh-base m-0 p-0">{{ doc?.file?.title ?? '' }}</b>
                <p class="ictu-attachment-item__info__info text-truncate w-100 f-roboto f-14 fw-normal lh-base text-muted m-0 p-0">{{ doc?.file?.size ?? 0 | formatBytes }}</p>
            </div>
            <div class="ictu-attachment-item__controls">
                <button [disabled]="doc.location === 'online'" (click)="btnDownloadAttachment(doc.file)" class="btn ictu-attachment-item__controls__btn ictu-attachment-item__controls__btn--download" pTooltip="Tải xuống" tooltipPosition="top" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
                    <i class="ti ti-download"></i>
                </button>
                <button [disabled]="doc.location === 'online'" (click)="btnPreviewAttachment(doc.file)" class="btn ictu-attachment-item__controls__btn ictu-attachment-item__controls__btn--preview" pTooltip="Xem trước" tooltipPosition="top" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
                    <i class="ti ti-eye"></i>
                </button>
                <button (click)="btnDeleteAttachment(index)" class="btn ictu-attachment-item__controls__btn ictu-attachment-item__controls__btn--delete" pTooltip="Xóa file" tooltipPosition="top" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
                    <i class="ti ti-trash"></i>
                </button>
            </div>
        </div>
    </div>
</ng-template>
