@switch (state()) {
    @case ('uploading') {
        <div class="ictu-media-player__box-size d-flex flex-column justify-content-center align-items-center">
            <h5 class="m-t-5 m-b-10 f-roboto f-16 fw-bold text-center">Upload File</h5>
            @if (file()) {
                <div class="ictu-attachment-item__container w-100">
                    <div class="ictu-attachment-item__icon d-inline-flex justify-content-center align-items-center position-relative p-0 m-0" [innerHTML]="file() | fileIcon | safeHtml"></div>
                    <div class="ictu-attachment-item__info">
                        <b class="ictu-attachment-item__info__label text-truncate w-100 f-roboto f-14 fw-medium lh-base m-0 p-0">{{ file().name ?? '' }}</b>
                        <p class="ictu-attachment-item__info__info text-truncate w-100 f-roboto f-14 fw-normal lh-base text-muted m-0 p-0">{{ file()?.size ?? 0 | formatBytes }}</p>
                    </div>
                </div>
            }
            <div class="d-flex justify-content-center align-items-center w-100 m-t-5">
                <div class="flex-fill">
                    <mat-progress-bar mode="determinate" [value]="downloadProgress()"></mat-progress-bar>
                </div>
                <span class="f-roboto f-14 fw-medium lh-base m-0 text-start text-muted p-l-10">{{ downloadProgress() }}%</span>
            </div>
            <button (click)="btnClose()" class="ictu-media-player__box-size__btn ictu-media-player__box-size__btn--cancel btn fw-normal font-roboto f-14 lh-base m-0">Hủy</button>
        </div>
    }
    @case ('error') {
        <div class="ictu-media-player__box-size d-flex flex-column justify-content-center align-items-center">
            <h4 class="ictu-media-player__box-size__heading fw-medium font-roboto f-15 lh-base m-0 text-danger">Lỗi upload</h4>
            <p class="fw-normal font-roboto f-14 lh-base m-0 text-muted">Quá trình upload file bị gián đoạn!</p>
            <div class="d-flex justify-content-center align-items-center" style="gap:10px;">
                <button (click)="btnClose()" class="ictu-media-player__box-size__btn ictu-media-player__box-size__btn--cancel btn fw-normal font-roboto f-14 lh-base m-0">Hủy</button>
                <button (click)="btnReupload()" class="ictu-media-player__box-size__btn ictu-media-player__box-size__btn--reload btn fw-normal font-roboto f-14 lh-base m-0">Tải lại</button>
            </div>
        </div>
    }
    @default {
        <div class="ictu-media-player__box-size d-flex flex-column justify-content-center align-items-center">
            <h4 class="ictu-media-player__box-size__heading fw-normal font-roboto f-14 lh-base m-0">Xử lý thông tin...</h4>
            <div class="animation-typing-dots">
                <span class="animation-typing-dots__element"></span>
                <span class="animation-typing-dots__element"></span>
                <span class="animation-typing-dots__element"></span>
            </div>
            <button (click)="btnClose()" class="ictu-media-player__box-size__btn ictu-media-player__box-size__btn--cancel btn fw-normal font-roboto f-14 lh-base m-0">Hủy</button>
        </div>
    }
}
