.student-dashboard {
    padding: 0 1px;
}

.student-layout__avatar {
    width: 100px;
    height: auto;
}

.student-layout__avatar img {
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
}

.student-layout__member {
    color: #4d5e6f;
}

.student-layout__details__fields {
    display: flex;
    --student-layout-fields-height: 40px;
    border-bottom: 1px solid #dbe0e9;
    color: #4d5e6f;
}

.student-layout__details__fields__icon {
    flex-shrink: 1;
    height: var(--student-layout-fields-height, 40px);
    width: 30px;
    color: inherit;
}

.student-layout__details__fields__icon i {
    margin: -5px 0 0;
}

.student-layout__details__fields__value {
    height: var(--student-layout-fields-height, 40px);
    min-width: calc(100% - var(--student-layout-fields-height, 40px));
    width: calc(100% - var(--student-layout-fields-height, 40px));
    max-width: calc(100% - var(--student-layout-fields-height, 40px));
    color: inherit;
}