.parent-class-lesson-preview-example-sentences {
    min-height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /*border: 2px solid rgb(221, 221, 221);*/
    /*box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;*/
    /*border-radius: 6px;*/
}

.course-lesson-grammar-lecture-wrapper {
}

.course-lesson-grammar-lecture {
    background: #ffffff;
    border: 1px solid #dbe0e5;
    border-radius: 6px;
}

.course-lesson-grammar-lecture__header {
    min-height: 50px;
    line-height: 0;
    font-size: 0;
}

.course-lesson-grammar-lecture__btn-toggle {
    cursor: pointer;
    transition: transform .35s ease;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}

.course-lesson-grammar-lecture__btn-delete {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.course-lesson-grammar-lecture__btn-delete:not(:hover) {
    color: #808C98;
    background-color: #EEF1F7;
}

.ecl2-lesson-content-type-example-sentences__panel__bottom,
.ecl2-lesson-content-type-example-sentences__panel__body {
    border-top: 1px solid #dbe0e5;
    background-color: #f8f9fa;
    border-radius: 0;
}

.ecl2-lesson-content-type-example-sentences__panel__bottom {
    border-radius: 0 0 6px 6px;
}

.course-lesson-grammar-lecture__status-sign {
    --course-lesson-grammar-lecture-color: #ff3d00;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--course-lesson-grammar-lecture-color);
    box-shadow: 0 0 2px 1px var(--course-lesson-grammar-lecture-color);
    border-radius: 999px;
}

.course-lesson-grammar-lecture__status-sign--published {
    --course-lesson-grammar-lecture-color: #05c30c;
}
