@if (sentences().length) {
    <div class="parent-class-lesson-preview-example-sentences position-relative p-0">
        <div class="d-flex flex-column gap-15 ">
            @for (sentence of sentences(); track sentence) {
                <div class="course-lesson-grammar-lecture overflow-hidden">
                    <div class="course-lesson-grammar-lecture__header d-flex w-100 hei-50 position-relative gap-10 p-0">
                        <div class="d-flex flex-wrap gap-10 flex-fill p-15">
                            @if (sentence) {
                                <span class="f-roboto f-14 fw-medium lh-base m-0">{{ sentence.prompt }}</span>
                                <i class="fa-classic fa-regular fa-arrow-right-long f-14 lh-base"></i>
                                <span class="f-roboto f-14 fw-medium lh-base m-0">{{ sentence.response }}</span>
                            } @else {
                                <span class="f-roboto f-14 fw-medium lh-base m-0">{{ sentence.prompt }}</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
} @else {
    <span class="ictu-badge ictu-badge--warning f-roboto fw-normal lh-base p-y-10 p-x-15 f-14" style="color: #444444;background-color: #e9ecef;">Không có mẫu câu.</span>
}

