.class-planning-form {
    width: 100%;
    height: calc(var(--device-height) - var(--course-editor-layout-header-height, 60px));
    background-color: #eef1f7;
    padding: 0;
    overflow: hidden auto;
    --cpf-footer-height: 60px;
}

.class-planning-form__hr {
    border-top: 1px solid #e1e1e1;
    opacity: 1;
}

.class-planning-form__container {
    max-width: 800px;
    margin-inline: auto;
    border-radius: 0;
}

.class-planning-form__body {
    padding: 20px 0;
}

.class-planning-form__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.class-planning-form__section {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
}

.class-planning-form__section--header {
    border-radius: 4px 4px 0 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.class-planning-form__section--footer {
    border-radius: 0 0 4px 4px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.class-planning-form__section--footer .btn {
    font-size: 14px;
    min-width: 100px;
}

.class-planning-form__heading {
    display: block;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.ictu-form {
    --ictu-form-gap-cusmtom: 20px;
    margin-top: calc(-1 * var(--ictu-form-gap-cusmtom));
}

.ictu-form__row {
    margin-top: var(--ictu-form-gap-cusmtom);
}
