<div class="course-editor-layout-grid class-planning-distribution">
    @switch (state()) {
        @case ('error') {
            <div class="class-planning-distribution--full-size d-flex justify-content-center align-items-center" style="background-color: rgb(255 255 255 / 71%);z-index: 50;border-radius: 0;backdrop-filter: blur(10px)">
                <div class="d-flex intro-y justify-content-center align-items-center flex-column" style="width: min(calc(100% - 30px) , 320px);gap: 30px;color: #333333;">
                    <div class="admin-table__alert-danger text-center" style="padding: 10px 15px;line-height: 1.5;">Tải dữ liệu thất bại. Vui lòng chọn
                        <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
                    </div>
                </div>
            </div>
        }
        @case ('empty') {
            <div class="class-planning-distribution--full-size d-flex justify-content-center align-items-center" style="background-color: rgb(255 255 255 / 71%);z-index: 50;border-radius: 0;backdrop-filter: blur(10px)">
                <div class="d-flex intro-y justify-content-center align-items-center flex-column" style="width: min(calc(100% - 30px) , 320px);gap: 30px;color: #333333;">
                    <p class="ictu-alert ictu-alert-primary m-0 text-center">Lớp học chưa có chương trình học.</p>
                    <button (click)="btnPrepareForSynchronization()" mat-flat-button class="btn ictu-badge-btn--primary-reverse">
                        <i class="ti ti-refresh"></i> Phân bổ bài học theo chương trình học
                    </button>
                </div>
            </div>
        }
        @case ('success') {
            <div class="class-planning-distribution__tabs">
                <div class="class-planning-distribution__tabs__head">
                    <ul class="class-planning-distribution__tabs__list">
                        <li [class.tab-active]="activeTab() === 'PROGRAMS'">
                            <button (click)="activeTabContent('PROGRAMS')" class="class-planning-distribution__tabs__button">Lịch học</button>
                        </li>
                        <li [class.tab-active]="activeTab() === 'CLASS_TIME_SLOTS'">
                            <button (click)="activeTabContent('CLASS_TIME_SLOTS')" class="class-planning-distribution__tabs__button">Lịch học hàng tuần</button>
                        </li>
                        <li [class.tab-active]="activeTab() === 'TIME_SLOT_REGISTER'">
                            <button (click)="activeTabContent('TIME_SLOT_REGISTER')" class="class-planning-distribution__tabs__button">Đăng ký lịch học hàng tuần</button>
                        </li>
                    </ul>
                </div>
                <div class="class-planning-distribution__tabs__body">
                    @switch (activeTab()) {
                        @case ('PROGRAMS') {
                            @if (classSessionCalendar().length) {
                                <div class="class-planning-distribution__tabs__content class-planning-distribution__tabs__class-sections-content">
                                    @if (classObject().sync_required) {
                                        <div class="d-flex w-100">
                                            <p class="admin-table__alert-danger text-center w-100 m-0">
                                                <i class="pi pi-exclamation-circle f-14" style="display: inline-block;vertical-align: middle;line-height: 1;margin: -3px 0 0;"></i> Chương trình học đã được thay đổi. Vui lòng đồng bộ lại lịch học theo chương trình học.
                                                <!-- <a (click)="btnSyncClassSessionWidthClassCurriculums($event)" href="#" class="btn btn-sync-class-programs">Đồng bộ chương trình học.</a> -->
                                                <a (click)="btnSyncAllClassSessions($event)" href="#" class="btn btn-sync-class-programs">Đồng bộ chương trình học.</a>
                                            </p>
                                        </div>
                                    }
                                    @for (classSession of classSessionCalendar(); track classSession; let i = $index) {
                                        <div class="class-planning-distribution__calendar position-relative w-100">
                                            @if (updateSectionID() === classSession.id || rescheduleSectionID() === classSession.id) {
                                                <div class="class-planning-distribution__calendar__loading d-flex justify-content-start align-items-start position-absolute">
                                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                                </div>
                                            }
                                            <div class="class-planning-distribution__calendar__left h-100">
                                                <div class="class-planning-distribution__calendar__left__head">
                                                    <p class="class-planning-distribution__calendar__weekday">{{ classSession.calendar.dayOfWeek }}</p>
                                                </div>
                                                <div class="class-planning-distribution__calendar__left__body">
                                                    <p class="class-planning-distribution__calendar__day-in-month">{{ classSession.calendar.dayInMonth }}</p>
                                                    <p class="class-planning-distribution__calendar__month">{{ classSession.calendar.month }}</p>
                                                    <p class="class-planning-distribution__calendar__year">{{ classSession.calendar.years }}</p>
                                                </div>
                                                <div class="class-planning-distribution__calendar__left__foot mt-auto d-flex justify-content-between align-items-center">
                                                    <b class="class-planning-distribution__calendar__left__foot__lesson-order f-14 f-roboto lh-base fw-medium m-0 text-muted">#{{ (1 + i) }}</b>
                                                    @switch (classSession.status) {
                                                        @case (1) {
                                                            <div class="online-indicator-wrapper" pTooltip="Buổi học đang diễn ra" tooltipPosition="top" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
                                                                <div class="online-indicator"></div>
                                                            </div>
                                                        }
                                                        @case (2) {
                                                            <i class="pi pi-verified" pTooltip="Buổi học đã hoàn thành" tooltipPosition="top" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body"></i>
                                                        }
                                                        @default {
                                                        }
                                                    }
                                                </div>

                                            </div>
                                            <div class="class-planning-distribution__calendar__right">
                                                @if (classSession.topic) {
                                                    <span class="f-roboto f-14 fw-medium m-0 w-100" style="color: #5B6B79;">{{ classSession.topic }}</span>
                                                }
                                                <b class="m-0 f-roboto f-15 fw-bold text-truncate" style="color: #333333;">{{ classSession.title }}</b>
                                                <span class="class-planning-distribution__calendar__right__separator"></span>
                                                <p class="class-planning-distribution__calendar__right__line m-0 f-roboto f-14 fw-normal">
                                                    <span>Giáo viên</span>{{ classSession.calendar.teacher }}
                                                </p>
                                                <p class="class-planning-distribution__calendar__right__line m-0 f-roboto f-14 fw-normal">
                                                    <span>Trợ giảng</span>{{ classSession.calendar.teachingAssistant }}
                                                </p>
                                                <p class="class-planning-distribution__calendar__right__line m-0 f-roboto f-14 fw-norma text-dark text-nowrap">
                                                    <span>Thời gian</span>{{ classSession.calendar.time }}
                                                </p>
                                                <p class="class-planning-distribution__calendar__right__line m-0 f-roboto f-14 fw-norma text-dark text-nowrap">
                                                    <span>Địa điểm</span>{{ classSession.calendar.room }}
                                                </p>
                                            </div>
                                            @if (! classObject().sync_required) {
                                                <div class="class-planning-distribution__calendar__buttons d-flex justify-content-end align-items-center position-absolute">
                                                    <button (click)="btnUpdateSection(classSession)" [disabled]="!(classSession | canSessionBeChanged : maxActivatedSessionOrdering())" class="btn d-flex justify-content-center align-items-center ictu-button-info-light" [matTooltipDisabled]="classSession.status !== 0" matTooltip="Cập nhật thông tin buổi học" matTooltipShowDelay="300" matTooltipPosition="above">
                                                        <i class="pi pi-cog"></i>
                                                    </button>
                                                    <button (click)="btnRescheduleClassSessions(classSession)" [disabled]="!(classSession | canSessionBeChanged : maxActivatedSessionOrdering())" class="btn d-flex justify-content-center align-items-center ictu-button-purple-light" [matTooltipDisabled]="classSession.status !== 0" matTooltip="Cập nhật lịch học" matTooltipShowDelay="300" matTooltipPosition="above">
                                                        <i class="pi pi-calendar-clock"></i>
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            } @else {
                                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                                    @if (classObject().curriculum?.length && classObject().time_slots?.length) {
                                        <div class="d-flex justify-content-center align-items-center flex-column" style="gap: 0;color: #333333;">
                                            <div class="d-flex w-100 flex-wrap" style="margin-bottom: 30px;">
                                                <div class="class-planning-distribution-analytics">
                                                    <div class="ictu-statistics-block">
														<span class="ictu-statistics-block__icon">
															<i class="ti ti-bookmarks f-20"></i>
														</span>
                                                        <div class="ictu-statistics-block__content">
                                                            <div class="ictu-statistics-block__title">Tổng số buổi học</div>
                                                            <div class="ictu-statistics-block__value">
                                                                <p class="ictu-statistics-block__value__text text-primary">{{ classObject().curriculum?.length }} buổi</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="class-planning-distribution-analytics">
                                                    <div class="ictu-statistics-block">
														<span class="ictu-statistics-block__icon">
															<i class="ti ti-calendar-event f-20"></i>
														</span>
                                                        <div class="ictu-statistics-block__content">
                                                            <div class="ictu-statistics-block__title">Lịch học</div>
                                                            <div class="ictu-statistics-block__value">
                                                                <p class="ictu-statistics-block__value__text" [ngClass]="classObject().time_slots.length ? 'text-primary' : 'text-danger'">{{ classObject().time_slots.length > 0 ? (classObject().time_slots.length + ' buổi / tuần') : 'Chưa đăng ký lịch học' }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (classObject().started_date) {
                                                <button style="width: min(100%,280px)" (click)="btnPrepareForSynchronization()" class="class-planning-distribution__tabs__content__btn btn ictu-alert ictu-alert-primary m-0 text-center">
                                                    <i class="ti ti-refresh"></i> Phân bổ lịch học
                                                </button>
                                                <small style="margin: 10px 0 0;" class="font-roboto f-13 fw-normal text-muted p-0">Phân bổ lịch học theo khung giờ học đã đăng ký</small>
                                            } @else {
                                                <small style="margin: 10px 0 0;" class="font-roboto f-14 fw-normal text-danger p-0 m-0">Lớp học chưa có ngày khai giảng</small>
                                            }

                                        </div>
                                    } @else {
                                        @if (! classObject().curriculum?.length) {
                                            <span class="ictu-alert ictu-alert-primary m-0 intro-y text-center">Vui lòng khởi tạo chương trình giảng dạy trước.</span>
                                        } @else {
                                            <span class="ictu-alert ictu-alert-primary m-0 intro-y text-center">Vui lòng đăng ký khung giờ học cho lớp học trước.</span>
                                        }
                                    }
                                </div>
                            }
                        }
                        @case ('TIME_SLOT_REGISTER') {
                            <div class="class-planning-distribution__tabs__content">
                                <div class="class-planning-distribution__time-table">
                                    <div class="class-planning-distribution__time-table__head">
                                        <ul class="class-planning-distribution__time-table__list">
                                            <li>
                                                <b class="w-100 fw-medium f-roboto f-14 d-block text-center m-0">#</b>
                                            </li>
                                            <li>
                                                <b class="w-100 fw-medium f-roboto f-14 d-block text-center m-0">Thứ 2</b>
                                            </li>
                                            <li>
                                                <b class="w-100 fw-medium f-roboto f-14 d-block text-center m-0">Thứ 3</b>
                                            </li>
                                            <li>
                                                <b class="w-100 fw-medium f-roboto f-14 d-block text-center m-0">Thứ 4</b>
                                            </li>
                                            <li>
                                                <b class="w-100 fw-medium f-roboto f-14 d-block text-center m-0">Thứ 5</b>
                                            </li>
                                            <li>
                                                <b class="w-100 fw-medium f-roboto f-14 d-block text-center m-0">Thứ 6</b>
                                            </li>
                                            <li>
                                                <b class="w-100 fw-medium f-roboto f-14 d-block text-center m-0">Thứ 7</b>
                                            </li>
                                            <li>
                                                <b class="w-100 fw-medium f-roboto f-14 d-block text-center m-0">Chủ nhật</b>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="class-planning-distribution__time-table__body">
                                        @for (slot of classTimeSlotRegisters(); track slot) {
                                            <ul class="class-planning-distribution__time-table__list class-planning-distribution__time-table__list--body">
                                                <li>
                                                    <b class="fw-medium f-roboto f-14 m-0">{{ slot.timeSlot.name }} : {{ slot.timeSlot.start }} - {{ slot.timeSlot.end }}</b>
                                                </li>
                                                <li data-label="monday">
                                                    <div class="class-planning-distribution__rooms">
                                                        @for (room of slot.days.monday; track room.slug) {
                                                            <ng-container *ngTemplateOutlet="roomTemplate; context: { $implicit: room ,slot , day : 'monday' }"></ng-container>
                                                        }
                                                    </div>
                                                </li>
                                                <li data-label="tuesday">
                                                    <div class="class-planning-distribution__rooms">
                                                        @for (room of slot.days.tuesday; track room.slug) {
                                                            <ng-container *ngTemplateOutlet="roomTemplate; context: { $implicit:  room ,slot , day : 'tuesday' }"></ng-container>
                                                        }
                                                    </div>
                                                </li>
                                                <li data-label="wednesday">
                                                    <div class="class-planning-distribution__rooms">
                                                        @for (room of slot.days.wednesday; track room.slug) {
                                                            <ng-container *ngTemplateOutlet="roomTemplate; context: { $implicit:  room ,slot , day : 'wednesday' }"></ng-container>
                                                        }
                                                    </div>
                                                </li>
                                                <li data-label="thursday">
                                                    <div class="class-planning-distribution__rooms">
                                                        @for (room of slot.days.thursday; track room.slug) {
                                                            <ng-container *ngTemplateOutlet="roomTemplate; context: { $implicit:  room ,slot , day : 'thursday' }"></ng-container>
                                                        }
                                                    </div>
                                                </li>
                                                <li data-label="friday">
                                                    <div class="class-planning-distribution__rooms">
                                                        @for (room of slot.days.friday; track room.slug) {
                                                            <ng-container *ngTemplateOutlet="roomTemplate; context: { $implicit:  room ,slot , day : 'friday' }"></ng-container>
                                                        }
                                                    </div>
                                                </li>
                                                <li data-label="saturday">
                                                    <div class="class-planning-distribution__rooms">
                                                        @for (room of slot.days.saturday; track room.slug) {
                                                            <ng-container *ngTemplateOutlet="roomTemplate; context: { $implicit:  room ,slot , day : 'saturday' }"></ng-container>
                                                        }
                                                    </div>
                                                </li>
                                                <li data-label="sunday">
                                                    <div class="class-planning-distribution__rooms">
                                                        @for (room of slot.days.sunday; track room.slug) {
                                                            <ng-container *ngTemplateOutlet="roomTemplate; context: { $implicit:  room ,slot , day : 'sunday' }"></ng-container>
                                                        }
                                                    </div>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        @case ('CLASS_TIME_SLOTS') {
                            <div class="class-planning-distribution__tabs__content">
                                <div class="admin-wrap-table" style="margin: -1px 0 0 0;">
                                    <table class="tbl admin-table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-index text-center">#</th>
                                                <th class="text-center">Ngày</th>
                                                <th class="text-center">Thời gian</th>
                                                <th class="text-center">Địa điểm</th>
                                                <th class="text-center">Sức chứa</th>
                                                <th class="text-center wid-50">Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @switch (sectionShowTimeSlots()) {
                                                @case ('success') {
                                                    @for (_time_slot of classTimeSlots(); track _time_slot; let i = $index) {
                                                        <tr>
                                                            <td class="col-index text-center">{{ 1 + i }}</td>
                                                            <td class="text-center">{{ _time_slot.weekDayLabel }}</td>
                                                            <td class="text-center">{{ _time_slot.timeSlotLabel }}</td>
                                                            <td class="text-center">{{ _time_slot.roomLabel }}</td>
                                                            <td class="text-center">{{ _time_slot.capacityLabel }}</td>
                                                            <td class="p-0 wid-50">
                                                                <div class="admin-table__btn-actions">
                                                                    <button (click)="deleteClassTimeSlot(i)" class="btn ictu-button-danger-light">
                                                                        <i class="ti ti-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    } @empty {
                                                        <tr>
                                                            <td colspan="6" class="col-index text-center text-danger">Chưa đăng ký khung gờ học</td>
                                                        </tr>
                                                    }
                                                }
                                                @case ('error') {
                                                    <tr>
                                                        <td colspan="6" class="col-index text-center">
                                                            <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
                                                                <a (click)="reloadClassTimeslots($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                @default {
                                                    <tr>
                                                        <td colspan="6" class="col-index text-center">
                                                            <div class="d-block position-relative">
                                                                <mat-progress-bar class="class-planning-distribution__rooms__block__loader" mode="indeterminate" value="40"></mat-progress-bar>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        @default {

                        }
                    }
                </div>
            </div>
        }
        @case ('synchronizeClassSessions') {
            <div class="class-planning-distribution--full-size d-flex justify-content-center align-items-center position-relative">
                <div class="class-planning-curriculum-empty d-flex position-absolute justify-content-center align-items-center flex-column" style="z-index: 50;border-radius: 0;width: 290px;gap: 10px;color: #333333;">
                    <p class="f-15 fw-normal f-roboto lh-base m-0">Phân bổ lịch học theo chương trình học...</p>
                    <div class="ictu-progress-bar ictu-progress-bar--animated">
                        <div [style.width.%]="animationPercent()" class="ictu-progress-bar__pipe" style="background-color: #28a745;"></div>
                    </div>
                    <p class="f-18 fw-bold f-roboto lh-base">{{ animationPercent() }}%</p>
                </div>
            </div>
        }
        @case ('resynchronizeClassSessions') {
            <div class="class-planning-distribution--full-size d-flex justify-content-center align-items-center position-relative">
                <div class="class-planning-curriculum-empty d-flex position-absolute justify-content-center align-items-center flex-column" style="z-index: 50;border-radius: 0;width: 290px;gap: 10px;color: #333333;">
                    <p class="f-15 fw-normal f-roboto lh-base m-0">Đồng bộ lịch học theo chương trình học...</p>
                    <div class="ictu-progress-bar ictu-progress-bar--animated">
                        <div [style.width.%]="syncProgress()" class="ictu-progress-bar__pipe" style="background-color: #28a745;"></div>
                    </div>
                    <p class="f-18 fw-bold f-roboto lh-base">{{ syncProgress() }}%</p>
                </div>
            </div>
        }
        @case ('synchronizeClassSessionsFails') {
            <div class="class-planning-distribution--full-size d-flex justify-content-center align-items-center" style="background-color: rgb(255 255 255 / 71%);z-index: 50;border-radius: 0;backdrop-filter: blur(10px)">
                <div class="d-flex justify-content-center align-items-center flex-column" style="width: min(calc(100% - 30px) , 520px);gap: 30px;color: #333333;">
                    <p class="ictu-alert ictu-alert-danger m-0 text-center">Quá trình phân bổ bài học theo chương trình học bị gián đoạn!. </p>
                    <button (click)="btnPrepareForSynchronization()" mat-flat-button class="btn ictu-badge-btn--primary-reverse">
                        <i class="ti ti-refresh"></i> Tái phân bổ bài học theo chương trình học
                    </button>
                </div>
            </div>
        }
        @default {

        }
    }
</div>

<ng-template #roomTemplate let-day="day" let-room let-slot="slot">
    <div [class.class-planning-distribution__rooms__block--active]="this.requestAssignTimeSlotSlug() === room.slug" class="class-planning-distribution__rooms__block">
        <div class="class-planning-distribution__rooms__block__head">
            <b class="class-planning-distribution__rooms__block__head--room-name">{{ room.name }}</b><span>{{ room.code }}</span>
        </div>
        <div class="class-planning-distribution__rooms__block__body position-relative">
            @if (this.requestAssignTimeSlotSlug() === room.slug) {
                <mat-progress-bar class="class-planning-distribution__rooms__block__loader" mode="indeterminate" value="40"></mat-progress-bar>
            }
            @for (c of room.assigned; track c) {
                <p class="class-planning-distribution__rooms__class-name ictu-text-truncate" [ngClass]="c.id === classObject()?.id ? 'text-primary' : 'text-warning'" style="--ictu-text-truncate-line-clamp: 1;">{{ c.name }}</p>
            }
        </div>
        <div class="class-planning-distribution__rooms__block__foot py-0 justify-content-end">
            <span><i class="ti ti-users me-1 f-15"></i>{{ room.capacity }}</span>
        </div>
        <button (click)="btnChooseClassTimeSlot(day,slot.timeSlot,room)" [pTooltip]="(day | classTimeSlotDay2Text) +'\n'+slot.timeSlot.name+' : '+slot.timeSlot.start+' - '+slot.timeSlot.end+'\n'+room.name" [showDelay]="200" appendTo="body" class="btn class-planning-distribution__rooms__block__button" tooltipPosition="right" tooltipStyleClass="ictu-input-form__tooltip"></button>
    </div>
</ng-template>

<p-dialog [(visible)]="visibleDialog" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '300px'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-layout--no-border ictu-dialog-layout--hide-header ictu-dialog-layout--no-footer">
    <div class="ictu-dialog-layout__wrapper" style="user-select: none">
        <div class="ictu-dialog-layout__header">
            <h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold f-15">Xác nhận lịch đăng ký</h4>
            <button (click)="btnClosePanel()" class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button>
                <i class="ti ti-x"></i>
            </button>
        </div>
        <div class="ictu-dialog-layout__body">
            <div class="tm-registration-form w-100 flex-column d-flex position-relative">
                <div class="d-block">
                    <p class="text-dark d-block text-nowrap pb-2 m-0 f-15 font-roboto fw-medium">
                        <i class="ti ti-calendar me-2"></i>{{ requestAssignTimeDay() }}
                    </p>
                    <p class="text-dark d-block text-nowrap pb-2 m-0 f-15 font-roboto fw-normal">
                        <i class="ti ti-clock me-2"></i>{{ requestAssignTimeLabelTime() }}
                    </p>
                    <p class="text-dark d-block text-nowrap pb-2 m-0 f-15 font-roboto fw-normal">
                        <i class="ti ti-map-pin me-2"></i>{{ requestAssignTimeLabelRoom() }}
                    </p>
                    <p class="text-dark d-block text-nowrap pb-0 m-0 f-15 font-roboto fw-normal">
                        <i class="ti ti-users me-2"></i>{{ requestAssignTimeLabelRoomCapacity() }}
                    </p>
                </div>
                <div class="tm-registration-form__row">
                    <div class="tm-registration-form__separator"></div>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="gap: var(--trf-form-gap, 15px);">
                    <button (click)="btnClosePanel()" class="btn ictu-badge-btn--secondary" mat-flat-button style="min-width: calc(50% - (15px / 2))">Hủy</button>
                    <button (click)="btnSavePanel()" class="btn ictu-badge-btn--primary-reverse" mat-flat-button style="min-width: calc(50% - (15px / 2))">Xác nhận</button>
                </div>
            </div>
        </div>
        @if (enableDialogAnimation()) {
            <app-loading-progress class="loading-progress--size-250" heading="Cập nhật thông tin"></app-loading-progress>
        }
    </div>
</p-dialog>

<p-dialog [(visible)]="visibleUpdateSectionDialog" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '650px'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-layout--no-border ictu-dialog-layout--hide-header ictu-dialog-layout--no-footer">
    <div class="ictu-dialog-layout__wrapper">
        <div class="ictu-dialog-layout__header">
            <h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">Cập nhật thông tin lịch học</h4>
            <button (click)="closeDialog(false)" class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button>
                <i class="ti ti-x"></i>
            </button>
        </div>
        <div class="ictu-dialog-layout__body p-0" style="min-height: 100px">
            @if (updateSectionID()) {
                <tm-form-edit-class-session [classSessionID]="updateSectionID()" [(employeeStore)]="employeeStore" (onClose)="closeDialog($event)"></tm-form-edit-class-session>
            }
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="visibleRescheduleSectionDialog" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '650px'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-layout--no-border ictu-dialog-layout--hide-header ictu-dialog-layout--no-footer">
    <div class="ictu-dialog-layout__wrapper">
        <div class="ictu-dialog-layout__header">
            <h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">Điều chỉnh lịch học</h4>
            <button (click)="closeDialog(dirty())" class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button>
                <i class="ti ti-x"></i>
            </button>
        </div>
        <div class="ictu-dialog-layout__body p-0" style="min-height: 100px">
            @if (rescheduleSectionID()) {
                <cpd-reschedule-class-session-form [(changed)]="dirty" [classSessionID]="rescheduleSectionID()" [classSessions]="classSessionCalendar()" [classObject]="classObject()" [(classBranch)]="classBranch" (onClose)="closeDialog($event)"></cpd-reschedule-class-session-form>
            }
        </div>
    </div>
</p-dialog>
