.admin-wrap-class-planning-curriculum-activities {
    display: flex;
    flex-direction: column;
    min-height: calc(var(--device-height) * 0.75);
}

.admin-wrap-class-planning-curriculum-activities--justify-center {
    justify-content: center;
    align-items: center;
}

.curriculum-activities-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.curriculum-activities-main__header {
    line-height: 1.4;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 0px;
}

.curriculum-activities-main__body {
    flex: 1;
    padding-top: 10px;
}

.curriculum-activities-main__body__activities {
    min-height: 50px;
    display: flex;
    align-items: center;
}

.curriculum-activities-avatar-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 0 2px #d8e6f9;
}

.admin-table td {
    border: none;
    border-bottom: 1px solid var(--admin-table-border-color);
}

.admin-table th {
    border: none;
    border-bottom: 1px solid var(--admin-table-border-color);
}

.admin-wrap-table__body {
    border: 1px solid var(--admin-table-border-color);
}

.class-planning-curriculum-activities-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 250px;
    gap: 6px;
}

.class-planning-curriculum-activities-comment-ta {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;

}

.class-planning-curriculum-activities-comment-ta-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #d8e6f9;
    border-radius: 10px;
    min-height: 100px;
    background: #f1f6ffa4;
}

.class-planning-curriculum-activities-comment-ta-item__top {
    display: flex;
    min-height: 150px;
    gap: 10px;
    padding: 10px 10px 0px 10px;
}

.class-planning-curriculum-activities-comment-ta-item__top-img {
    border-radius: 10px;
    width: 150px;
    min-height: 150px;
}

.class-planning-curriculum-activities-comment-ta-item__top-content {
    border: 1px solid #d8e6f9;
    padding: 4px 6px;
    border-radius: 10px;
    background: white;
    flex: 1;
}

.class-planning-curriculum-activities-comment-ta-item__bottom {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 0px 10px;
}

.class-planning-curriculum-activities-comment-ta-item__bottom-teacher {
    padding: 5px 0px;
    text-align: center;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.class-planning-curriculum-activities-comment-ta-item__bottom-ta {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ictu-badge {
    height: 46.5px;
}

.class-planning-curriculum-activities-create-report {
    height: calc(var(--device-height, 100vh) - 55px);
    overflow-y: auto;
}

.class-planning-curriculum-activities-create-report__head{
    
}

.class-planning-curriculum-activities-create-report__body{
    display: flex;
    flex-direction: column;
}

.class-planning-curriculum-activities-create-report__foot{

}