<section class="admin-wrap-class-planning-curriculum-activities position-relative">
	@if (state() === 'loading') {
		<app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
	}
		@if(this.class_session().status != 0 && state() === 'success'){
         @switch (mode()) {
            @case('default'){
                <div class="admin-wrap-table">
                    <p-tabs style="width: 100%;" value="0">
                        <p-tablist>
                            <p-tab value="0">Học sinh</p-tab>
                            <p-tab value="1">Buổi học</p-tab>
                        </p-tablist>
                        <p-tabpanels>
                            <p-tabpanel value="0">
                                <div class="admin-wrap-table__body">
                                    <table class="tbl admin-table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Học sinh</th>
                                                <th class="text-center">Nhận xét</th>
                                                <th class="wid-100 text-center">Người nhận xét</th>
                                                <!-- <th class="wid-60 text-center">Media</th> -->
                                                <!-- <th class="wid-90 text-center">Hành động</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (row of dataTable.data(); track row.id; let i = $index) {
                                                <tr>
                                                    <td class="wid-100 text-center">
                                                        @for (student of row.students; track student.id; let indexStudent = $index){
                                                            <button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{profile: student, defaultAvatar: 'images/user/avatar-1.jpg'}" class="button--un-set-style">
                                                                <img [src]="student.avatar || 'images/user/avatar-1.jpg'" alt="avatar" class="curriculum-activities-avatar-circle">
                                                            </button>
                                                        }
                                                    </td>
                                                    <td class="text-left">
                                                       {{row.comment}}
                                                    </td>
                                                    <td class="wid-100 text-center">
                                                            <button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{profile: row.assistants, defaultAvatar: 'images/user/avatar-3.jpg'}" class="button--un-set-style">
                                                                <img [src]="row.assistants.photo || 'images/user/avatar-3.jpg'" alt="avatar" class="curriculum-activities-avatar-circle">
                                                            </button>
                                                    </td>
                                                    <!-- <td class="wid-60 text-center">
                                                        <button class="btn ictu-button-primary-light" pTooltip="Xem Media" tooltipPosition="top" (click)="setStudentMedia(row.media_remake)">
                                                            <i class="ti ti-aspect-ratio"></i>
                                                        </button>
                                                    </td> -->
                                                    <!-- <td class="p-0 wid-90">
                                                        <div class="admin-table__btn-actions">
                                                            <button class="btn ictu-button-success-light" pTooltip="Xem nhận xét gốc" tooltipPosition="left" (click)="viewCommentOld(i)">
                                                                <i class="ti ti-eye"></i>
                                                            </button>
                                                        </div>
                                                    </td> -->
                                                </tr>
                                        }
                                        @empty {
                                            <tr>
                                                <td colspan="12">Không có bản ghi nào.</td>
                                            </tr> 
                                        }
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </p-tabpanel>
                            <p-tabpanel value="1">
                                <div class="class-planning-curriculum-activities-comment-ta">
                                    @if(teacherClassSession()){
                                        @for (row of dataTableSesssion.data(); track row.id; let i = $index) {
                                            <div class="class-planning-curriculum-activities-comment-ta-item">
                                                <div class="class-planning-curriculum-activities-comment-ta-item__top">
                                                    <img class="class-planning-curriculum-activities-comment-ta-item__top-img" [src]="teacherClassSession().photo || 'images/user/avatar-3.jpg'" alt="" width="50" height="50">
                                                    <div class="class-planning-curriculum-activities-comment-ta-item__top-content">{{row.comment}}</div>
                                                </div>
                                                <div class="class-planning-curriculum-activities-comment-ta-item__bottom">
                                                    <div class="class-planning-curriculum-activities-comment-ta-item__bottom-teacher">
                                                        <div style="font-weight: 500;">{{teacherClassSession().full_name}}</div>
                                                        <div style="border-top: 1px solid #d8e6f9; width: 100%; font-size: 11px;">Giáo viên</div>
                                                    </div>
                                                    <div class="class-planning-curriculum-activities-comment-ta-item__bottom-ta">
                                                        <div>Người nhận xét: </div>
                                                        <button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{profile: row.assistants, defaultAvatar: 'images/user/avatar-3.jpg'}" class="button--un-set-style">
                                                            <img [src]="row.assistants.photo || 'images/user/avatar-3.jpg'" alt="avatar" class="curriculum-activities-avatar-circle">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @empty{
                                            <div class="admin-wrap-class-planning-curriculum-activities admin-wrap-class-planning-curriculum-activities--justify-center">
                                                <span class="ictu-badge ictu-badge--danger">Chưa có nhận xét của trợ giảng về buổi học</span>
                                            </div>
                                        }
                                    }@else{
                                        <div class="admin-wrap-class-planning-curriculum-activities admin-wrap-class-planning-curriculum-activities--justify-center">
                                            <span class="ictu-badge ictu-badge--danger">Buổi học chưa được phân cho giáo viên</span>
                                        </div>
                                    }
                                </div>
                            </p-tabpanel>
                        </p-tabpanels>
                    </p-tabs>
                </div>
            }
            @case('report'){
                <div class="admin-wrap-table">
                    <div class="admin-wrap-table__head d-flex" style="border: 1px solid var(--admin-table-border-color);">
                            <h4 class="admin-wrap-table__heading">
                               <svg>
                                    <use href="fonts/custom-icon.svg#custom-presentation-chart"></use>
                                </svg>
                                Tạo báo cáo
                            </h4>
                            <div class="admin-wrap-table__head-actions">
                                <button mat-flat-button class="btn ictu-badge-btn--success-reverse">Lưu</button>
                                <button (click)="setMode('default')" class="btn ictu-badge-btn--danger-reverse" mat-flat-button><i class="ti ti-x"></i></button>
                            </div>
                        
                    </div>
                    <div class="admin-wrap-table__body class-planning-curriculum-activities-create-report">
                        <app-report-editor [(reportPartContent)]="reportPartContent"></app-report-editor> 
                    </div>
                </div>
            }
         }
        }@else {
            <div class="admin-wrap-class-planning-curriculum-activities admin-wrap-class-planning-curriculum-activities--justify-center">
                <span class="ictu-badge ictu-badge--danger">Buổi học chưa được bắt đầu</span>
            </div>
        }
</section>
<mat-menu #menu="matMenu" yPosition="above" >
	<ng-template matMenuContent let-profile="profile" let-defaultAvatar="defaultAvatar">
		<div class="class-planning-curriculum-activities-profile">
            @if(profile.avatar){
                <img [src]="profile.avatar || defaultAvatar" alt="avatar" class="curriculum-activities-avatar-circle" style="width: 100px; height: 100px">
            }@else{
                <img [src]="profile.photo || defaultAvatar" alt="avatar" class="curriculum-activities-avatar-circle" style="width: 100px; height: 100px">
            }
            @if(profile.english_name){
                <div style="font-weight: 500;">{{ profile.full_name }} ({{profile.english_name}})</div>
            }@else {
                <div style="font-weight: 500;">{{ profile.full_name }}</div>
            }
            <div>{{ profile.dob | date: 'dd/MM/yyyy'}}</div>
        </div>
	</ng-template>
</mat-menu>


<p-dialog [(visible)]="visibleDialog" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '100vh', minHeight: '200px', maxHeight: '90vh'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-layout--no-border ictu-dialog-layout--hide-header ictu-dialog-layout--hide-overflow">
	<div class="ictu-dialog-layout__wrapper">
		<div class="ictu-dialog-layout__header">
			<h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">Media</h4>
			<button (click)="visibleDialog = false" class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button>
				<i class="ti ti-x"></i>
			</button>
		</div>
		<div class="ictu-dialog-layout__body">
			<div class="class-activities-album-media-format class-activities-album-media-format--border-none">
                <div class="class-activities-album-media-session d-flex flex-wrap">
                        @for (item of classMediaSession; track item; let index = $index) {
                            <div class="class-activities-album-media__item_media-session" style="border: none; margin: 0px;">
                                @switch(checkTypeFile(item.media)){
                                    @case('image'){
                                        <app-class-curriculum-lecture-media-picture [media]="setMediaContentClassMedia(item.media, 'picture')" class="w-100 h-100"></app-class-curriculum-lecture-media-picture>
                                    }
                                    @case('video'){
                                        <!-- <class-curriculum-lecture-media-video [media]="setMediaContentClassMedia(item.file, 'video')" class="w-100 h-100"></class-curriculum-lecture-media-video> -->
                                        <app-view-document type_view="VIDEO" [link]="setSrcMedia(item.media)"></app-view-document>
                                    }
                                    @case('undefine'){}
                                }
                            </div>
                        }@empty {
                            <div style="display: flex; justify-content: center; align-items: center; height: 100px; width: 100%;">
                                <span class="ictu-badge ictu-badge--danger">Không có Media</span>
                            </div>
                        }
                </div>
            </div>
		</div>
	</div>
</p-dialog>

<p-dialog [(visible)]="visibleDialogReview" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '500px', maxHeight: '90vh'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-layout--no-border ictu-dialog-layout--hide-header ictu-dialog-layout--hide-overflow">
	<div class="ictu-dialog-layout__wrapper">
		<div class="ictu-dialog-layout__header">
			<h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">Duyệt nhận xét</h4>
			<button (click)="visibleDialogReview = false" class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button>
				<i class="ti ti-x"></i>
			</button>
		</div>
		<div class="ictu-dialog-layout__body">
		</div>
        <div class="ictu-p-drawer__content__footer">
            <button (click)="visibleDialogReview = false" class="btn ictu-badge-btn--secondary" mat-flat-button>Hủy</button>
            <button class="btn ictu-badge-btn--primary-reverse" mat-flat-button>Lưu lại</button>
        </div>
	</div>
</p-dialog>

