<div class="admin-wrap-table">
    <div class="admin-wrap-table__head d-flex">
        <h4 class="admin-wrap-table__heading">
            <svg>
                <use href="fonts/custom-icon.svg#custom-folder-open-2"></use>
            </svg>
            Danh sách học phí
        </h4>
        <div class="admin-wrap-table__head-actions position-relative"></div>
    </div>
    <div class="admin-wrap-table__body">
        <ng-scrollbar orientation="vertical" style="height: calc(var(--device-height) - 51px - 51px - 8px);--_scrollbar-hover-thickness-px:10px;--_viewport-padding-right: 0;--_scrollbar-wrapper-width: 8px;" visibility="hover">
            <table class="tbl admin-table table-hover admin-table--sticky-head">
                <thead>
                <tr>
                    <th class="col-index text-center">#</th>
                    <th class="x-col-avatar-name wid-240" colspan="2">Học sinh</th>
                    <th class="x-col-class wid-200">Lớp</th>
                    <th class="x-col-lesson">Bài học</th>
                    <th class="x-col-date px-0 text-center wid-130">Thời hạn</th>
                    <th class="x-col-date px-0 text-center wid-150">Lịch học</th>
                    <th class="x-col-status wid-150 text-center">Trạng thái</th>
                    <th class="wid-85 text-center px-0">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="9">Không có bản ghi nào.</td>
                </tr>
                </tbody>
            </table>
        </ng-scrollbar>
    </div>
</div>
