<div class="header-button">
	<button (click)="toggleMenu()" class="header-item sidebar-collapse" mat-button>
		<a class="pc-head-link" href="javascript:">
			<!-- <i class="ti ti-menu-2"></i> -->
			<svg fill="currentColor" class="pc-icon" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
		</a>
	</button>
	<!-- <button [matMenuTriggerFor]="menu" aria-label="search" class="header-item" mat-button>
		<a class="pc-head-link">
			<svg class="pc-icon">
				<use href="fonts/custom-icon.svg#custom-search-normal-1"></use>
			</svg>
		</a>
	</button>
	<mat-menu #menu="matMenu" class="dropdown-item-search">
		<mat-form-field class="w-100">
			<input (click)="$event.stopPropagation()" matInput placeholder="Search here. . ." />
		</mat-form-field>
	</mat-menu> -->
</div>
