.admin-wrap-table__switchers {
    --admin-switcher-active-color-rgb: 70 128 255;
    --admin-switcher-border-radius: 2px;
    display: flex;
    padding: 1px;
    gap: 0;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #aac4ff;*/
    border: 1px solid rgb(var(--admin-switcher-active-color-rgb)/20%);
    background-color: transparent;
    border-radius: calc(var(--admin-switcher-border-radius) + 1px);
}

.admin-wrap-table__switchers__btn-label,
.admin-wrap-table__switchers__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    line-height: 1.5;
    padding: 5px;
    min-width: 60px;
    cursor: pointer;
    background-color: rgb(var(--admin-switcher-active-color-rgb)/10%);
    color: rgb(var(--admin-switcher-active-color-rgb));
    height: 36px;
    user-select: none;
}

.admin-wrap-table__switchers__btn:first-child {
    border-radius: var(--admin-switcher-border-radius) 0 0 var(--admin-switcher-border-radius);
}

.admin-wrap-table__switchers__btn:last-child {
    border-radius: 0 var(--admin-switcher-border-radius) var(--admin-switcher-border-radius) 0;
}

.admin-wrap-table__switchers--next>.btn:hover,
.admin-wrap-table__switchers__btn.active {
    background-color: rgb(var(--admin-switcher-active-color-rgb)/100%);
    color: #ffffff;
}

.admin-wrap-table__switchers--next {
    gap: 1px
}

.admin-wrap-table__switchers--next>.btn {
    min-width: 36px;
}

.admin-wrap-table__switchers__btn-label__lbl i {
    font-size: 18px;
    line-height: 1;
    height: 100%;
    display: inline-flex;
    width: 36px;
    justify-content: center;
    align-items: center;
    background-color: rgb(218 230 255);
}

.admin-wrap-table__switchers__btn-label__lbl span {
    line-height: 1.5;
    font-weight: 500;
    margin: 0 0 -4px 0;
    width: 150px;
    text-align: left;
    font-family: var(--primary-font-family), sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0 0 0 10px;
}

/*.admin-table {*/
/*    width: 100%;*/
/*    !*table-layout: fixed;*!*/
/*}*/

/*.admin-table .x-col-day-in-week {*/
/*    width: calc((100% - 450px) / 7);*/
/*}*/

/*.admin-table .x-col-avatar {*/
/*    width: 25%;*/
/*}*/

/*.admin-table th,*/
/*.admin-table td {*/
/*    box-sizing: border-box;*/
/*}*/

.x-col-day-in-week {
    vertical-align: top;
    min-width: 140px;
}

.x-col-day-session {
    min-width: 80px;
    font-weight: 500;
}

.admin-table {
    min-width: max-content;
}

.admin-wrap-table__body {
    position: relative;
}

.admin-wrap-table__body::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    left: 1px;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgb(247, 247, 247);
    z-index: 10;
    margin: 0 0 0 -1px;
    border-left: 1px solid var(--admin-table-border-color);
    top: 0;
}

.admin-table thead {
    z-index: 40;
}

.admin-table thead th {
    position: sticky;
    top: 0;
    z-index: 50;
    background: #f7f7f7;
}

.x-col-sticky-th,
.x-col-sticky-td {
    position: sticky;
}

.x-col-sticky-th {
    z-index: 100;
    background: #f7f7f7;
}

.x-col-sticky-td {
    z-index: 10;
    background: #fff;
}

.x-col-index {
    left: 1px;
    min-width: 50px;
    width: 50px;
    z-index: 1;
}

.x-col-name {
    left: 51px;
    min-width: 240px;
    width: 240px;
    z-index: 1;
}
.x-col-name::after,
.x-col-index::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    left:auto;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 10;
    margin: 0;
    border-right: 1px solid var(--admin-table-border-color);
    top: 0;
}

.x-col-name::before,
.x-col-index::before{
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    left:-1px;
    right: auto;
    bottom: 5px;
    height: calc(100% - 10px);
    z-index: 5;
    margin: 0;
    background-color: #fff;
    top: 5px;
}

th.x-col-name::before,
th.x-col-index::before{
    background-color: #f7f7f7;
}

.admin-table tr:hover{
    background-color: transparent;
}

.admin-table tr:hover>td:not(.x-col-name):not(.x-col-index){
    background-color: rgba(0, 0, 0, .04);
}

.admin-table thead .x-col-index,
.admin-table thead .x-col-name {
    z-index: 120;
}


.teaching-statistic__sessions {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.teaching-statistic__sessions__elm:not(:first-child)::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px dashed #aaaaaa;
    margin: 10px 0 10px;
}