<input type="file" #fileChooser hidden="true" [multiple]="multiple()" [accept]="accept()" (change)="onInputAvatar($event , fileChooser)">

<div class="w-100 h-100 p-3" style="border: 1px dashed #ccc">

    <div class="bg-container" [ngStyle]="{'height':height() }">
        <div class="btn-Add" [ngClass]="listFile().length > 0 ? 'view-list-item'  : ''">

            @if (!disabled()) {
                <button class="button" (click)="fileChooser.click()">
                    <i class="fa fa-camera"></i>
                </button>
            }

            @if (disabled()) {
                <button class="button">
                    <i class="fa fa-camera"></i>
                </button>
            }

        </div>

        @if (listFile().length > 0) {
            <div class="list-file">
                @for (item of listFile(); track trackByFile($index, item)) {
                    <div class="list-file_item">
                        <img class="imgchecksize"
                             [ngClass]="footage() == 'vertical' ? 'vertical' : 'horizontal'"
                             [src]="item.url"
                             alt="">

                        <div class="btn-delete">
                            <button pRipple pButton icon="pi pi-trash"
                                    class="p-button-raised p-button-raised p-button-danger"
                                    (click)="btnDeleteFile(item)"></button>
                        </div>

                        <div class="view-btn overlay-buttons">
                            <button class="button" (click)="btnviewImage(item)">
                                <i class="fa fa-picture-o"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        }

    </div>

</div>

<p-galleria [value]="listFile()"
            [visible]="displayBasic()"
            (visibleChange)="displayBasic.set($event)"
            [(activeIndex)]="activeIndex"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{'max-width': '50%'}"
            [circular]="true"
            [fullScreen]="true"
            [showItemNavigators]="true"
            [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
        <p-image [src]="item.url" alt="Image" width="500" [preview]="true"></p-image>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.url" style="display: block;" />
        </div>
    </ng-template>
</p-galleria>
