@switch (state()) {
    @case ('success') {
        <app-class-progress-calculator [value]="completionRate()"></app-class-progress-calculator>
    }
    @case ('error') {
        <div class="p-0 m-0 d-flex justify-content-center align-items-center">
            <button (click)="reload($event)" class="btn ictu-button-danger-light f-14">
                <i class="fa-classic fa-solid fa-arrows-rotate-reverse f-13"></i> Reload
            </button>
        </div>
    }
    @default {
        <div class="d-flex p-5 w-100">
            <span class="ictu-skeleton w-100 hei-20 d-block"></span>
        </div>
    }
}
