.loading-progress {
    &__inside {
        --loading-animation-inside-width: 300px;
        --loading-animation-inside-padding: 20px;
        --loading-animation-inside-background: #fff;
        --loading-animation-inside-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);
        --loading-animation-inside-border-radius: 6px;
        width: var(--loading-animation-inside-width);
        padding: var(--loading-animation-inside-padding);
        background-color: var(--loading-animation-inside-background);
        box-shadow: var(--loading-animation-inside-box-shadow);
        border-radius: var(--loading-animation-inside-border-radius);

        &--transparent {
            --loading-animation-inside-width: 300px;
            --loading-animation-inside-padding: 0;
            --loading-animation-inside-background: transparent;
            --loading-animation-inside-box-shadow: none;
            --loading-animation-inside-border-radius: 0;
        }
    }

    &__heading {
        font-family: var(--primary-font-family), sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 10px;
        line-height: 1.5;
    }
}