@if (data()) {
    <div class="feedback-section">
        <div class="feedback-card" [ngClass]="staffRole() === 'TEACHER' ? 'feedback-teacher' : 'feedback-ta'">
            <!--<div class="feedback-card border-0">-->
            <div class="feedback-avatar">
                <div class="avatar-circle overflow-hidden">
                    <img class="w-100 d-block" style="height: auto;object-fit: cover;" [ngSrc]="data()?.employee | employeePhoto" width="32" height="32">
                </div>
            </div>
            <div class="feedback-content">
                <div class="feedback-header">
                    <span class="feedback-name">{{ staffName() }}</span>
                    <span class="feedback-role">{{ staffRole() === 'TEACHER' ? 'Giáo viên' : 'Trợ giảng' }}</span>
                    @if (!disableRewrite()) {
                        <button (click)="openRewriteFeedback()" matTooltip="Biên tập nhận xét" matTooltipPosition="above" class="btn btn-feedback-edit d-inline-flex justify-content-center align-items-center p-0 m-b-0 m-t-0 m-r-0 ms-auto wid-20 hei-20">
                            <i class="f-16 fa-classic fa-solid fa-edit"></i>
                        </button>
                    }
                </div>
                @if (rewrite()) {
                    <textarea rows="3" [(ngModel)]="data().comment" (ngModelChange)="triggerChanged()" pTextarea class="comment-reviewer-activity__textarea"></textarea>
                } @else {
                    <p class="feedback-text f-roboto f-14 lh-base fw-normal m-0">{{ data().comment }}</p>
                }
            </div>
        </div>
    </div>
}
