/*************************************************************
 * add class lesson template
 *************************************************************/
.cpc-add-class-lesson {
    --cpc-add-class-lesson-gap: 20px;
    --cpc-add-class-lesson-left-collumn-size: 130px;
    --cpc-add-class-lesson-right-collumn-size: calc(100% - var(--cpc-add-class-lesson-left-collumn-size) - var(--cpc-add-class-lesson-gap));
    gap: var(--cpc-add-class-lesson-gap, 20px);
    padding: 15px;
}

.cpc-add-class-lesson__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--cpc-add-class-lesson-gap, 20px);
}

.cpc-add-class-lesson__col-left {
    width: var(--cpc-add-class-lesson-left-collumn-size);
    max-width: var(--cpc-add-class-lesson-left-collumn-size);
    min-width: var(--cpc-add-class-lesson-left-collumn-size);
    min-height: 43px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.cpc-add-class-lesson__col-left i {
    font-size: 22px;
    line-height: 1;
    margin: -5px 0 0 0;
    color: #666666;
}

.cpc-add-class-lesson__label {
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
    font-weight: 500;
}

.cpc-add-class-lesson__col-right {
    width: var(--cpc-add-class-lesson-right-collumn-size);
    max-width: var(--cpc-add-class-lesson-right-collumn-size);
    min-width: var(--cpc-add-class-lesson-right-collumn-size);
    min-height: 43px;
}

.cpc-add-class-lesson__text,
.cpc-add-class-lesson__textarea,
.cpc-add-class-lesson__input {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    width: 100%;
    border-radius: 4px;
    font-family: var(--primary-font-family), sans-serif;
    color: #333333;
    padding: 10px;
}

.cpc-add-class-lesson__textarea {
    resize: vertical;
}

.cpc-add-class-lesson__text {
    margin: 0;
    background: var(--p-inputtext-background);
    border: 1px solid var(--p-inputtext-border-color, #cbd5e1);
}

.cpc-add-class-lesson__text:not(button) {
    background-color: #f1f1f1;
    border: none;
    user-select: none;
}

.cpc-add-class-lesson__buttons-menu {
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.cpc-add-class-lesson__buttons-menu--icon-after {
    padding-right: 20px;
    position: relative;
}

.cpc-add-class-lesson__icon-after {
    position: absolute;
    right: 5PX;
    font-size: 15px;
    line-height: 1;
    top: calc(50% - 7.5px);
    color: #888888;
}

.cpc-add-class-lesson__group-btn-inline {
    --cpc-add-class-lesson-group-btn-inline-gap: 20px;
    --cpc-add-class-lesson-element-width: calc((100% - var(--cpc-add-class-lesson-group-btn-inline-gap) - var(--cpc-add-class-lesson-group-btn-inline-gap)) / 3);
    gap: var(--cpc-add-class-lesson-group-btn-inline-gap);
}

.cpc-add-class-lesson__group-btn-inline__element {
    min-width: var(--cpc-add-class-lesson-element-width);
    width: var(--cpc-add-class-lesson-element-width);
    max-width: var(--cpc-add-class-lesson-element-width);
    border: none !important;
    outline: none !important;
    height: 43px;
    min-height: 43px;
    max-height: 43px;
    padding: 0;
    gap: 5px;
    border-radius: 4px;
    color: #525252;
    cursor: pointer;
    background-color: #f1f1f1;
}

.cpc-add-class-lesson__group-btn-inline__element:not(.btn-element--active):hover {
    background-color: #e5e5e5;
}

.btn-element--active {
    background-color: #3667F0 !important;
    color: #ffffff !important;
}

.cpc-add-class-lesson__separator {
    margin: 0;
    opacity: 1;
    border-top: 1px solid #d4d4d8;
}


.tm-registration-curriculum-info {
    display: flex;
    flex-flow: column nowrap;
}

.tm-registration-curriculum-info__head {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: 44px;
    padding: 0 10px;
    background-color: #f1f1f1;
}

.tm-registration-curriculum-info__head i {
    margin: -5px 0 0 0;
    line-height: 1;
}

.tm-registration-curriculum-info__textbook-name {
    font-size: 15px;
    font-weight: 700;
    margin: 0 auto 0 0;
    line-height: 1.5;
    max-width: calc(100% - 30px - 170px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tm-registration-curriculum-info__search {
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 400;
}

.tm-registration-curriculum-info__body {
    --registration-curriculum-info-body-height: min(calc(var(--device-height) - 44px - 30px), calc(48px * 5));
    display: block;
    height: var(--registration-curriculum-info-body-height);
    min-height: var(--registration-curriculum-info-body-height);
    max-height: var(--registration-curriculum-info-body-height);
    overflow-y: auto;
}

.tm-registration-curriculum-info__empty {
    display: flex;
    height: var(--registration-curriculum-info-body-height);
    min-height: var(--registration-curriculum-info-body-height);
    max-height: var(--registration-curriculum-info-body-height);
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.tm-registration-curriculum-info__empty__text {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    margin: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    padding: 10px;
    border-radius: 4px;
}
