<div class="cpc-add-class-lesson w-100 flex-column d-flex position-relative">
    <!-- Lớp -->
    <div class="cpc-add-class-lesson__row">
        <div class="d-inline-flex cpc-add-class-lesson__col-left">
            <i class="ti ti-briefcase"></i><span class="cpc-add-class-lesson__label">Lớp</span>
        </div>
        <div class="d-inline-flex cpc-add-class-lesson__col-right">
            <p class="cpc-add-class-lesson__text fw-medium">{{ classObject()?.name }}</p>
        </div>
    </div>

    <!-- Loại -->
    <div class="cpc-add-class-lesson__row">
        <div class="d-inline-flex cpc-add-class-lesson__col-left">
            <i class="ti ti-puzzle"></i><span class="cpc-add-class-lesson__label">Loại</span>
        </div>
        <div class="d-inline-flex cpc-add-class-lesson__col-right">
            <div class="d-flex cpc-add-class-lesson__group-btn-inline w-100">
                <button (click)="btnSetLessonType('lesson')" class="cpc-add-class-lesson__group-btn-inline__element d-flex align-items-center justify-content-center" type="button" [class.btn-element--active]="lessonType()==='lesson'">
                    <i class="ti ti-book f-18" style="line-height: 1; margin: -3px 0 0"></i>
                    <span class="fw-normal f-roboto f-14 lh-base m-0 p-0">Bài học</span>
                </button>
                <button (click)="btnSetLessonType('activity')" class="cpc-add-class-lesson__group-btn-inline__element d-flex align-items-center justify-content-center" type="button" [class.btn-element--active]="lessonType()==='activity'">
                    <i class="ti ti-ball-football f-18" style="line-height: 1; margin: -3px 0 0"></i>
                    <span class="fw-normal f-roboto f-14 lh-base m-0 p-0">Ngoại khóa</span>
                </button>
                <button (click)="btnSetLessonType('other')" class="cpc-add-class-lesson__group-btn-inline__element d-flex align-items-center justify-content-center" type="button" [class.btn-element--active]="lessonType()==='other'">
                    <i class="ti ti-triangle-square-circle f-18" style="line-height: 1; margin: -3px 0 0"></i>
                    <span class="fw-normal f-roboto f-14 lh-base m-0 p-0">Khác</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Chủ đề -->
    @switch (lessonType()) {
        @case ('lesson') {
            <div class="cpc-add-class-lesson__row">
                <div class="d-inline-flex cpc-add-class-lesson__col-left">
                    <i class="ti ti-book"></i><span class="cpc-add-class-lesson__label">Bài học</span>
                </div>
                <div class="d-inline-flex cpc-add-class-lesson__col-right">
                    <p-select appendTo="body" style="--p-select-border-radius: 4px;--p-select-padding-x: 10px;--p-select-padding-y: 5px;" [filter]="true" filterBy="searchText" [showClear]="false" panelStyleClass="ictu-standard-select-panel" [options]="courseLessonOptions()" [(ngModel)]="courseLessonOptionSelected" optionLabel="title" optionValue="id" placeholder="Chọn bài học" class="w-100 ictu-standard-select" emptyFilterMessage="Không có bài học nào phù hợp với nội dung tìm kiếm của bạn." emptyMessage="Không có bài học" filterPlaceholder="Tìm kiếm...">
                        <ng-template #selectedItem let-selectedOption>
                            @if (selectedOption) {
                                <div class="d-flex flex-column align-items-start">
                                    <b class="text-left f-roboto d-block f-13 fw-medium m-0 p-0" style="word-break: break-word;color: #5B6B79;">{{ selectedOption.supTitle }}</b>
                                    <p class="text-left f-roboto d-block f-14 fw-bold m-0 p-0" style="word-break: break-word;color: #333333;">{{ selectedOption.title }}</p>
                                </div>
                            }
                        </ng-template>
                        <ng-template let-courseLessonOption #item>
                            <div class="d-flex flex-column align-items-start">
                                <b class="text-left f-roboto d-block f-13 fw-medium m-0 p-0" style="word-break: break-word;color: #5B6B79;">{{ courseLessonOption.supTitle }}</b>
                                <p class="text-left f-roboto d-block f-14 fw-bold m-0 p-0" style="word-break: break-word;color: #333333;">{{ courseLessonOption.title }}</p>
                            </div>
                        </ng-template>
                        <ng-template #dropdownicon>
                            <i class="pi pi-angle-down"></i>
                        </ng-template>
                        <ng-template #header>
                            <h4 class="ictu-standard-select-panel__heading text-left f-roboto f-14 lh-base fw-bold m-0 w-100">{{ course()?.title }}</h4>
                        </ng-template>
                    </p-select>
                </div>
            </div>
        }
        @case ('activity') {
            <div class="cpc-add-class-lesson__row">
                <div class="d-inline-flex cpc-add-class-lesson__col-left">
                    <i class="ti ti-ball-football"></i><span class="cpc-add-class-lesson__label">Chủ đề</span>
                </div>
                <div class="d-inline-flex cpc-add-class-lesson__col-right">
                    <input class="cpc-add-class-lesson__input" pInputText placeholder="Chủ đề của buổi ngoại khóa" type="text" [(ngModel)]="topic">
                </div>
            </div>
        }
        @default {
            <div class="cpc-add-class-lesson__row">
                <div class="d-inline-flex cpc-add-class-lesson__col-left">
                    <i class="ti ti-triangle-square-circle"></i><span class="cpc-add-class-lesson__label">Tên hoạt động</span>
                </div>
                <div class="d-inline-flex cpc-add-class-lesson__col-right">
                    <input class="cpc-add-class-lesson__input" pInputText placeholder="Tên của hoạt động" type="text" [(ngModel)]="topic">
                </div>
            </div>
        }
    }

    <div class="d-flex flex-column">
        <hr class="cpc-add-class-lesson__separator m-b-15">
        <div class="d-flex justify-content-end align-items-center" style="gap:15px;">
            <button (click)="btnCancel()" class="btn ictu-badge-btn--secondary" mat-flat-button style="min-width: 100px">Hủy</button>
            <button (click)="btnSave()" [disabled]="!dataValid() || state()==='loading'" class="btn ictu-badge-btn--primary-reverse" mat-flat-button style="min-width: 100px">Lưu lại</button>
        </div>
    </div>
</div>
