<section class="admin-section--table position-relative">
	@if (state() === 'loading') {
		<app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
	}
	<div class="admin-wrap-table">
		@if (state() !== 'error') {
			<div class="admin-wrap-table__head d-flex">
				<h4 class="admin-wrap-table__heading">
					<svg>
						<use href="fonts/custom-icon.svg#custom-folder-open-2"></use>
					</svg>
					Danh sách lớp học
				</h4>
				<div class="admin-wrap-table__head-actions">
					<input [(ngModel)]="searchInfo.search" class="admin-wrap-table__head-actions__search" pInputText placeholder="Tìm kiếm..." type="text" (keyup.enter)="onSearchData()">
				</div>
			</div>
			<div class="admin-wrap-table__body">
				<table class="tbl admin-table table-hover">
					<thead>
						<tr>
							<th class="col-index text-center">#</th>
							<th class="text-left">Tên lớp học</th>
							<th class="text-center">Mô tả</th>
							<th class="text-center">Số lượng</th>
							<th class="text-center">Thời lượng</th>
							<!-- <th class="text-center">Khóa học</th> -->
							<th class="wid-80 text-center px-0">Hành động</th>
						</tr>
					</thead>
					<tbody>
						@for (row of dataTable.data(); track row.id; let i = $index) {
							<tr class="select-item">
								<td class="col-index text-center">{{ dataTable.paginator.startIndex() + i }}</td>
								<td class="text-left">
									<div class="btn btn-class-name" (click)="getToClassPlanning(row)">
										{{ row.name }}
									</div>
								</td>
								<td class="text-left">{{ row.desc }}</td>
								<td class="text-center">{{ row.total_student }}</td>
								<td class="text-center">{{ row.duration }}</td>
								<!-- <td class="text-center">{{ row['course']?.title }}</td> -->
								<td class="p-0 wid-80">
									<div class="admin-table__btn-actions">
										<button (click)="getToCourseOverView(row);" class="btn ictu-button-primary-light" pTooltip="Xem chi tiết chương trình học" tooltipPosition="left">
											<i class="ti ti-align-center"></i>
										</button>
									</div>
								</td>
							</tr>
						} @empty {
							<tr>
								<td colspan="12">Không có bản ghi nào.</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="admin-wrap-table__foot">
				<div class="d-flex justify-content-center align-items-center w-100">
					<ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
				</div>
			</div>
		} @else {
			<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
				<a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
			</div>
		}
	</div>
</section>
