.schedule-remedial-session-form {
    min-height: 150px;
}

.schedule-remedial-session-form__backdrop {
    backdrop-filter: blur(2px);
}

.tm-registration-form {
    --trf-form-gap: 20px;
    --trf-form-left-collumn-size: 130px;
    --trf-form-right-collumn-size: calc(100% - var(--trf-form-left-collumn-size) - var(--trf-form-gap));
    gap: var(--trf-form-gap, 20px);
    padding: 5px;
}

.tm-registration-form__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--trf-form-gap, 20px);
}

.tm-registration-form__col-left {
    width: var(--trf-form-left-collumn-size);
    max-width: var(--trf-form-left-collumn-size);
    min-width: var(--trf-form-left-collumn-size);
    min-height: 43px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.tm-registration-form__col-left i {
    font-size: 22px;
    line-height: 1;
    margin: -5px 0 0 0;
    color: #666666;
}

.tm-registration-form__label {
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
    font-weight: 500;
}

.tm-registration-form__col-right {
    width: var(--trf-form-right-collumn-size);
    max-width: var(--trf-form-right-collumn-size);
    min-width: var(--trf-form-right-collumn-size);
    min-height: 43px;
}

.tm-registration-form__text,
.tm-registration-form__textarea,
.tm-registration-form__input {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    width: 100%;
    border-radius: 4px;
    font-family: var(--primary-font-family), sans-serif;
    color: #333333;
    padding: 10px;
}

.tm-registration-form__textarea {
    resize: vertical;
}

.tm-registration-form__text {
    margin: 0;
    background: var(--p-inputtext-background);
    border: 1px solid var(--p-inputtext-border-color, #cbd5e1);
}

.tm-registration-form__staff-control {
    border-radius: 4px;
}

.tm-registration-form__text:not(button) {
    background-color: #f1f1f1;
    border: none;
    user-select: none;
}

.tm-registration-form__buttons-menu--icon-after {
    padding-right: 20px;
    position: relative;
}

.tm-registration-form__icon-after {
    position: absolute;
    right: 5px;
    font-size: 15px;
    line-height: 1;
    top: 50%;
    color: #888888;
    transform: translateY(-50%);
}

.tm-registration-form__buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.tm-registration-form__buttons-menu {
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.tm-registration-form__separator {
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--p-inputtext-border-color, #cbd5e1);
}

.tm-registration-curriculum-info {
    display: flex;
    flex-flow: column nowrap;
}

.tm-registration-curriculum-info__head {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: 44px;
    padding: 0 10px;
    background-color: #f1f1f1;
}

.tm-registration-curriculum-info__head i {
    margin: -5px 0 0 0;
    line-height: 1;
}

.tm-registration-curriculum-info__textbook-name {
    font-size: 15px;
    font-weight: 700;
    margin: 0 auto 0 0;
    line-height: 1.5;
    max-width: calc(100% - 30px - 170px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tm-registration-curriculum-info__search {
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 400;
}

.tm-registration-curriculum-info__body {
    --registration-curriculum-info-body-height: min(calc(var(--device-height) - 44px - 30px), calc(48px * 5));
    display: block;
    height: var(--registration-curriculum-info-body-height);
    min-height: var(--registration-curriculum-info-body-height);
    max-height: var(--registration-curriculum-info-body-height);
    overflow-y: auto;
}

.tm-registration-curriculum-info__empty {
    display: flex;
    height: var(--registration-curriculum-info-body-height);
    min-height: var(--registration-curriculum-info-body-height);
    max-height: var(--registration-curriculum-info-body-height);
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.tm-registration-curriculum-info__empty__text {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    margin: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    padding: 10px;
    border-radius: 4px;
}

.tm-absence-makeup-management__overlay {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
}

.tm-registration-form__col-right__btn-times {
    position: absolute;
    right: 5px;
    font-size: 15px;
    line-height: 1;
    top: 50%;
    color: #888888;
    transform: translateY(-50%);
    border: none !important;
    background: #ffffff;
    padding: 0;
    margin: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .35s ease;
    cursor: pointer;
}

.tm-registration-form__col-right__btn-times:hover {
    color: #d82222;
}

.tm-registration-form__col-right:hover .tm-registration-form__col-right__btn-times {
    opacity: 1;
    visibility: visible;
}
