/*
Khổ giấy A4 theo tiêu chuẩn ISO 216 có kích thước 210 mm × 297 mm.
*/

.parent-class-lesson-preview-efd {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
    border-radius: 6px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.parent-class-lesson-preview-efd__loading-layout {
    min-height: 100px;
}
