
.structure-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    margin-top: 10px;
    padding-right: 6px;
}

.structure-foot {
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.row__structure {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    background: #f9f9f9;
    padding: 8px;
    border-radius: 6px;
    position: relative;
}

.input__structure {
    flex: 1 1 auto;
}

.order {
    font-size: 12px;
    color: #666;
}

.drag-handle {
    cursor: grab;
    font-size: 18px;
    margin-left: auto;
    color: #888;
}

.col-title {
    max-width: 300px;
    width: 300px;
}

.tbl {
    table-layout: fixed;
}

.btn-link {
    background: transparent;
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
    cursor: pointer;
    color: #333333;
}

.btn-link:hover {
    color: var(--primary-color);
}
