<div class="card card-2 bg-white" style="--card-2-padding: 25px;--card-2-heading-gap: 25px;">
    <div class="card-2-body position-relative">
        @if (state() === 'submitting') {
            <div class="d-flex position-absolute top-0 start-0 w-100 h-100 justify-content-center align-items-center flex-column" style="background-color: rgb(255 255 255 / 71%);z-index: 50;border-radius: inherit;backdrop-filter: blur(10px);gap: 5px;color: #333333;">
                <div class="d-block ictu-image-loading-bg wid-25 aspect-ratio-1"></div>
                <p class="f-14 fw-normal f-roboto" style="margin: 10px 0 0;line-height: 1">Cập nhật thông tin...</p>
            </div>
        }
        <form [formGroup]="formGroup" class="ictu-form p-0">
            <div class="ictu-form__row">
                <div class="d-flex w-100 justify-content-center align-items-center">
                    <div class="user-upload wid-75">
                        <img [ngSrc]="avatar()" alt="img" class="img-fluid" fill>
                        <button (click)="btnUploadAvatar()" class="img-avtar-upload">
                            <i class="ti ti-camera f-24 mb-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="ictu-form__row">
                        <label class="ictu-form__label ictu-form__label--readonly" for="u_username">Tên tài khoản</label>
                        <input formControlName="username" class="ictu-form__input-field" id="u_username" pInputText type="text"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ictu-form__row">
                        <label class="ictu-form__label ictu-form__label--required" for="u_display_name">Tên hiển thị</label>
                        <input class="ictu-form__input-field" formControlName="display_name" id="u_display_name" pInputText type="text"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="ictu-form__row">
                        <label class="ictu-form__label ictu-form__label--readonly" for="u_email">Email</label>
                        <input class="ictu-form__input-field" id="u_email" formControlName="email" pInputText type="text"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ictu-form__row">
                        <label class="ictu-form__label ictu-form__label--readonly" for="u_phone">Số điện thoại</label>
                        <input class="ictu-form__input-field" id="u_phone" formControlName="phone" pInputText type="text"/>
                    </div>
                </div>
            </div>
            <div class="ictu-form__row">
                <label class="ictu-form__label ictu-form__label--readonly" for="u_last_login">Lần đăng nhập cuối</label>
                <input class="ictu-form__input-field" [disabled]="true" id="u_last_login" name="u_last_login" pInputText type="text" [value]="user()['last_login'] | date2text : 'DD-MM-YYYY HH:mm:ss'"/>
            </div>
            <div class="d-flex justify-content-end align-items-center w-100">
                <small class="ictu-form-guide f-roboto my-0 ms-0 me-auto fw-normal text-muted text-left" style="font-size: 13px;">Những trường đánh dấu (*) là những trường bắt buộc, không được bỏ trống</small>
                <button (click)="btnSubmitForm()" [disabled]="formGroup.invalid || formGroup.untouched" class="card-2-footer__button btn ictu-badge-btn--success-reverse" mat-flat-button>Lưu lại</button>
            </div>
        </form>
    </div>
</div>
