:host {
    border: 1px solid #cbd5e1;
    border-radius: 2px;
    overflow: hidden;
    padding: 0;
    background-color: #ffffff;
    margin: 0;
}

.moderation-media-control__body__wrapper {
    border-radius: 2px;
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.moderation-media-control__image {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.moderation-media-control__footer {
    border-top: 1px solid #cbd5e1;
    height: 50px;
}

.moderation-media-control__footer__btn-employee {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
    border-radius: 99px;
    border: 1px solid #ffffff;
    background-color: #dee2e6;
    box-sizing: border-box;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.moderation-media-control__footer__btn-employee img {
    display: block;
    font-size: 0;
    line-height: 0;
    position: absolute;
    inset: 0;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.moderation-media-control__footer__members {
    font-size: 0;
    line-height: 0;
}

.moderation-media-control__footer__members span,
.moderation-media-control__footer__members img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 999px;
    margin-inline-end: -10px;
    border: 1px solid #ffffff;
    background-color: #dee2e6;
}

.moderation-media-control__footer__members span {
    margin: 0;
}

.moderation-media-control__btn-preview-image {
    background-color: transparent;
}

.moderation-media-control__twin-buttons {
    /*background-color: #f1f5f9;*/
    /*border-radius: 4px;*/
    /*padding: 2px;*/
    /*gap: 2px;*/
    gap: 10px;
}

.moderation-media-control__twin-buttons__element {
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: #e5e5e5;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    cursor: pointer;
    color: #7a7a7a;
    border-radius: 99px;
    overflow: hidden;
}

.moderation-media-control__twin-buttons__element--approved:hover,
.moderation-media-control__twin-buttons__element--approved.activated {
    background-color: #16a34a;
    color: #ffffff;
}

.moderation-media-control__twin-buttons__element--not-approved:hover,
.moderation-media-control__twin-buttons__element--not-approved.activated {
    background-color: #fd4755;
    color: #ffffff;
}

.moderation-media-control__footer__separator {
    font-size: 0;
    line-height: 0;
    position: relative;
}

.moderation-media-control__footer__separator::before {
    content: '';
    display: block;
    height: 19px;
    border-left: 1px solid #cbd5e1;
}

.ictu-circle-loading__overlay {
    backdrop-filter: blur(10px);
}
