<div class="d-flex flex-column moderation-media-control w-100 position-relative" [ngClass]="'moderation-media-control--'+type()">
    @if (submitting()) {
        <div class="ictu-circle-loading position-absolute w-100 h-100 p-0 zdx-10">
            <div class="ictu-circle-loading__overlay w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="ictu-circle-loading__circle"></div>
            </div>
        </div>
    }
    @switch (type()) {
        @case ('unknown') {
            <div class="moderation-media-control__body d-inline-flex justify-content-center align-items-center p-0 m-0" style="aspect-ratio: 16/9;border-radius: 0;">
                <span class="f-roboto fw-normal f-14 lh-base">Loading...</span>
            </div>
            <div class="moderation-media-control__footer"></div>
        }
        @case ('video') {
            <div class="moderation-media-control__body">
                @if (sources().length) {
                    <div class="moderation-media-control__body__wrapper">
                        <plyr [plyrSources]="sources()" plyrType="video"></plyr>
                    </div>
                }
            </div>
            <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
        }
        @case ('audio') {
            <div class="moderation-media-control__body">
                @if (sources().length) {
                    <div class="moderation-media-control__body__wrapper">
                        <plyr [plyrSources]="sources()" plyrType="video"></plyr>
                    </div>
                }
            </div>
            <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
        }
        @case ('image') {
            <div class="moderation-media-control__body">
                @if (imgSrc()) {
                    <div class="moderation-media-control__body__wrapper position-relative">
                        <img class="moderation-media-control__image" [ngSrc]="imgSrc() | safeUrl" alt="" fill>
                        <button (click)="btnOpenPreview()" mat-button class="btn moderation-media-control__btn-preview-image position-absolute inset-0 zdx-5 w-100 h-100 p-0 m-0"></button>
                    </div>
                }
            </div>
            <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
        }
        @default {
            <div class="moderation-media-control__body d-inline-flex justify-content-center align-items-center ictu-badge ictu-badge--danger p-0 m-0" style="aspect-ratio: 16/9;border-radius: 0;">
                <span class="f-roboto fw-normal f-14 lh-base">Định dạng file không được hỗ trợ.</span>
            </div>
            <div class="moderation-media-control__footer"></div>
        }
    }
</div>
<ng-template #footerTemplate>
    <div class="moderation-media-control__footer d-flex justify-content-between align-items-center">
        @if (media()) {
            <div class="d-flex justify-content-start align-items-center p-x-5 p-l-10">
                <button class="btn moderation-media-control__footer__btn-employee" [disabled]="!media().employee" [matMenuTriggerFor]="employeeInfo" [matMenuTriggerData]="{employee: media().employee}" [matTooltip]="media().employee?.full_name ?? 'Người tải lên'" matTooltipPosition="above">
                    <img [src]="media().employee | employeePhoto" alt="" width="100" height="100">
                </button>
                @if (members().length) {
                    <span class="moderation-media-control__footer__separator d-inline-block m-x-10"></span>
                    <div class="moderation-media-control__footer__members d-inline-flex align-items-center justify-content-center">
                        @for (mem of members(); track mem) {
                            @if (mem.info) {
                                <img [src]="mem.info | studentAvatar" [alt]="mem.info.full_name" width="32" height="32">
                            } @else {
                                <span class="f-roboto f-12 fw-normal lh-base d-inline-flex align-items-center justify-content-center">{{ mem.label }}</span>
                            }
                        }
                    </div>
                }
            </div>
            <div class="d-flex justify-content-start align-items-center p-x-5 p-r-10 ms-auto">
                <div class="moderation-media-control__twin-buttons d-flex overflow-hidden">
                    <button (click)="btnChangeApproveStatus('APPROVED')" class="btn moderation-media-control__twin-buttons__element d-inline-flex justify-content-center align-items-center moderation-media-control__twin-buttons__element--approved" [disabled]="media()?.status === 'APPROVED'" [class.activated]="media()?.status === 'APPROVED'">
                        <i class="pi pi-check f-14"></i>
                    </button>
                    <button (click)="btnChangeApproveStatus('REJECTED')" class="btn moderation-media-control__twin-buttons__element d-inline-flex justify-content-center align-items-center moderation-media-control__twin-buttons__element--not-approved" [disabled]="media()?.status === 'REJECTED'" [class.activated]="media()?.status === 'REJECTED'">
                        <i class="pi pi-times f-14"></i>
                    </button>
                </div>
            </div>
        }

    </div>
</ng-template>

<mat-menu #employeeInfo="matMenu" class="ictu-switchers-menu" xPosition="after" yPosition="below">
    <ng-template matMenuContent let-employee="employee">
        <div class="employee-popup-details d-flex flex-column justify-content-center align-items-center" (click)="avoidCloseMenuByClicking($event)">
            <div class="employee-popup-details__avatar">
                <img class="employee-popup-details__avatar__img wid-60 hei-60" [src]="employee | employeePhoto" alt="" width="100" height="100">
            </div>
            <b class="f-roboto f-14 fw-medium lh-base text-truncate m-t-15 m-b-10" style="max-width: 100%">{{ employee.full_name }}</b>
            <div class="employee-popup-details__contact-field d-flex flex-column justify-content-center align-items-start">
                <div class="employee-popup-details__contact-field__info d-flex justify-content-start align-items-start">
                    <i class="pi-envelope pi text-secondary m-r-10"></i>
                    <p class="employee-popup-details__contact-field__info__text f-14 lh-base fw-normal text-secondary m-0 text-truncate">{{ employee.email }}</p>
                </div>
                <div class="employee-popup-details__contact-field__info d-flex justify-content-start align-items-start">
                    <i class="pi-phone pi text-secondary m-r-10"></i>
                    <p class="employee-popup-details__contact-field__info__text f-14 lh-base fw-normal text-secondary m-0 text-truncate">{{ employee.phone }}</p>
                </div>
            </div>
        </div>
    </ng-template>
</mat-menu>

@if (enableImagePreview() && previewFile()) {
    <div [ngxFilePreview]="previewFile()" [canDownload]="false" [openImmediately]="true" class="d-none" lang="en" themeMode="light" trigger="click" (onClosePreview)="onClosePreview()" (previewVisible)="previewVisible($event)"></div>
}
