.cpd-reschedule-class-session-form {
    min-height: 216px;
}

.cpd-reschedule-class-session-form__overlay {
    inset: 0;
    z-index: 10;
    /*pointer-events: none;*/
    /*cursor: default;*/
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
}
