@if (courseLectureFormat()) {
    <h4 class="parent-class-lesson-preview__heading f-roboto f-16 fw-bold lh-base m-b-15">{{ courseLectureFormat().title }}</h4>
    @switch (courseLectureFormat().type) {
        @case ('EXCERPT_FROM_DOCUMENT') {
            <parent-class-lesson-preview-efd [classLessonPlanContentItem]="courseLectureFormat()"></parent-class-lesson-preview-efd>
        }
        @case ('VOCABULARY') {
            <parent-class-lesson-preview-vocabulary [classLessonPlanContentItem]="courseLectureFormat()"></parent-class-lesson-preview-vocabulary>
        }
        @case ('EXAMPLE_SENTENCES') {
            <parent-class-lesson-preview-example-sentences [classLessonPlanContentItem]="courseLectureFormat()"></parent-class-lesson-preview-example-sentences>
        }
        @case ('LINK') {
            <parent-class-lesson-preview-link [classLessonPlanContentItem]="courseLectureFormat()"></parent-class-lesson-preview-link>
        }
        @case ('TEXT') {
            <parent-class-lesson-preview-text [classLessonPlanContentItem]="courseLectureFormat()"></parent-class-lesson-preview-text>
        }
        @case ('MEDIA') {
            <parent-class-lesson-preview-media [classLessonPlanContentItem]="courseLectureFormat()"></parent-class-lesson-preview-media>
        }
        @default {
        }
    }
}
