<section class="admin-section--table position-relative">
	@if (state() === 'loading') {
		<app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
	}
	<div class="admin-wrap-table">
		@if (state() !== 'error') {
			<div class="admin-wrap-table__head d-flex">
				<h4 class="admin-wrap-table__heading">
					<svg>
						<use href="fonts/custom-icon.svg#custom-folder-open-2"></use>
					</svg>
					Danh sách nhân viên
				</h4>
				<div class="admin-wrap-table__head-actions">
					<input [(ngModel)]="search" class="admin-wrap-table__head-actions__search" pInputText placeholder="Tìm kiếm theo tên ..." type="text" (keyup.enter)="onSearchData()">
					<p-select [(ngModel)]="filterByPosition" [loading]="state() === 'loading'" [options]="EMPLOYEE_POSITION_OPTIONS" appendTo="body" [showClear]="true" class="wid-150" placeholder="Lọc theo chức vụ" (onChange)="onSearchData()"/>
					<button (click)="btnCallEvent('add',null)" mat-flat-button class="btn ictu-badge-btn--success-reverse" pTooltip="Thêm nhân sự mới">
						<i class="ti ti-user-plus"></i>
					</button>
				</div>
			</div>
			<div class="admin-wrap-table__body">
				<table class="tbl admin-table table-hover">
					<thead>
						<tr>
							<!-- <th class="col-checkbox">
								<mat-checkbox [checked]="dataTable.totalChecked()" [indeterminate]="dataTable.partiallyChecked()" (change)="dataTable.selectRow($event.checked)" [disabled]="!dataTable.data().length"></mat-checkbox>
							</th> -->
							<th class="col-index text-center">#</th>
							<th class="text-left">Nhân viên</th>
							<th class="text-left wid-200">Chức vụ</th>
							<th class="text-left">Phòng ban</th>
							<th class="text-left wid-210">Email</th>
							<th class="text-left wid-120">Điện thoại</th>
							<th class="text-left wid-85">Giới tính</th>
							<th class="text-left wid-210">Địa chỉ</th>
							<th class="text-left wid-170">Trạng thái hợp đồng</th>
							<th class="text-center px-0 wid-90">Hành động</th>
						</tr>
					</thead>
					<tbody>
						@for (employee of dataTable.data(); track employee.id; let i = $index) {
							<tr>
								<!-- <td class="col-checkbox">
									<mat-checkbox [checked]="employee._ictuDataTableRowChecked" (change)="dataTable.selectRow($event.checked, i)"></mat-checkbox>
								</td> -->
								<td class="col-index text-center">{{ dataTable.paginator.startIndex() + i }}</td>
								<td class="text-left">
									<div class="employee__details__photo ictu-media-wrapper">
										<img [src]="employee | employeePhoto" alt="" class="employee__details__photo__image">
									</div>
									{{ employee.full_name }}
								</td>
								<td class="text-left wid-200">
									@if (employee.positionTags.length) {
										<div class="d-flex flex-wrap" style="gap:5px">
											@for (tag of employee.positionTags; track tag.ordering) {
												<span [ngClass]="tag.cssClasses">{{ tag.label }}</span>
											}
										</div>
									}
								</td>
								<td class="text-left">Phòng ban</td>
								<td class="text-left wid-210">
									<span tooltipStyleClass="ictu-input-form__tooltip" appendTo="body" [pTooltip]="employee.email" tooltipPosition="top" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 175px;display: block;">{{ employee.email }}</span>
								</td>
								<td class="text-left wid-120">
									<span tooltipStyleClass="ictu-input-form__tooltip" appendTo="body" [pTooltip]="employee.phone" tooltipPosition="top">{{ employee.phone }}</span>
								</td>
								<td class="text-left wid-85">{{ employee.gender | ictuDropdownOptionMap : GENDER_OPTIONS }}</td>
								<td class="text-left wid-210">
									<span tooltipStyleClass="ictu-input-form__tooltip" appendTo="body" [pTooltip]="employee.address" tooltipPosition="top" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 175px;display: block;">{{ employee.address }}</span>
								</td>
								<td class="text-left wid-170">{{ employee.contract_status | ictuDropdownOptionMap : EMPLOYEE_CONTRACT_STATUS_OPTIONS }}</td>
								<td class="px-0 wid-90">
									<div class="admin-table__btn-actions">
										<button (click)="btnCallEvent('edit',employee)" class="btn ictu-button-info-light">
											<i class="ti ti-edit"></i>
										</button>
										<button [disabled]="true" class="btn ictu-button-danger-light">
											<i class="ti ti-trash"></i>
										</button>
									</div>
								</td>
							</tr>
						} @empty {
							<tr>
								<td class="text-center" colspan="10">{{ emptyMessage() }}</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="admin-wrap-table__foot">
				<div class="d-flex justify-content-center align-items-center w-100">
					<ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
				</div>
			</div>
		} @else {
			<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
				<a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
			</div>
		}
	</div>
</section>

<p-drawer #pDrawer (onHide)="onDrawerHide()" [(visible)]="drawerOpen" [dismissible]="false" [header]="formTitle()" [style]="{'width':'100%', 'max-width':'100%'}" appendTo="body" position="right" styleClass="ictu-p-drawer">
	<div class="ictu-p-drawer__content position-relative">
		@if (formEvent()) {
			<app-gm-employees-form [formEvent]="formEvent()"></app-gm-employees-form>
		}
	</div>
</p-drawer>