.admin-wrap-table__switchers {
    --admin-switcher-active-color-rgb: 70 128 255;
    --admin-switcher-border-radius: 2px;
    display: flex;
    padding: 1px;
    gap: 0;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #aac4ff;*/
    border: 1px solid rgb(var(--admin-switcher-active-color-rgb)/20%);
    background-color: transparent;
    border-radius: calc(var(--admin-switcher-border-radius) + 1px);
}

.admin-wrap-table__switchers__btn-label,
.admin-wrap-table__switchers__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    line-height: 1.5;
    padding: 5px;
    min-width: 60px;
    cursor: pointer;
    background-color: rgb(var(--admin-switcher-active-color-rgb)/10%);
    color: rgb(var(--admin-switcher-active-color-rgb));
    height: 36px;
    user-select: none;
}

.admin-wrap-table__switchers__btn:first-child {
    border-radius: var(--admin-switcher-border-radius) 0 0 var(--admin-switcher-border-radius);
}

.admin-wrap-table__switchers__btn:last-child {
    border-radius: 0 var(--admin-switcher-border-radius) var(--admin-switcher-border-radius) 0;
}

.admin-wrap-table__switchers--next > .btn:hover,
.admin-wrap-table__switchers__btn.active {
    background-color: rgb(var(--admin-switcher-active-color-rgb)/100%);
    color: #ffffff;
}

.admin-wrap-table__switchers--next {
    gap: 1px
}

.admin-wrap-table__switchers--next > .btn {
    min-width: 36px;
}

.admin-wrap-table__switchers__btn-label__lbl i {
    font-size: 18px;
    line-height: 1;
    height: 100%;
    display: inline-flex;
    width: 36px;
    justify-content: center;
    align-items: center;
    background-color: rgb(218 230 255);
}

.admin-wrap-table__switchers__btn-label__lbl span {
    line-height: 1.5;
    font-weight: 500;
    margin: 0 0 -4px 0;
    width: 150px;
    text-align: left;
    font-family: var(--primary-font-family), sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0 0 0 10px;
}

.tm-calendar-class-list__element--empty {
    color: #004085;
    /*background-color: #cce5ff;*/
    /*border-color: #b8daff;*/
}

.x-col-lesson {
    min-width: 200px;
}

.x-col-avatar-name {
    min-width: 241px;
}

.col-index {
    min-width: 50px;
}


/*table{*/
/*    min-width: 1200px;*/
/*}*/
/*table tr :is(th,td):first-child,*/
/*table tr :is(th,td):nth-child(2),*/
/*table tr :is(th,td):nth-child(3),*/
/*table tr :is(th,td):nth-child(4),*/
/*table tr td:nth-child(5) {*/
/*    position: sticky;*/
/*    left: 1px;*/
/*    !*background-color: #fff; !* To prevent overlapping text *!*!*/
/*    z-index: 1;*/
/*    background-color: inherit;*/
/*}*/

/*table tr :is(th,td):nth-child(2) {*/
/*    left: 42px;*/
/*    z-index: 2;*/
/*}*/

/*table tr :is(th,td):nth-child(3) {*/
/*    left: calc(42px + 50px);*/
/*    z-index: 3;*/
/*}*/

/*table tr td:nth-child(5),*/
/*table tr th:nth-child(4) {*/
/*    left: calc(42px + 50px + 241px);*/
/*    z-index: 4;*/
/*}*/

/*table tr td:nth-child(4) {*/
/*    left: calc(42px + 50px + 61px);*/
/*    z-index: 4;*/
/*}*/

.tm-absence-makeup-management__overlay {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
}

.tm-registration-form {
    --trf-form-gap: 20px;
    --trf-form-left-collumn-size: 130px;
    --trf-form-right-collumn-size: calc(100% - var(--trf-form-left-collumn-size) - var(--trf-form-gap));
    gap: var(--trf-form-gap, 20px);
    padding: 5px;
}

.tm-registration-form__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--trf-form-gap, 20px);
}

.tm-registration-form__col-left {
    width: var(--trf-form-left-collumn-size);
    max-width: var(--trf-form-left-collumn-size);
    min-width: var(--trf-form-left-collumn-size);
    min-height: 43px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.tm-registration-form__col-left i {
    font-size: 22px;
    line-height: 1;
    margin: -5px 0 0 0;
    color: #666666;
}

.tm-registration-form__label {
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
    font-weight: 500;
}

.tm-registration-form__col-right {
    width: var(--trf-form-right-collumn-size);
    max-width: var(--trf-form-right-collumn-size);
    min-width: var(--trf-form-right-collumn-size);
    min-height: 43px;
}

.tm-registration-form__text,
.tm-registration-form__textarea,
.tm-registration-form__input {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    width: 100%;
    border-radius: 4px;
    font-family: var(--primary-font-family), sans-serif;
    color: #333333;
    padding: 10px;
}

.tm-registration-form__textarea {
    resize: vertical;
}

.tm-registration-form__text {
    margin: 0;
    background: var(--p-inputtext-background);
    border: 1px solid var(--p-inputtext-border-color, #cbd5e1);
}

.tm-registration-form__staff-control {
    border-radius: 4px;
}

.tm-registration-form__text:not(button) {
    background-color: #f1f1f1;
    border: none;
    user-select: none;
}

.tm-registration-form__buttons-menu--icon-after {
    padding-right: 20px;
    position: relative;
}

.tm-registration-form__icon-after {
    position: absolute;
    right: 5px;
    font-size: 15px;
    line-height: 1;
    top: 50%;
    color: #888888;
    transform: translateY(-50%);
}

.tm-registration-form__buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.tm-registration-form__buttons-menu {
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.tm-registration-form__separator {
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--p-inputtext-border-color, #cbd5e1);
}
