.p-dropdown-panel {
    max-height: none !important;
    overflow: visible !important;
}

.ictu-dashboard-dialog__main-content {
    max-height: var(--ictu-dashboard-dialog-body-size);
    overflow-y: auto;
}

.ictu-dashboard-dialog__dnd-area__btn {
    width: 100%;
    height: 100%;
    padding: 0;
    background: transparent;
    margin: 0;
}

.ictu-dashboard-dialog__dnd-area__btn__content {
    gap: 5px;
}

.ictu-dashboard-dialog__dnd-area__btn__icon {
    font-size: 42px;
    color: #444444;
    margin: 0 0 15px;
}

.ictu-dashboard-dialog__dnd-area__btn__text {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #444444;
    line-height: 1.5;
}

.warning-dialog {
    width: 300px;
    height: auto;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.icon {
    font-size: 3rem;
    color: #f44336;
    margin-bottom: 20px;
}

.message {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.hoverName:hover {
    color: cornflowerblue;
    cursor: pointer;
}