<section class="admin-section--table position-relative">
  @if (state() === 'loading') {
    <app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
  }
  <div>
    @if (state() !== 'error') {
      @switch (diemdanhMode()) {
        @case ('listDF') {
          @switch (modelichhoc()) {
            @case ('thang') {
              <div class="calendar-container">
                <div class="header" style="height:55px;">
                  <div class="calendar-header">

                    <p-button icon="ti ti-chevron-left" [rounded]="true" [text]="true" severity="secondary" size="large" (click)="prevMonth()"/>
                    <p-button icon="ti ti-chevron-right" [rounded]="true" [text]="true" severity="secondary" size="large" (click)="nextMonth()"/>
                    <h1 class="p-0 m-0">{{ monthNames[currentMonth] }} - Năm {{ currentYear }}</h1>
                  </div>
                  <div>
                    <p-select [(ngModel)]="selectOption" [loading]="state() === 'loading'" [options]="optionList" optionLabel="value"  appendTo="body" class="wid-175" placeholder="" (onChange)="setMode(selectOption.id)"/>
                    <!-- <button *ngIf="lopHoc.id != 0" (click)="changeModeGV('listDF')" mat-flat-button class="btn ictu-badge-btn--danger-reverse">
                    <i class="ti ti-x"></i>
                  </button> -->
                  @if (lopHoc.id != 0) {
                    <p-button icon="ti ti-x" [rounded]="true" [text]="true" severity="secondary" size="large" (click)="changeMode('listDF')"/>
                  }
                </div>
              </div>

              <div class="calendar-grid">
                @for (d of dayNames; track d) {
                  <div class="day-name">{{ d }}</div>
                }
                @for (date of calendarDays; track date) {
                  <div class="day-cell" [class.today]="isToday(date)">
                    <div class="day-number">{{ date?.getDate() }}</div>
                    @if (checkCoLich(date)) {
                      <div>
                        @for (item of getlich1ngay(date).slice(0, 2); track item) {
                          <div class="note">
                            <div
                              [matMenuTriggerFor]="menu"  #trigger="matMenuTrigger">
                              📝 {{ item.time_start | date: 'HH:mm' }} -
                              {{ shortenText(item.lophocfull.name) }}
                            </div>
                            <mat-menu #menu="matMenu">
                              @if (checkAfterDate(date)) {
                                <button mat-menu-item (click)="editRow(item, date); $event.stopPropagation()">
                                  Yêu cầu đổi lịch
                                </button>
                              }
                              <button mat-menu-item (click)="setModeDiemdanh('listDiemDanh', item, date)">
                                Điểm danh học sinh
                              </button>
                            </mat-menu>
                          </div>
                        }
                        @if (getlich1ngay(date).length > 2) {
                          <div class="note" (click)="setMode('tuan',date)">
                            + {{ getlich1ngay(date).length - 2 }} lịch khác...
                          </div>
                        }
                      </div>
                    }
                  </div>
                }
              </div>
            </div>
          }
          @case ('tuan') {
            <div class="calendar-container">
              <div class="header" style="height:55px;">
                <div class="calendar-header">
                  <p-button icon="ti ti-chevron-left" [rounded]="true" [text]="true" severity="secondary" size="large" (click)="prevWeek()"/>
                  <p-button icon="ti ti-chevron-right" [rounded]="true" [text]="true" severity="secondary" size="large" (click)="nextWeek()"/>
                  <h1 class="p-0 m-0">Tuần: {{ weekDays[0] | date: 'dd/MM/yyyy' }} - {{ weekDays[6] | date: 'dd/MM/yyyy' }}</h1>
                </div>
                <p-select [(ngModel)]="selectOption" [loading]="state() === 'loading'" [options]="optionList" optionLabel="value"  appendTo="body" class="wid-175" placeholder="" (onChange)="setMode(selectOption.id)"/>
              </div>
              <div class="calendar-grid week-view">
                @for (day of weekDays; track day) {
                  <div class="day-cell-week" [class.today]="isToday(day)">
                    <div class="day-name">
                      {{ dayNamesWeek[day.getDay()] }} - {{ day | date: 'dd/MM' }}
                    </div>
                    <div></div>
                    @for (item of getlich1ngay(day); track item) {
                      <div class="note">
                        <div
                          [matMenuTriggerFor]="menu"  #trigger="matMenuTrigger">
                          📝 {{ item.time_start | date: 'HH:mm' }} -
                          {{ shortenText(item.lophocfull.name) }}
                        </div>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="editRow(item, day); $event.stopPropagation()">
                            Yêu cầu đổi lịch
                          </button>
                          <button mat-menu-item (click)="setModeDiemdanh('listDiemDanh',item, day)">
                            Điểm danh học sinh
                          </button>
                        </mat-menu>
                      </div>
                    }
                  </div>
                }
              </div>
            </div>
          }
        }
      }
      @case ('listDiemDanh') {

      }
    }


  } @else {
    <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
      <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
    </div>
  }
</div>
</section>


<!-- <p-drawer #pDrawer (onHide)="onDrawerHide()" [(visible)]="formControl.visible" [dismissible]="false" [header]="formControl.heading()" [style]="{'width':'600px', 'max-width':'100%'}" appendTo="body" position="right" styleClass="ictu-p-drawer">
<div class="ictu-p-drawer__content position-relative">
  @if (formControl.enableLoading()) {
    <app-loading-progress [heading]="formControl.loadingLabel()" backdropFilter="none"></app-loading-progress>

  }
  <div class="ictu-p-drawer__content__body position-relative">
    @switch (formControl.state()) {
      @case ('READY') {
        <form [formGroup]="formControl.formGroup">
          <div class="ictu-form ictu-form--label-on-top">
            <div class="ictu-form__row">
              <label class="ictu-form__label ictu-form__label--required" for="f_phonghoc">Phòng học</label>
              <p-select [options]="optionPhongHoc" appendTo="body" class="ictu-form__input-field" formControlName="phonghoc_id" placeholder="Chọn phòng học" optionLabel="name" optionValue="id"/>
            </div>
            <div class="ictu-form__row">
              <label class="ictu-form__label ictu-form__label--required" for="f_diadiem">Địa điểm</label>
              <textarea class="ictu-form__input-field" formControlName="diadiem_phonghoc" id="f_diadiem" pTextarea placeholder="Địa điểm"></textarea>
            </div>
            <div class="ictu-form__row">
              <label class="ictu-form__label ictu-form__label--required" for="f_desc">Mô tả</label>
              <textarea class="ictu-form__input-field" formControlName="content" id="f_desc" pTextarea placeholder="Thêm mô tả cho khóa học"></textarea>
            </div>
            <div class="ictu-form__row">
              <label class="ictu-form__label ictu-form__label--required" for="f_capacity">Hình thức</label>
              <p-select [options]="optiontype" appendTo="body" class="ictu-form__input-field" formControlName="type" placeholder="Trạng thái"/>
            </div>
            <div class="ictu-form__row">
              <div class="row">
                <div class="col-6">
                  <div class="ictu-form__row" style="padding-top: 6px;">
                    <label class="ictu-form__label ictu-form__label--required" for="f_timestart"  style="margin-bottom: 10px;">Thời gian giảng dạy</label>
                    <p-datepicker formControlName="time_start" class="ictu-form__input-field" id="f_timestart" [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false" placeholder="Chọn thời gian"/>
                  </div>
                </div>
                <div class="col-6">
                  <div class="ictu-form__row">
                    <label class="ictu-form__label ictu-form__label--required">Trạng thái</label>
                    <p-select [options]="optionList" appendTo="body" class="ictu-form__input-field" formControlName="status" placeholder="Trạng thái"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      }
      @case ('PREPARATION_FAILED') {
        <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
          <a (click)="formControl.preparation()" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
        </div>
      }
    }

  </div>
  <div class="ictu-p-drawer__content__footer">
    <button (click)="pDrawer.close($event)" class="btn ictu-badge-btn--secondary" mat-flat-button>Hủy</button>
    <button (click)="submitForm()" [disabled]="!formControl.formFilledAndValid" class="btn ictu-badge-btn--primary-reverse" mat-flat-button>Lưu lại</button>
  </div>
</div>
</p-drawer> -->

<p-dialog [modal]="false" [(visible)]="visibleDialog" [closable]="false" [draggable]="true" [style]="{ width: '700px', minHeight: '500px' }">
  <div class="form-dialog">
    @if (formControl.enableLoading()) {
      <app-loading-progress heading="Đang tải..." backdropFilter="none"></app-loading-progress>

    }

    <div>
      @switch (formControl.state()) {
        @case ('READY') {
          <div>
            <div class="custom-dialog-header">
              <span class="title">Yêu cầu đổi lịch ngày: {{selectDate | date:'dd/MM/yyyy'}}</span>
              <div>
                @if (formField('status_reason').value == 1) {
                  <span class="ictu-badge ictu-badge--warning">Đang đợi duyệt</span>
                }
                @if (formField('status_reason').value == 3) {
                  <span class="ictu-badge ictu-badge--success">Đã duyệt</span>
                }
                @if (formField('status_reason').value == 2) {
                  <span class="ictu-badge ictu-badge--danger">Đã từ chối</span>
                }
                @if (formControl.isFormEdit) {
                  <button class="close-btn" (click)="openAndCloseDialog()">✕</button>
                }
              </div>
            </div>
            <form [formGroup]="formControl.formGroup">

              <div class="ictu-form ictu-form--label-on-top">
                <div class="ictu-form__row">
                  <label class="ictu-form__label ictu-form__label" for="f_phonghoc">Phòng học</label>
                  <input readonly="true" class="ictu-form__input-field" formControlName="phonghoc" id="f_phonghoc" pInputText placeholder="Phòng học" type="text">
                </div>
                <div class="ictu-form__row">
                  <label class="ictu-form__label ictu-form__label" for="f_diadiem">Địa điểm</label>
                  <textarea readonly="true" class="ictu-form__input-field" formControlName="diadiem_phonghoc" id="f_diadiem" pTextarea placeholder="Địa điểm"></textarea>
                </div>
                <div class="ictu-form__row">
                  <label class="ictu-form__label ictu-form__label" for="f_class">Lớp học</label>
                  <input readonly="true" class="ictu-form__input-field" formControlName="lophoc" id="f_class" pInputText placeholder="Lớp học" type="text">
                </div>
                <div class="ictu-form__row">
                  <label class="ictu-form__label ictu-form__label" for="f_class">Thời gian giảng dạy</label>
                  <input readonly="true" class="ictu-form__input-field" formControlName="time_start" id="f_class" pInputText placeholder="Thời gian giảng dạy" type="text">
                </div>
                <div class="ictu-form__row">
                  <div class="row">
                    <div class="col-6">
                      <div class="ictu-form__row" style="padding-top: 6px;">
                        <label class="ictu-form__label ictu-form__label--required" for="f_timestart"  style="margin-bottom: 10px;">Thời gian giảng dạy yêu cầu đổi</label>
                        <p-datepicker [showTime]="true" timeOnly="false" hourFormat="24" [stepMinute]="5" formControlName="time_start_update" class="ictu-form__input-field" id="f_timestart" [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false" placeholder="Chọn thời gian"/>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="ictu-form__row">
                        <label class="ictu-form__label ictu-form__label">Trạng thái</label>
                        <p-select readonly="true" [options]="optionStatus" appendTo="body" class="ictu-form__input-field" formControlName="status" placeholder="Trạng thái"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ictu-form__row">
                  <label class="ictu-form__label ictu-form__label--required" for="f_lydo">Lý do</label>
                  <input class="ictu-form__input-field" formControlName="reasonstring" id="f_lydo" pInputText placeholder="Lý do xin đổi lịch" type="text">
                </div>
              </div>
            </form>
            <div class="ictu-p-drawer__content__footer">
              <button (click)="openAndCloseDialog()" class="btn ictu-badge-btn--secondary" mat-flat-button>Đóng</button>
              <button (click)="submitForm()" [disabled]="!formControl.formFilledAndValid" class="btn ictu-badge-btn--primary-reverse" mat-flat-button>Xác nhận</button>
            </div>
          </div>
        }
        @case ('PREPARATION_FAILED') {
          <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
            <a (click)="formControl.preparation()" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
          </div>
        }
      }
    </div>
  </div>
</p-dialog>