<section class="class-planning-additional-lesson-section">
	@if (state() === 'loading') {
		<app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
	}
	@if (state() === 'upload') {
		<app-loading-progress heading="Đang cập nhật..." backdropFilter="none"></app-loading-progress>
	}
	@if (state() !== 'error') {
		<div class="class-planning-additional-lesson">
			<div class="class-planning-additional-lesson__body">
				<div class="class-planning-additional-lesson__body__baigiang">
					<div class="class-planning-additional-lesson__list" [ngStyle]="{ 'justify-content': dataTableBaiGiang.data().length === 0 ? 'center' : 'flex-start' }">
						@for (item of dataTableBaiGiang.data(); track $index; let i = $index) {
							<div #lessonRef class="class-planning-additional-lesson__elm" [ngClass]="{ 'class-planning-additional-lesson__elm--active' : item.id == valueLesson.idClassSession }" (click)="selectLesson($index, getCourseLessonPlan(item.course_lesson_id),item.id,item)">
								<div class="class-planning-additional-lesson__item d-flex">
									<span class="class-planning-additional-lesson__item__icon d-inline-flex justify-content-center align-items-center">{{ 1 + i }}</span>
									<div class="class-planning-additional-lesson__item__info d-inline-flex flex-column justify-content-center align-items-start">
										<p class="f-roboto f-13 fw-medium lh-base m-0 w-100" style="color: #5B6B79;">{{ item?.topic ?? 'Unknown' }}</p>
										<div class="f-roboto f-14 fw-bold m-0 lh-base w-100 text-truncate" style="color: #333333;">{{ item?.title ?? 'Unknown' }}</div>
										<div class="d-flex gap-1 align-items-center">
											<i class="ti ti-calendar-time"></i>
											<p class="f-roboto f-13 fw-medium lh-base m-0 w-100" style="color: #8996A4;">{{ item?.time_start | date:'dd/MM/yyyy HH:mm' }}</p>
										</div>
									</div>
								</div>
								<span class="class-planning-additional-lesson__item__tick" [ngClass]="{ 'text-primary' : item.status == 2 }"><i class="ti ti-check"></i></span>
								<button [matMenuTriggerFor]="menuAvatarTeacher" [matMenuTriggerData]="{info: item.teacher}" class="button--un-set-style" (click)="$event.stopPropagation()">
									<img [src]="item.teacher?.photo || 'images/user/avatar-placeholder.jpg'" alt="" class="curriculum-activities-avatar-circle">
								</button>
							</div>
						} 
						@empty {
							<div style="text-align: center;">Chưa có bài được tạo</div>
						}
					</div>
					<!-- <div class="foot-baigiang">
						<ictu-paginator [control]="dataTableBaiGiang.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
					</div> -->
				</div>
				<div class="class-planning-additional-lesson__body__noidung">
					@if (valueLesson.indexContentLesson != -1) {
						@if (true) {
							<!-- valueLesson.classSession.status != 0 -->
							<div class="class-planning-additional-lesson__lesson-content__head">
								<div class="class-planning-additional-lesson__lesson-content__lesson-title m-0 d-inline-flex justify-content-start align-items-center">
									<i class="ti ti-bookmarks"></i>
									<div class="d-inline-flex flex-column h-100">
										<p class="f-roboto f-13 fw-medium lh-base m-0 d-inline-flex" style="color: #5B6B79;">{{ valueLesson.classSession.topic ?? 'Unknown' }}</p>
										<h4 class="f-roboto f-16 fw-bold lh-base m-0">{{ valueLesson.classSession.title ?? '' }}</h4>
									</div>
								</div>
								<div class="class-planning-additional-lesson__lesson-content__instructors d-inline-flex justify-content-end align-items-center ms-auto">
									<div class="class-planning-additional-lesson-btn-bosung">
										<!-- <button (click)="visibleDialog = true" mat-flat-button class="btn ictu-button-purple-light btn_save">Media <i class="ti ti-cloud-upload"></i></button> -->
										
										@if(valueLesson.classSession.course_lesson_id != 0) {
											<button (click)="openDialogFile()" mat-flat-button class="btn ictu-button-primary-light class-planning-additional-lesson-btn_save">
												<i class="ti ti-cloud-upload"></i> File đính kèm
											</button>
										}
										<button [disabled]="!valueLesson.isUpdatelectureLesson" (click)="saveClassSessionContent()" mat-flat-button class="btn ictu-button-info-light class-planning-additional-lesson-btn_save">
											<i class="pi pi-save"></i> Cập nhật
										</button>
									</div>
								</div>
							</div>
							<div class="class-planning-additional-lesson__lesson-content__tab-content">
								@if(valueLesson.classSession.course_lesson_id != 0) {
									<p-tabs [value]="activeTab" (valueChange)="onTabChange($event)">
										<p-tablist>
											<p-tab [value]="0">Nội dung và Tài liệu</p-tab>
											<p-tab [value]="1">Bài tập</p-tab>
										</p-tablist>
										<p-tabpanels>
											<p-tabpanel [value]="0">
												@for (section of course.lecture_format; track section; let indexParent = $index) {
													<div class="class-planning-additional-lesson__lesson-content__section the-content-has-been-rewritten">
														<div class="class-planning-additional-lesson__lesson-content__section__head">
															<b class="class-planning-additional-lesson__lesson-content__section__title">{{ section.title }}</b>
															
														</div>
														@if(valueLesson.lectureLesson[indexParent].isViewUpdated == true){
															<button class="btn class-planning-additional-lesson__btn-toggle-eye-check" style="right: 46px" pTooltip="Xem nội dung gốc" tooltipPosition="left" (click)="updateTypeViewLecture('original', indexParent)" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
																<i class="ti ti-eye"></i>
															</button>
														}
														@if(section.type != 'EXCERPT_FROM_DOCUMENT'){
															<button class="btn class-planning-additional-lesson__btn-toggle-eye-check" [pTooltip]="valueLesson.lectureLesson[indexParent].isViewUpdated ? 'Đóng cửa sổ soạn bài' : 'Soạn nội dung mới'" tooltipPosition="left" (click)="updateTypeViewLecture('update', indexParent)" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
																<i class="ti ti-edit"></i>
															</button>
														}
														<div class="class-planning-additional-lesson__lesson-content__section__content">
															@if(valueLesson.lectureLesson[indexParent].isViewUpdated == true) {
																@if(valueLesson.lectureLesson[indexParent].isViewOriginal == true){
																	<div class="class-planning-additional-lesson__lesson-content__section the-content-has-been-rewritten">
																		<div class="class-planning-additional-lesson__lesson-content__section__head">
																			<b class="class-planning-additional-lesson__lesson-content__section__title" style="color: #4680FF">Nội dung gốc</b>
																		</div>
																		@switch(section.type){
																			@case('TEXT'){
																				<div class="class-planning-additional-lesson__lesson-content__section__content" [innerHTML]="valueLesson.lectureLesson[indexParent].content | safeHtml"></div>
																			}
																			@case('VOCABULARY'){
																				<div class="course-lesson-baigiang-grid">
																					@for (grid of valueLesson.lectureLesson[indexParent].wordLECTURE; track grid.id; let indexWord = $index) {
																						<div class="course-lesson-baigiang-grid__card">
																							@if (grid.audio) {
																								<button (click)="$event.stopPropagation(); toggleAudio(setSrcAudio(grid.audio), indexWord)" class="btn btn-sound">
																									<i [class]="isPlayingIndex === indexWord ? 'ti ti-volume-3' : 'ti ti-volume'"></i>
																								</button>
																							}
																							<div class="course-lesson-baigiang-grid__card-word">{{ grid.title }}</div>
																							<img class="ictu-upload-image-form-control__img" [ICTUMediaLoader]="grid.thumbnail" alt="word image" width="100" height="100">
																							<div class="course-lesson-baigiang-grid__card-mean">{{ grid.define }}</div>
																							<div class="course-lesson-baigiang-grid__card-phonetic" [innerHTML]="grid.transcription | safeHtml"></div>
																						</div>
																					}
																				</div>
																			}
																			@case('EXAMPLE_SENTENCES'){
																				@for (grammar of valueLesson.lectureLesson[$index].grammarLecture; track grammar.id; let i = $index) {
																					<div style="padding-bottom: 6px;">
																						<div class="class-planning-additional-lesson-grammar-conversation">{{ getConversationText(grammar) }}</div>
																						@if (grammar.translation) {
																							<div class="class-planning-additional-lesson-grammar-translation">({{ grammar.translation }})</div>
																						}
																					</div>
																				}
																			}
																			@case('LINK'){
																				@if(valueLesson.lectureLesson[indexParent].content != '' && valueLesson.lectureLesson[indexParent].content){
																					<div class="text-lecture-view-document" (click)="setValueDialog(section.title, section.type, valueLesson.lectureLesson[indexParent].content)" target="_blank">Nhấn vào đây để truy cập link</div>
																				}
																			}
																			@case('MEDIA'){
																				<div class="class-planning-curriculum-lecture__media d-flex flex-wrap">
																					@for (_media of (valueLesson.lectureLessonUpdate[indexParent].content || valueLesson.lectureLesson[indexParent].content  | courseLessonMediaDecode); track _media; ) {
																						@switch (_media.mediaType) {
																							@case ('video') {
																								<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																									<class-curriculum-lecture-media-video [media]="_media" class="w-100 h-100"></class-curriculum-lecture-media-video>
																								</div>
																							}
																							@case ('audio') {
																								<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																									<app-class-curriculum-lecture-media-audio [media]="_media" class="w-100 h-100"></app-class-curriculum-lecture-media-audio>
																								</div>
																							}
																							@case ('picture') {
																								<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																									<app-class-curriculum-lecture-media-picture [media]="_media" class="w-100 h-100"></app-class-curriculum-lecture-media-picture>
																								</div>
																							}
																							@case ('document') {
																								<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																									<app-class-curriculum-lecture-media-document [media]="_media" class="w-100 h-100"></app-class-curriculum-lecture-media-document>
																								</div>
																							}
																							@default {
																								<div class="class-planning-curriculum__lesson-content__section__content" [innerHTML]="valueLesson.lectureLesson[indexParent].content | safeHtml"></div>
																							}
																						}
																					}
																				</div>
																			}
																		}
																	</div>
																}
																@if (section.type != 'EXCERPT_FROM_DOCUMENT') {
																	<div class="class-planning-additional-lesson__lesson-content__section">
																		@switch(section.type){
																			@case('TEXT'){
																				<div class="class-planning-additional-lesson__lesson-content__section__head">
																					<b class="class-planning-additional-lesson__lesson-content__section__title" style="color: var(--p-red-600)">Tùy chỉnh soạn lại</b>
																				</div>
																				<div class="class-planning-additional-lesson__lesson-content__section__content">
																					<ngx-editor-menu [editor]="editors[indexParent]" [toolbar]="toolbar"></ngx-editor-menu>
																					<div class="inline-editor-box">
																						<ngx-editor class="class-planning-additional-lesson-editor" [editor]="editors[indexParent]" [(ngModel)]="valueLesson.lectureLessonUpdate[indexParent].content" (keydown)="onUserInput();" placeholder="Nhập nội dung..."></ngx-editor>
																					</div>
																				</div>
																			}
																			@case('LINK'){
																				<div class="class-planning-additional-lesson__lesson-content__section__head">
																					<b class="class-planning-additional-lesson__lesson-content__section__title" style="color: var(--p-red-600)">Tùy chỉnh soạn lại</b>
																				</div>
																				<div class="class-planning-additional-lesson__lesson-content__section__content">
																					<input class="ictu-form__input-field w-100" pInputText [(ngModel)]="valueLesson.lectureLessonUpdate[indexParent].content" [ngModelOptions]="{standalone: true}" appendTo="body" placeholder="Nhập link tài liệu">
																				</div>
																			}
																			@case('VOCABULARY'){
																				<div class="class-planning-additional-lesson__lesson-content__section__head">
																					<b class="class-planning-additional-lesson__lesson-content__section__title" style="color: var(--p-red-600)">Tùy chỉnh soạn lại</b>
																				</div>
																				<div class="class-planning-additional-lesson__lesson-content__section__head_button">
																					<button class="btn ictu-button-primary-light class-planning-additional-lesson-btn_save" (click)="openDialogWord(true); valueLesson.indexLectureLessonUpdate = $index">Thêm
																						<i class="ti ti-edit-circle"></i></button>
																				</div>
																				<div class="class-planning-additional-lesson__lesson-content__section__content">
																					<div class="course-lesson-baigiang-grid">
																						@for (grid of valueLesson.lectureLessonUpdate[indexParent].wordLECTURE; track grid.id; let indexWord = $index) {
																							<div class="course-lesson-baigiang-grid__card" (click)="updateIndexLectureUpdate(indexWord); openDialogWord(false, grid); ">
																								<button (click)="$event.stopPropagation(); updateIndexLectureUpdate(indexParent); delWord(grid.id);" mat-flat-button class="btn ictu-badge-btn--danger-reverse delete-btn">
																									<i class="ti ti-trash"></i>
																								</button>
																								@if (grid.audio) {
																									<button (click)="$event.stopPropagation(); toggleAudio(setSrcAudio(grid.audio), indexWord)" class="btn btn-sound">
																										<i [class]="isPlayingIndex === indexWord ? 'ti ti-volume-3' : 'ti ti-volume'"></i>
																									</button>
																								}
																								<div class="course-lesson-baigiang-grid__card-word">{{ grid.title }}</div>
																								<img class="ictu-upload-image-form-control__img" [ICTUMediaLoader]="grid.thumbnail" alt="word image" width="100" height="100">
																								<div class="course-lesson-baigiang-grid__card-mean">{{ grid.define }}</div>
																								<div class="course-lesson-baigiang-grid__card-phonetic" [innerHTML]="grid.transcription | safeHtml"></div>
																							</div>
																						}
																					</div>
																				</div>
																			}
																			@case('EXAMPLE_SENTENCES'){
																				<div class="class-planning-additional-lesson__lesson-content__section__head">
																					<b class="class-planning-additional-lesson__lesson-content__section__title" style="color: var(--p-red-600)">Tùy chỉnh soạn lại</b>
																				</div>
																				<div class="class-planning-additional-lesson__lesson-content__section__head_button">
																					<button class="btn ictu-button-primary-light class-planning-additional-lesson-btn_save" (click)="updateIndexLectureUpdate(indexParent); saveGrammar(-1,true)">Thêm
																						<i class="ti ti-edit-circle"></i></button>
																				</div>
																				@for (grammar of valueLesson.lectureLessonUpdate[indexParent].grammarLecture; track grammar; let j = $index) {
																					<div class="course-lesson-grammar-lecture">
																						<div class="course-lesson-grammar-lecture__header">
																							@if (! isPanel1Open(j)) {
																								<div style="font-weight: 500;">{{ getConversationText(grammar) }}</div>
																							} @else {
																								<div class="ictu-form ictu-form--label-on-top" style="flex: 1; padding-left: 0px;">
																									<div class="ictu-form__row">
																										<label class="ictu-form__label ictu-form__label--required" for="f_prompt">Câu dẫn</label>
																										<input class="ictu-form__input-field" id="f_prompt" [(ngModel)]="grammar.prompt" [ngModelOptions]="{standalone: true}" pInputText appendTo="body" placeholder="Câu mở đầu">
																									</div>
																								</div>
																							}
																							<div class="course-lesson-grammar-lecture__header__right">
																								@if(isPanel1Open($index)){
																									<button class="btn ictu-button-info-light" (click)="updateIndexLectureUpdate(indexParent); saveGrammar(grammar.id,false)">Lưu</button>
																								}

																								<div style="display: flex">
																									@if(!isPanel1Open($index)){
																										<button (click)="updateIndexLectureUpdate(indexParent); delGrammar(grammar.id); $event.stopPropagation();" mat-flat-button class="btn ictu-badge-btn--danger-reverse delete-btn">
																											<i class="ti ti-trash"></i>
																										</button>
																									}
																									<svg (click)="collapseMenu1.panel?.toggle();" [ngClass]="isPanel1Open($index) ? 'css-en-1hqlyo5' : 'css-en-9zucdi'" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#EEF1F7"></circle><path d="M12.351 14.8367C12.356 14.8307 12.358 14.8227 12.363 14.8167L15.8538 10.9599C16.0487 10.7429 16.0487 10.391 15.8538 10.174C15.8518 10.172 15.8498 10.171 15.8478 10.17C15.8044 10.1174 15.75 10.075 15.6886 10.0457C15.6271 10.0163 15.5599 10.0007 15.4918 10H8.50927C8.43988 10.0011 8.37159 10.0175 8.30922 10.0479C8.24684 10.0783 8.19191 10.122 8.14829 10.176L8.14629 10.174C8.05193 10.2832 8 10.4227 8 10.567C8 10.7113 8.05193 10.8508 8.14629 10.9599L11.645 14.8367C11.6886 14.8877 11.7427 14.9287 11.8037 14.9568C11.8646 14.985 11.9309 14.9995 11.998 14.9995C12.0651 14.9995 12.1315 14.985 12.1924 14.9568C12.2533 14.9287 12.3074 14.8877 12.351 14.8367Z" fill="#808C98"></path></svg>
																								</div>
																							</div>
																						</div>
																						<collapse-panel #collapseMenu1>
																							<div class="ictu-form ictu-form--label-on-top" style="padding-top: 0px;">
																								<div class="ictu-form__row">
																									<label class="ictu-form__label" for="f_response">Câu tiếp</label>
																									<input class="ictu-form__input-field" id="f_response" pInputText [(ngModel)]="grammar.response" [ngModelOptions]="{standalone: true}" appendTo="body" placeholder="Câu tiếp lời">
																								</div>
																								<div class="ictu-form__row">
																									<label class="ictu-form__label ictu-form__label--required" for="f_translation">Cách sử dụng</label>
																									<textarea class="ictu-form__input-field" id="f_translation" pInputText [(ngModel)]="grammar.translation" [ngModelOptions]="{standalone: true}" appendTo="body" placeholder="Mô tả cách sử dụng câu"></textarea>
																								</div>
																							</div>
																						</collapse-panel>
																					</div>
																					<div style="height:10px"></div>
																				}
																			}
																			@case('MEDIA'){
																				<div class="class-planning-additional-lesson__lesson-content__section__head">
																					<b class="class-planning-additional-lesson__lesson-content__section__title" style="color: var(--p-red-600)">Tùy chỉnh soạn lại</b>
																				</div>
																				<div class="class-planning-additional-lesson__lesson-content__section__content">
																					<form [formGroup]="formControl.formGroup" style="height: 100%">
																						<ng-scrollbar orientation="vertical" style="height:100%;" visibility="hover">
																							<div class="d-block p-15">
																								<app-edit-course-lesson-structure-media formControlName="content_media"></app-edit-course-lesson-structure-media>
																							</div>
																						</ng-scrollbar>
																					</form>
																				</div>
																			}
																		}
																	</div>
																}
															}@else {
																<!-- OnlyView -->
																@switch(section.type){
																	@case('TEXT'){
																		<div class="class-planning-additional-lesson__lesson-content__section__content" [innerHTML]="getValueContentLecture(section.type, indexParent) | safeHtml"></div>
																	}
																	@case('VOCABULARY'){
																		<div class="course-lesson-baigiang-grid">
																			@for (grid of getValueContentLecture(section.type, indexParent); track grid.id; let indexWord = $index) {
																				<div class="course-lesson-baigiang-grid__card">
																					@if (grid.audio) {
																						<button (click)="$event.stopPropagation(); toggleAudio(setSrcAudio(grid.audio), indexWord)" class="btn btn-sound">
																							<i [class]="isPlayingIndex === indexWord ? 'ti ti-volume-3' : 'ti ti-volume'"></i>
																						</button>
																					}
																					<div class="course-lesson-baigiang-grid__card-word">{{ grid.title }}</div>
																					<img class="ictu-upload-image-form-control__img" [ICTUMediaLoader]="grid.thumbnail" alt="word image" width="100" height="100">
																					<div class="course-lesson-baigiang-grid__card-mean">{{ grid.define }}</div>
																					<div class="course-lesson-baigiang-grid__card-phonetic" [innerHTML]="grid.transcription | safeHtml"></div>
																				</div>
																			}
																		</div>
																	}
																	@case('EXAMPLE_SENTENCES'){
																		@for (grammar of getValueContentLecture(section.type, indexParent); track grammar.id; let i = $index) {
																			<div style="padding-bottom: 6px;">
																				<div class="class-planning-additional-lesson-grammar-conversation">{{ getConversationText(grammar) }}</div>
																				@if (grammar.translation) {
																					<div class="class-planning-additional-lesson-grammar-translation">({{ grammar.translation }})</div>
																				}
																			</div>
																		}
																	}
																	@case('LINK'){
																		@if(getValueContentLecture(section.type, indexParent)){
																			<div class="text-lecture-view-document" (click)="setValueDialog(section.title, section.type, getValueContentLecture(section.type, indexParent))" target="_blank">Nhấn vào đây để truy cập link</div>
																			<!-- <div style="height: calc(var(--device-height) * 0.9)">
																				<app-view-document type_view="LINK" [link]="valueLesson.lectureLesson[indexParent].content" [form_document]="form_document"></app-view-document>
																			</div> -->
																		}
																	}
																	@case('EXCERPT_FROM_DOCUMENT'){
																		@if(valueLesson.lectureLesson[indexParent].page.start != 0){
																			<div class="text-lecture-view-document" (click)="setValueDialog(section.title, section.type, '', valueLesson.lectureLesson[indexParent].page)" target="_blank">Nhấn vào đây để truy cập tài liệu đã được trính dẫn</div>
																		}
																	}
																	@case('MEDIA'){
																		<div class="class-planning-curriculum-lecture__media d-flex flex-wrap">
																			@for (_media of (getValueContentLecture(section.type, indexParent) | courseLessonMediaDecode); track _media; ) {
																				@switch (_media.mediaType) {
																					@case ('video') {
																						<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																							<class-curriculum-lecture-media-video [media]="_media" class="w-100 h-100"></class-curriculum-lecture-media-video>
																						</div>
																					}
																					@case ('audio') {
																						<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																							<app-class-curriculum-lecture-media-audio [media]="_media" class="w-100 h-100"></app-class-curriculum-lecture-media-audio>
																						</div>
																					}
																					@case ('picture') {
																						<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																							<app-class-curriculum-lecture-media-picture [media]="_media" class="w-100 h-100"></app-class-curriculum-lecture-media-picture>
																						</div>
																					}
																					@case ('document') {
																						<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																							<app-class-curriculum-lecture-media-document [media]="_media" class="w-100 h-100"></app-class-curriculum-lecture-media-document>
																						</div>
																					}
																					@default {
																						<div class="class-planning-curriculum__lesson-content__section__content" [innerHTML]="valueLesson.lectureLesson[indexParent].content | safeHtml"></div>
																					}
																				}
																			}
																		</div>
																	}
																}
															}
														</div>
													</div>
												}
											</p-tabpanel>
											<p-tabpanel [value]="1">
												<app-assign-homework-component [class_id]="class_id()" [class_session_id]="valueLesson.classSession.id" [course_lesson_id]="valueLesson.classSession.course_lesson_id" [canChange]="valueLesson.classSession.status != 0 ? true : false"></app-assign-homework-component>
											</p-tabpanel>
										</p-tabpanels>
									</p-tabs>
								} @else {
									<div class="class-planning-additional-lesson-badge--danger" style="height: calc(var(--device-height) - 60px - 60px - 16px)">
										<span class="ictu-badge ictu-badge--danger">Đây là hoạt động ngoại khóa không có nội dung bài học</span>
									</div>
								}
							</div>
						} @else {
							<div class="class-planning-additional-lesson-badge--danger">
								<span class="ictu-badge ictu-badge--primary">Vui lòng hoàn thành giảng dạy buổi trước</span>
							</div>
						}
					} @else {
						<div class="class-planning-additional-lesson-badge--danger">
							<span class="ictu-badge ictu-badge--danger">Vui lòng chọn mục cần cập nhật</span>
						</div>
					}
				</div>
			</div>
		</div>
	} @else {
		<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
			<a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
		</div>
	}
</section>

<p-dialog [(visible)]="visibleDialogWord" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '50vh',minHeight: '400px',maxHeight: '100vh'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-layout--no-border ictu-dialog-layout--hide-header">
	<div class="ictu-dialog-layout__wrapper">
		<div class="ictu-dialog-layout__header">
			<h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">Thông tin từ vựng</h4>
			<button (click)="resetDialogWord()" class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button>
				<i class="ti ti-x"></i>
			</button>
		</div>
		<div class="ictu-dialog-layout__body">
			@switch (formControlWord.state()) {
				@case ('READY') {
					<form [formGroup]="formControlWord.formGroup" style="height: 100%">
						<div class="ictu-form ictu-form--label-on-top">
							<div class="ictu-form__row" style="display: flex; flex-direction: column ;justify-content: center; align-items: center;">
								<label class="ictu-form__label" style="float:left">Ảnh mô tả</label>
								<div class="ictu-upload-image-form-control w-50" style="padding: 5px; height: 200px;padding-top: 6px;">
									@if (getControl('thumbnail').value) {
										<img class="ictu-upload-image-form-control__img" [ICTUMediaLoader]="getControl('thumbnail').value" alt="">
									} @else {
										<svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 48 48" width="512" style="width: 90px;aspect-ratio: 1;max-height: 100%;">
											<g>
												<path d="m42 9v30h-36v-30z" fill="#fafafa"/>
												<path d="m31 18a3 3 0 1 1 3 3 3 3 0 0 1 -3-3zm-3 6-3 5-5-8-11 18h30z" fill="#e0e0e0"/>
												<path d="m42 8h-36a1 1 0 0 0 -1 1v30a1 1 0 0 0 1 1h36a1 1 0 0 0 1-1v-30a1 1 0 0 0 -1-1zm-10.4389 30-5.4471-8.9134 1.9695-3.2819 8.9429 12.1953zm-2.3444 0h-18.4334l9.2167-15.082zm11.7833 0h-1.493l-10.7-14.5913a1 1 0 0 0 -1.6641.0767l-2.2054 3.6754-4.0836-6.6823a1.04 1.04 0 0 0 -1.707 0l-10.708 17.5215h-1.4389v-28h34zm-7-16a4 4 0 1 0 -4-4 4.0046 4.0046 0 0 0 4 4zm0-6a2 2 0 1 1 -2 2 2.002 2.002 0 0 1 2-2z" fill="#9e9e9e"/>
											</g>
										</svg>
									}
									<button (click)="callFileChooser('thumbnail')" class="btn ictu-upload-image-form-control__btn-upload">
										<i class="ti ti-camera-plus"></i>
									</button>
								</div>
							</div>
							<div class="ictu-form__row" style="display: flex; flex-direction: column ;justify-content: center; align-items: center;">
								<label class="ictu-form__label">Âm thanh</label>
								<div class="course-lesson-word-lecture-audio-box">
									@if (getControl('audio').value) {
										<div class="course-lesson-word-lecture-audio-box__player">
											<audio [src]="setSrcAudio(getControl('audio').value.name)" controls></audio>
											<button (click)="callFileChooser('audio')" mat-flat-button class="btn ictu-badge-btn--info-reverse" pTooltip="Tải file mới" tooltipPosition="top" style=" position: absolute; width: 28px; height: 28px; bottom: 29px; border-radius: 100px;">
												<i class="ti ti-edit-circle"></i>
											</button>
										</div>
									} @else {
										<button (click)="callFileChooser('audio')" class="btn btn-light course-lesson-word-lecture-audio-box__add">
											<i class="ti ti-microphone"></i> Chọn âm thanh
										</button>
									}
								</div>
							</div>
							<div class="ictu-form__row">
								<label class="ictu-form__label ictu-form__label--required" for="f_title">Từ vựng</label>
								<input class="ictu-form__input-field" id="f_title" formControlName="title" pInputText appendTo="body" placeholder="Nhập từ">
							</div>
							@if (formControlWord.formGroup.get('title')?.value && isAddWord) {
								@if (formControlWord.formGroup.get('title')?.pending) {
									<div class="ictu-form__row d-flex align-items-center">
										<span class="loading-spinner-cus"></span>
										<div class="loading-text ms-2 textFontweight">Đang kiểm tra...</div>
									</div>
								} @else if (formControlWord.formGroup.get('title')?.errors?.['wordTaken']) {
									<div class="ictu-form__row">
										<div class="text-danger textFontweight">
											Từ vựng đã được sử dụng nhấn
											<a [matMenuTriggerFor]="menu" #trigger="matMenuTrigger" href="javascript:" class="admin-table__alert-danger__btn-reload">vào đây</a> để chọn từ có sẵn
										</div>
									</div>
								} @else {
									<div class="d-flex align-items-center">
										<div class="text-success me-2 textFontweight">Từ vựng hợp lệ</div>
									</div>
								}
							}
							<div class="ictu-form__row">
								<label class="ictu-form__label" for="f_define">Nghĩa tiếng việt</label>
								<input class="ictu-form__input-field" id="f_define" formControlName="define" pInputText appendTo="body" placeholder="Nghĩa tiếng việt của từ">
							</div>
							<div class="ictu-form__row">
								<div class="row">
									<div class="col-6">
										<div class="ictu-form__row">
											<label class="ictu-form__label" for="f_bdt">Cấp độ</label>
											<p-multiselect id="f_bdt" [options]="bacDaoTaoDropdownField.options()" formControlName="bacdaotao_ids" appendTo="body" class="ictu-form__input-field" [placeholder]="bacDaoTaoDropdownField.placeholder()"/>
										</div>
									</div>
									<div class="col-6">
										<div class="ictu-form__row">
											<label class="ictu-form__label">Loại từ</label>
											<p-select [options]="optionLoaiTu" formControlName="type" appendTo="body" class="ictu-form__input-field" placeholder="Loại từ"/>
										</div>
									</div>
								</div>
							</div>
							<div class="ictu-form__row">
								<label class="ictu-form__label" for="f_transcription">Phiên âm</label>
								<div class="ngx-editor__wrapper d-flex flex-column" id="f_transcription">
									<ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
									<ngx-editor class="editor-transcription" [editor]="editor" formControlName="transcription" placeholder="..."></ngx-editor>
								</div>
							</div>
						</div>
					</form>
					<div style="width: 100%; padding-right: 15px;">
						<button [disabled]="!formControlWord.formFilledAndValid" class="btn ictu-badge-btn--primary-reverse" style="float: right;" mat-flat-button (click)="saveWord()">Lưu lại</button>
					</div>
				}
				@case ('PREPARATION_FAILED') {
					<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
						<a (click)="formControlWord.preparation()" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
					</div>
				}
				@case ('LOADING') {
					<app-loading-progress heading="Đang Upload..." backdropFilter="none"></app-loading-progress>
				}
			}
		</div>
	</div>
</p-dialog>

<ng-template #wordDel let-word>
	<div class="course-lesson-word-lecture-deltemplate" (click)="addWord(word.id)">
		<img class="ictu-upload-image-form-control__img" [ICTUMediaLoader]="word.thumbnail" alt="word image" width="50" height="50">
		<div class="course-lesson-word-lecture-deltemplate__right">
			<div style="font-weight: 500;">{{ word.title }}</div>
			<div>{{ word.define }}</div>
			<div [innerHTML]="word.transcription | safeHtml"></div>
			<div>Loại từ: {{ word.type | ictuDropdownOptionMap : optionLoaiTu : '' }}</div>
		</div>
	</div>
</ng-template>
<mat-menu #menu="matMenu" yPosition="below">
	<div style="padding: 10px; min-width: 200px; overflow-y: auto">
		@for (itemWord of listWordOld; track itemWord.id; let i = $index) {
			<div style="padding-bottom: 6px;">
				<ng-container *ngTemplateOutlet="wordDel; context: { $implicit: itemWord }"></ng-container>
			</div>
		}
	</div>
</mat-menu>

<p-dialog [(visible)]="visibleDialog" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '100%', height: 'var(--device-height)'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-viewdoc ictu-dialog-layout--no-border ictu-dialog-layout--hide-header">
	<div class="ictu-dialog-layout__wrapper ictu-dialog-viewdoc__wrapper">
		<div class="ictu-dialog-layout__header">
			<h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">{{titleLecture}}</h4>
			<button (click)="visibleDialog = false" class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button>
				<i class="ti ti-x"></i>
			</button>
		</div>
		<div class="ictu-dialog-layout__body ictu-dialog-viewdoc__body">
			@if(visibleDialog){
				<app-view-document [type_view]="type_view" [link]="link" [form_document]="form_document"></app-view-document>
			}
		</div>
	</div>
</p-dialog>

<p-dialog [(visible)]="visibleDialogMedia" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '50vh'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-layout--no-border ictu-dialog-layout--hide-header">
	<div class="ictu-dialog-layout__wrapper">
		<div class="ictu-dialog-layout__header">
			<h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">File tài liệu bổ sung</h4>
			<button (click)="visibleDialogMedia = false" class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button>
				<i class="ti ti-x"></i>
			</button>
		</div>
		<div class="ictu-dialog-layout__body">
			<form [formGroup]="formControl.formGroup" style="flex: 1 1 auto;">
				<div class="class-student-parent-dialog-body">
					<div class="ictu-form__row">
						<!-- <label class="ictu-form__label">File đính kèm</label> -->
						<div class="edit-course-lesson-test-format">
							@for (item of getControlAttachment('attachments').value; track item.file?.title ?? item.title; let idx = $index) {
								<div class="ictu-attachment-item" [ngClass]="'ictu-attachment-item--type-' + item.location">
									<div class="ictu-attachment-item__container w-100">
										@if (deletingFormItemIndex() === idx) {
											<mat-progress-bar class="edit-course-lesson-test-format__item__loading" mode="indeterminate" value="40"></mat-progress-bar>
										}
										<div class="ictu-attachment-item__icon d-inline-flex justify-content-center align-items-center position-relative p-0 m-0" [innerHTML]="item.file | fileIcon | safeHtml"></div>
										<div class="ictu-attachment-item__info">
											<b class="ictu-attachment-item__info__label text-truncate w-100 f-roboto f-14 fw-medium lh-base m-0 p-0">{{ item.file?.title ?? '' }}</b>
											<p class="ictu-attachment-item__info__info text-truncate w-100 f-roboto f-14 fw-normal lh-base text-muted m-0 p-0">{{ item.file?.size ?? 0 | formatBytes }}</p>
										</div>
										<div class="ictu-attachment-item__controls">
											<button (click)="btnPreviewFile(item.file)" class="btn ictu-attachment-item__controls__btn ictu-attachment-item__controls__btn--preview" pTooltip="Xem trước" tooltipPosition="top" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
												<i class="ti ti-eye"></i>
											</button>
											<button (click)="btnRemoveFormItem(idx,'documents')" class="btn ictu-attachment-item__controls__btn ictu-attachment-item__controls__btn--delete" pTooltip="Xóa file" tooltipPosition="top" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
												<i class="ti ti-trash"></i>
											</button>
										</div>
									</div>
								</div>
							}
							<button mat-flat-button (click)="btnCallFileChooser()" class="btn ictu-button-info-light w-100 f-14 fw-normal"  style="height: 40px">
								<i class="pi pi-plus"></i> Thêm File đính kèm
							</button>
						</div>
					</div>
				</div>
			</form>
			<div class="class-student-parent-dialog-footer">
				<button (click)="visibleDialogMedia = false" mat-flat-button class="btn ictu-badge-btn--secondary">Đóng</button>
				<button mat-flat-button class="btn ictu-badge-btn--info-reverse" (click)="saveClassSessionContent()">Lưu</button>
			</div>
		</div>
	</div>
</p-dialog>

	<mat-menu #menuAvatarTeacher="matMenu" yPosition="above" >
		<ng-template matMenuContent let-info="info">
			<div class="profile-avatar-menu">
				<img [src]="info.photo || 'images/user/avatar-placeholder.jpg'" alt="Preview"/>
			</div>
		</ng-template>
	</mat-menu>