.admin-table td {
    border: none;
    border-bottom: 1px solid var(--admin-table-border-color);
}

.admin-table th {
    border: none;
    border-bottom: 1px solid var(--admin-table-border-color);
}

.admin-wrap-table__body {
    border: 1px solid var(--admin-table-border-color);
    border-bottom: none;
}

.class-progress-attendance__avatar {
    width: 50px;
    aspect-ratio: 1;
    height: auto;
    margin: auto;
    border-radius: 999px;
}

.ictu-badge {
    height: 46.5px;
}

.admin-wrap-table-attendance {
    display: flex;
    flex-direction: column;
    height: calc(var(--device-height) - 60px);
}

.admin-wrap-table {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.admin-wrap-table__head {
    height: 55px;
}

.admin-wrap-table__body {
    flex: 1 1 auto;
    height: 1%;
    overflow: hidden;
    overflow-y: auto;
    background: var(--accent-100);
    display: flex;
    flex-direction: column;
}

.admin-wrap-table__foot {
    height: 55px;
}

.custom-dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.custom-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
    height: 50px;
}

.custom-dialog-body {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: auto;
}

.custom-dialog-foot {
    height: 60px;
}

.class-progress-attendance-dialog-header__close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
    padding-left: 10px;
}

.row_no_space_between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-bottom: 10px;
}

.empty-message-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(70vh - 60px);
}

.hoc-sinh-section__avatar {
    width: 50px;
    aspect-ratio: 1;
    height: auto;
    margin: auto;
    border-radius: 999px;
}

.admin-wrap-table {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.admin-wrap-table__head {
    height: 55px;
}

.admin-wrap-table__body {
    flex: 1 1 auto;
    height: 1%;
    overflow: hidden;
    overflow-y: auto;
    background: var(--accent-100);
    display: flex;
    flex-direction: column;
}

.admin-wrap-table__foot {
    height: 55px;
}

.class-progress-attendance-dialog-body__profile-card {
    display: flex;
    align-items: center;
    background: #f7f9fc;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.class-progress-attendance-dialog-body-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.class-progress-attendance-dialog-body__profile-info {
    display: flex;
    flex-direction: column;
}

.class-progress-attendance-dialog-body__profile-info .profile-info-name {
    font-weight: 600;
    font-size: 16px;
}

.class-progress-attendance-dialog-body__profile-info .profile-info-dob {
    font-size: 13px;
    color: #666;
    margin-bottom: 6px;
}

.class-progress-attendance-dialog-body__profile-info .profile-info-tag {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* radioButton */

.class-progress-attendance-selec-radio-label {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    color: black;
    padding-right: 10px;
}

.class-progress-attendance-selec-radio-label input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #ccc;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.class-progress-attendance-selec-radio-label input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: currentColor;
}

.radio-PRESENT input[type="radio"] {
    border-color: rgb(var(--c2-success));
    color: rgb(var(--c2-success));
}

.radio-UNEXCUSED input[type="radio"] {
    border-color: rgb(var(--c2-danger));
    color: rgb(var(--c2-danger));
}

.radio-EXCUSED input[type="radio"] {
    border-color: rgb(var(--c2-purple));
    color: rgb(var(--c2-purple));
}

.radio-LATE input[type="radio"] {
    border-color: rgb(var(--c2-primary));
    color: rgb(var(--c2-primary));
}

/* dailog comment */
.class-progress-attendance-dialog {
    background-color: white;
    min-width: 400px;
    max-width: 100%;
    height: 60vh;
    font-family: var(--primary-font-family), sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.class-progress-attendance-dialog-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    color: #1f1f1f;
    height: 60px;
}

.class-progress-attendance-dialog-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.class-progress-attendance-dialog-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 6px;
    padding-bottom: 10px;
    overflow-x: hidden;
}

.custom-btn {
    width: 60px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-progress-attendance-dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: 40px;
}

.class-student-parent-dialog-body__user-item {
    display: flex;
    align-items: center;
    padding: 6px 10px;
}

.class-student-parent-dialog-body__user-item .user-item-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.class-student-parent-dialog-body__user-item .user-item-name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-preview {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.class-student-control-wrapper__left {
    display: flex;
    gap: 6px;
    align-items: center;
}

.class-student-control-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px 4px 14px 10px;
    height: 44px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    margin-top: 4px;
}

.edit-course-lesson-test-table {
    width: 100%;
    border: 1px solid #e9ecef;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
}

.edit-course-lesson-test-table--border-none {
    border: none;
}

.edit-course-lesson-test-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.edit-course-lesson-test-table th,
.edit-course-lesson-test-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #e9ecef;
}

.edit-course-lesson-test-table th {
    background: #f8f9fa;
    font-weight: 600;
    color: #333;
}


.edit-course-lesson-test-table tr:last-child td {
    border-bottom: none;
}

.class-planning-curriculum-lecture__media {
    gap: 15px;
}

.class-planning-curriculum-lecture__media__item {
    width: max(calc((100% - 30px) / 3), 400px);
    aspect-ratio: 16/9;
    border: none;
    overflow: hidden;
    border-radius: 4px;
    background-color: #eef1f7;
}
.warning-btn {
    width: 32px;
    height: 32px;
    animation: danger-blink 1.2s infinite;
}

@keyframes danger-blink {
    0% {
        background-color: #ffe5e5;
    }

    50% {
        background-color: #ffbdbd;
    }

    100% {
        background-color: #ffe5e5;
    }
}