<section class="admin-section--table position-relative">
	@if (state() === 'loading') {
		<app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
	}
<div class="admin-wrap-table">
		@if (state() !== 'error') {
			<div class="admin-wrap-table__head d-flex">
				<h4 class="admin-wrap-table__heading">
					<svg><use href="fonts/custom-icon.svg#custom-user-bold"></use></svg>
					Danh sách phụ huynh của học sinh: {{studentObject().full_name}}
				</h4>
				<div class="admin-wrap-table__head-actions">
					<!-- <input [(ngModel)]="searchInfo.search" class="admin-wrap-table__head-actions__search" pInputText placeholder="Tìm kiếm..." type="text" (keyup.enter)="onSearchData()"> -->
					<!-- <p-select [(ngModel)]="searchInfo.parent_id" [loading]="state() === 'loading'" [options]="parentDropdownField.options()" appendTo="body" [showClear]="true" class="wid-175" placeholder="Lọc theo CSDT" (onChange)="onSearchData()"/> -->
					@if (permissionControl().canDelete) {
						<button (click)="deleteSelectedRows()" [disabled]="!dataTable.someItemsChecked()" class="btn ictu-button-danger-gradient" mat-flat-button>
							<i class="ti ti-trash"></i>
						</button>
					}
					@if (permissionControl().canCreate) {
						<button (click)="addNewItem()" mat-flat-button class="btn ictu-badge-btn--success-reverse">
							<i class="ti ti-plus"></i>
						</button>
					}
					<button (click)="setMode('DF')" class="ictu-badge-btn--danger-reverse" mat-flat-button>
							<i class="ti ti-x"></i>
						</button>
				</div>
			</div>
			<div class="admin-wrap-table__body">
				<table class="tbl admin-table table-hover">
					<thead>
						<tr>
							<th class="col-checkbox">
								<mat-checkbox [checked]="dataTable.totalChecked()" [indeterminate]="dataTable.partiallyChecked()" (change)="dataTable.selectRow($event.checked)" [disabled]="!dataTable.data().length || !permissionControl().canDelete"></mat-checkbox>
							</th>
							<th class="wid-100 text-center">Mã phụ huynh</th>
							<th class="wid-60 text-center">Ảnh</th>
							<th class="text-center">Họ và tên</th>
							<th class="wid-60 text-center">Vai trò</th>
							<th class="wid-85 text-center">Email</th>
							<th class="wid-60 text-center">Năm sinh</th>
							<th class="wid-60 text-center">Giới tính</th>
							<th class="wid-120 text-center">SĐT</th>
							<th class="wid-150 text-center">Trách nhiệm</th>
							<th class="wid-62 text-center">Hành động</th>
						</tr>
					</thead>
					<tbody>
						@if(phuHuynhManager){
							<tr>
							    <td colspan="1"></td>
								<td class="wid-100 text-center">{{ phuHuynhManager.code }}</td>
								<td class="wid-60 text-center" style="line-height: 0;padding: 5px 0;">
									<button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{parent: phuHuynhManager}" class="button--un-set-style">
										<img class="profile-avatar-circle" [src]="phuHuynhManager.avatar || 'images/user/avatar-1.jpg'" alt="" width="50" height="50">	
									</button>
								</td>
								<td class="text-left">{{ phuHuynhManager.full_name }}</td>
								<td class="wid-60 text-center">{{ phuHuynhManager.vaitro}}</td>
								<td class="wid-85 text-center">{{ shortenEmailEnd(phuHuynhManager.email)}}</td>
								<td class="wid-60 text-center">{{ phuHuynhManager.dob | date: 'yyyy'}}</td>
								<td class="wid-60 text-center">{{ phuHuynhManager.gender }}</td>
								<td class="wid-120 text-center">{{ phuHuynhManager.dienthoai1}}</td>
								<td class="wid-150 text-center"><span class="ictu-badge ictu-badge--info">Liên hệ trực tiếp</span></td>
								<td class="p-0 wid-90">
									<div class="admin-table__btn-actions">
										@if (permissionControl().canUpdate) {
											<button (click)="editRow(phuHuynhManager)" class="btn ictu-button-info-light">
												<i class="ti ti-edit"></i>
											</button>
										}
										<button [disabled]="true" class="btn ictu-button-danger-light">
											<i class="ti ti-trash"></i>
										</button>
									</div>
								</td>
							</tr>
						@for (row of dataTable.data(); track row.id; let i = $index) {
							<tr>
								<td class="col-checkbox">
									<mat-checkbox [checked]="row._ictuDataTableRowChecked" (change)="dataTable.selectRow($event.checked, i)" [disabled]="!permissionControl().canDelete"></mat-checkbox>
								</td>
								<td class="wid-100 text-center">{{ row.code }}</td>
								<td class="wid-60 text-center" style="line-height: 0;padding: 5px 0;">
									<button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{parent: row}" class="button--un-set-style">
										<img class="profile-avatar-circle" [src]="row.avatar || 'images/user/avatar-1.jpg'" alt="" width="50" height="50">	
									</button>
								</td>
								<td class="text-left">{{ row.full_name }}</td>
								<td class="wid-60 text-center">{{ row.vaitro}}</td>
								<td class="wid-85 text-center">{{ shortenEmailEnd(row.email)}}</td>
								<td class="wid-60 text-center">{{ row.dob | date: 'yyyy'}}</td>
								<td class="wid-60 text-center">{{ row.gender }}</td>
								<td class="wid-120 text-center">{{ row.dienthoai1}}</td>
								<td class="wid-150 text-center"><span class="ictu-badge ictu-badge--success">Người đưa đón</span></td>
								<td class="p-0 wid-90">
									<div class="admin-table__btn-actions">
										@if (permissionControl().canUpdate) {
											<button (click)="editRow(row)" class="btn ictu-button-info-light">
												<i class="ti ti-edit"></i>
											</button>
										}
										@if (permissionControl().canDelete) {
											<button (click)="deleteRow(row)" class="btn ictu-button-danger-light">
												<i class="ti ti-trash"></i>
											</button>
										}
									</div>
								</td>
							</tr>
						}
					}
					@else {
						<tr>
							<td colspan="12">Không có phụ huynh.</td>
						</tr>
					}
						
					</tbody>
				</table>
			</div>
			<!-- <div class="admin-wrap-table__foot">
				<div class="d-flex justify-content-center align-items-center w-100">
					<ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
				</div>
			</div> -->
		} @else {
			<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
				<a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
			</div>
		}
	</div>
</section>
<p-drawer #pDrawer (onHide)="onDrawerHide()" [(visible)]="formControl.visible" [dismissible]="false" [header]="formControl.heading()" [style]="{'width':'600px', 'max-width':'100%'}" appendTo="body" position="right" styleClass="ictu-p-drawer">
	<div class="ictu-p-drawer__content position-relative">
		@if (formControl.enableLoading()) {
			<app-loading-progress [heading]="formControl.loadingLabel()" backdropFilter="none"></app-loading-progress>
		}
		<div class="ictu-p-drawer__content__body position-relative">
			@switch (formControl.state()) {
				@case ('READY') {
					<form [formGroup]="formControl.formGroup">
						<div class="ictu-form">
							<div class="ictu-form__row" style="display: flex; flex-direction: column ;justify-content: center; align-items: center;">
								<label class="ictu-form__label"  style="width: 100%; float:left">Ảnh đại diện</label>
								<div class="ictu-upload-image-form-control w-50" style="margin-top: 5px; height: 200px;">
									@if (getControl('avatar').value) {
										<img class="ictu-upload-image-form-control__img" [src]="getControl('avatar').value | safeUrl" alt="">
									} @else {
										<svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 48 48" width="512" style="width: 90px;aspect-ratio: 1;max-height: 100%;">
											<g>
												<path d="m42 9v30h-36v-30z" fill="#fafafa"/>
												<path d="m31 18a3 3 0 1 1 3 3 3 3 0 0 1 -3-3zm-3 6-3 5-5-8-11 18h30z" fill="#e0e0e0"/>
												<path d="m42 8h-36a1 1 0 0 0 -1 1v30a1 1 0 0 0 1 1h36a1 1 0 0 0 1-1v-30a1 1 0 0 0 -1-1zm-10.4389 30-5.4471-8.9134 1.9695-3.2819 8.9429 12.1953zm-2.3444 0h-18.4334l9.2167-15.082zm11.7833 0h-1.493l-10.7-14.5913a1 1 0 0 0 -1.6641.0767l-2.2054 3.6754-4.0836-6.6823a1.04 1.04 0 0 0 -1.707 0l-10.708 17.5215h-1.4389v-28h34zm-7-16a4 4 0 1 0 -4-4 4.0046 4.0046 0 0 0 4 4zm0-6a2 2 0 1 1 -2 2 2.002 2.002 0 0 1 2-2z" fill="#9e9e9e"/>
											</g>
										</svg>
									}
									<button (click)="callFileChooser('photo')" class="btn ictu-upload-image-form-control__btn-upload">
										<i class="ti ti-camera-plus"></i>
									</button>
								</div>
							</div>
							<div class="ictu-form__row">
								<div class="row">
									<div class="col-4" >
										<div class="ictu-form__row">
											<label class="ictu-form__label ictu-form__label--required" for="f_code">Mã phụ huynh</label>
											<input class="ictu-form__input-field" formControlName="code" id="f_code" pInputText placeholder="Mã số phụ huynh" type="text">
										</div>
									</div>
									<div class="col-8" >
										<div class="ictu-form__row">
											<label class="ictu-form__label ictu-form__label--required" for="f_full_name">Họ và tên</label>
											<input class="ictu-form__input-field" formControlName="full_name" id="f_full_name" pInputText placeholder="Tên phụ huynh" type="text">
										</div>
									</div>
								</div>
							</div>
							<div class="ictu-form__row">
								<label class="ictu-form__label ictu-form__label--required" for="f_email">Email</label>
								<input class="ictu-form__input-field" formControlName="email" id="f_email" pInputText placeholder="Nhập Email" type="text">
							</div>
							<div class="ictu-form__row">
                               <div class="row">
									<div class="col-4" >
										<div class="ictu-form__row">
											<label class="ictu-form__label ictu-form__label--required">Giới tính</label>
											<div class="gender-group">
												<label class="gender-option">
													<input type="radio" value="Nam" formControlName="gender">
													<span>Nam</span>
												</label>

												<label class="gender-option">
													<input type="radio" value="Nữ" formControlName="gender">
													<span>Nữ</span>
												</label>
											</div>
										</div>
									</div>
                                   <div class="col-4" >
										<div class="ictu-form__row" >
											<label class="ictu-form__label ictu-form__label--required" for="f_phone" >SĐT phụ huynh 1</label>
                                            <input class="ictu-form__input-field" formControlName="dienthoai1" id="f_phone" pInputText placeholder="SĐT" type="text"> 
										</div>
									 </div>
                                    <div class="col-4" >
										<div class="ictu-form__row" >
											<label class="ictu-form__label ictu-form__label" for="f_phone" >SĐT phụ huynh 2</label>
                                            <input class="ictu-form__input-field" formControlName="dienthoai2" id="f_phone" pInputText placeholder="SĐT" type="text"> 
										</div>
									 </div>
                               </div>
                            </div>

							<!-- <div class="ictu-form__row">
								<label class="ictu-form__label ictu-form__label--required" for="f_city">Tỉnh</label>
								<p-select [filter]="true"  [options]="tinhDropdownField.options()" appendTo="body" class="ictu-form__input-field" id="f_city" formControlName="tinh" [placeholder]="tinhDropdownField.placeholder()" (onChange)="loadHuyen(false)"/>
							</div> -->
							 <!-- <div class="ictu-form__row">
                                <div class="row">
                                     <div class="col-6">
										<div class="ictu-form__row">
											<label class="ictu-form__label ictu-form__label" for="f_huyen">Huyện</label>
											<p-select id="f_huyen" [options]="optionHuyen"  appendTo="body" class="ictu-form__input-field" formControlName="huyen" placeholder="Chọn huyện" (onChange)="loadXa(false)"/>
										</div>                                  
                                     </div>

                                     <div class="col-6">
										<div class="ictu-form__row">
											<label class="ictu-form__label ictu-form__label" for="f_xa">Xã</label>
											<p-select id="f_xa" [options]="optionXa" appendTo="body" class="ictu-form__input-field" formControlName="xa" placeholder="Chọn xã"/>
										</div> 
									</div>
                                </div>
                             </div> -->
							 
							
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label" for="f_address">Địa chỉ</label>
                                <textarea class="ictu-form__input-field" formControlName="address" id="f_address" pTextarea placeholder="Số nhà, đường phố, xóm, tổ"></textarea> 
                            </div>
							<div class="ictu-form__row">
                                <div class="row">
                                     <div class="col-6" >
                                        <div class="ictu-form__row">
                                            <label class="ictu-form__label ictu-form__label--required" for="f_dob"  style="margin-bottom: 6px;">Ngày sinh</label>
                                            <p-datepicker formControlName="dob" class="ictu-form__input-field" id="f_dob" [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false"  />
                                        </div>
                                    </div>

                                     <div class="col-6">
										<div class="ictu-form__row">
											<label class="ictu-form__label ictu-form__label--required" for="f_status">Vai trò</label>
											<input class="ictu-form__input-field" formControlName="vaitro" id="f_status" pInputText placeholder="Vai trò" type="text">
										</div>
									</div>
                                </div>
                            </div>
							<div class="ictu-form__row">
								<label class="ictu-form__label ictu-form__label" for="f_dvct">Đơn vị công tác</label>
								<p-select id="f_dvct" [options]="organizationDropdownField" appendTo="body" class="ictu-form__input-field" formControlName="organization_id" placeholder="Nhập đơn vị công tác" [editable]="true" (onChange)="onChange($event.value)"/>
							</div> 
							<div class="ictu-form__row">
                                <div class="row">
                                     <div class="col-6" >
                                        <div class="ictu-form__row">
                                            <label class="ictu-form__label" for="f_nn">Nghề nghiệp</label>
                                            <input class="ictu-form__input-field" formControlName="nghenghiep" id="f_nn" pInputText placeholder="Nghề nghiệp" type="text">
                                        </div>
                                    </div>
                                     <div class="col-6">
										<div class="ictu-form__row">
											<label class="ictu-form__label" for="f_chucvu">Chức vụ</label>
											<input class="ictu-form__input-field" formControlName="chucvu" id="f_chucvu" pInputText placeholder="Chức vụ" type="text">
										</div>
									</div>
                                </div>
                             </div>
						</div>
					</form>
				}
				@case ('PREPARATION_FAILED') {
					<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
						<a (click)="formControl.preparation()" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
					</div>
				}
			}

		</div>
		<div class="ictu-p-drawer__content__footer">
			<button (click)="pDrawer.close($event)" class="btn ictu-badge-btn--secondary" mat-flat-button>Hủy</button>
			<button (click)="submitForm()" [disabled]="!formControl.formFilledAndValid" class="btn ictu-badge-btn--primary-reverse" mat-flat-button>Lưu lại</button>
		</div>
	</div>
</p-drawer>

<mat-menu #menu="matMenu" yPosition="above" >
	<ng-template matMenuContent let-parent="parent">
		<div class="profile-avatar-menu">
			<img [src]="parent.avatar || 'images/user/avatar-1.jpg'" alt="Preview"/>
		</div>
	</ng-template>
</mat-menu>