<section class="admin-section--table">
    @if (state() === 'loading') {
        <app-loading-progress heading="Tải xuống dữ liệu..." style="max-width: calc(100% - 1px)"></app-loading-progress>
    }
    @switch (mode()) {
        @case ('default') {
            <div class="admin-wrap-table" style="overflow: hidden;">
                @if (state() !== 'error') {
                    <div class="admin-wrap-table__head d-flex">
                        <h4 class="admin-wrap-table__heading">
                            <svg>
                                <use href="fonts/custom-icon.svg#custom-calendar"></use>
                            </svg>
                            Thống kê học tập
                        </h4>
                        <div class="admin-wrap-table__head-actions">
                            <div class="ictu-form ictu-form-on-head-filter p-0 ictu-topbar-filter-menu" style="--p-inputtext-padding-y:6px;--p-datepicker-input-width: 190px;">
                                <div class="ictu-form__row">
                                    <p-datepicker [(ngModel)]="rangeDates" style="--ictu-form-group-after-input-width:40px" class="w-100 ictu-p-calendar" dateFormat="dd/mm/yy" [autofocus]="false" [focusTrap]="false" [showIcon]="true" [inline]="false" [showWeek]="false" placeholder="Từ ngày - đến ngày" inputId="f_time_start" selectionMode="range" [readonlyInput]="true"></p-datepicker>
                                </div>
                                
                            </div>
                            <input [(ngModel)]="hocSinhSearchInfo.search" class="admin-wrap-table__head-actions__search" pInputText placeholder="Tìm theo tên" type="text" (keyup.enter)="onSearchData()">
                            @if(activeClass().id !== -1 && donViID != 115){
                                <p-select [disabled]="state() == 'loading'" [(ngModel)]="active_diligence_option" [loading]="state() === 'loading'" [options]="diligence_options" appendTo="body" [showClear]="true" class="wid-" placeholder="Lọc theo CC" (onChange)="onChangeDiligenceOption()"/>
                            }
                            @if(listClass()){
                                <div class="admin-wrap-table__switchers" pTooltip="Lọc theo lớp học" tooltipPosition="left">
                                    <button [matMenuTriggerFor]="menu_class" type="button" class="admin-wrap-table__switchers__btn-label btn f-0 p-0" style="line-height: 1;height: 32px;">
                                        <span class="admin-wrap-table__switchers__btn-label__lbl">
                                            <i class="fa-utility-fill fa-semibold fa-book"></i><span>{{ activeClass()?.name ?? 'Lọc theo lớp học' }}</span><i class="ti ti-chevron-down" style="background: transparent;"></i>
                                        </span>
                                    </button>
                                </div>
                            }
                            <div class="admin-wrap-table__switchers" pTooltip="Lọc theo cơ sở đào tạo" tooltipPosition="left">
                                <button [matMenuTriggerFor]="menu" type="button" class="admin-wrap-table__switchers__btn-label btn f-0 p-0" style="line-height: 1;height: 32px;">
                                    <span class="admin-wrap-table__switchers__btn-label__lbl">
                                        <i class="ti ti-filter"></i><span>{{ activeAgentName() }}</span><i class="ti ti-chevron-down" style="background: transparent;"></i>
                                    </span>
                                </button>
                            </div>
                            <!-- <div class="admin-wrap-table__switchers admin-wrap-table__switchers--diligence" pTooltip="Áp dụng chuyên cần" tooltipPosition="left">
                                <button  (click)="setDiligence()" type="button" [ngClass]="is_diligence ? 'switchers__btn-diligence--true' : 'switchers__btn-diligence--false'" class="admin-wrap-table__switchers__btn btn f-0 p-0" style="line-height: 1;height: 32px;">
                                    <i class="fa-classic fa-regular fa-calendar-check"></i>
                                </button>
                            </div> -->
                            @if(activeClass().id !== -1  && donViID != 115){
                                <button mat-flat-button class="btn ictu-badge-btn--primary-reverse" (click)="submitDiligenceAll()" pTooltip="Đồng bộ chuyên cần" tooltipPosition="left"><i class="ti ti-refresh"></i></button>
                                <button mat-flat-button class="btn ictu-badge-btn--success-reverse" (click)="submitDiligenceSelect()" [disabled]="!dataTable.someItemsChecked()" pTooltip="Lưu" tooltipPosition="left"><i class="fa-classic fa-light fa-save"></i></button>
                                <button (click)="btnExportData()" [disabled]="!dataTable.someItemsChecked()" class="btn ictu-badge-btn--success-reverse lh-1" mat-flat-button pTooltip="Tạo file Excel" tooltipPosition="left">
                                    <i class="pi pi-file-excel f-16"></i>

                                </button>
                            }
                            </div>
                    </div>
                     @if(activeClass().id !== -1){
                        <div class="admin-wrap-table__head d-flex"  style="min-height: 0; height: 30px; border-top: 1px solid #e9ecef;">
                            <div class="admin-wrap-table__head-actions" style="justify-content: end; flex: 1; font-weight: 500;">
                                <div>Doanh thu thực tế: {{classStatisticIncome().actual_revenue | formatVndPipe}}</div>
                                @if(this.activeAgent().diligence != 0){
                                    <div> | Doanh thu dự kiến: {{classStatisticIncome().projected_revenue| formatVndPipe}}</div>
                                }
                            </div>
                        </div>
                     }
                    @if(activeClass().id !== -1){
                        <ng-scrollbar orientation="vertical" style="height: calc(var(--device-height) - 90px); width: 100%;--_scrollbar-hover-thickness-px:10px" visibility="hover">
                            <div class="admin-wrap-table__body">
                                <table class="tbl admin-table table-hover">
                                    <thead>
                                        <tr>
                                            @if(activeClass().id !== -1){
                                                <th class="col-checkbox">
                                                    <mat-checkbox [checked]="dataTable.totalChecked()" [indeterminate]="dataTable.partiallyChecked()" (change)="dataTable.selectRow($event.checked)" [disabled]="!dataTable.data().length"></mat-checkbox>
                                                </th>
                                            }
                                            <th class="col-index text-center">#</th>
                                            <th class="text-center">Học sinh</th>
                                            <th class="wid-100 text-center">Ngày sinh</th>
                                            <th class="wid-75 text-center">Đi học</th>
                                            <th class="wid-90 text-center">Nghỉ học</th>
                                            @if(activeClass().id !== -1){
                                                <th class="wid-90 text-center">Còn lại</th>
                                            }
                                            @if(activeClass().id !== -1 && donViID != 115){
                                                <th class="wid-90 text-center">Nợ công</th>
                                                <th class="wid-100 text-center">Chuyên cần</th>
                                                <th class="wid-100 text-center">Trừ CC</th>
                                            }
                                            <th class="wid-100 text-center">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (_student of dataTable.data(); track _student.student_id; let i = $index) {
                                            <tr>
                                                @if(activeClass().id !== -1){
                                                    <td class="col-checkbox">
                                                        <mat-checkbox [checked]="_student._ictuDataTableRowChecked" (change)="dataTable.selectRow($event.checked, i)"></mat-checkbox>
                                                    </td>
                                                }
                                                <td class="col-index text-center">{{ dataTable.paginator.startIndex() + i }}</td>
                                                <td class="text-left">
                                                    <div style="display: flex; gap: 10px">
                                                        <button [matMenuTriggerFor]="menuStudent" [matMenuTriggerData]="{student: _student.student}" class="button--un-set-style">
                                                            <img class="profile-avatar-circle" [src]="_student.student.avatar || 'images/user/avatar-1.jpg'" alt="" width="50" height="50">
                                                        </button>
                                                        <div style="display: flex; flex-direction: column; justify-content: center;">
                                                            <small class="block f-14 text-primary">{{ _student.student?.english_name ?? '' }}</small>
                                                            <span class="block">{{ _student.student.full_name }}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">{{ _student.student.dob | date: 'dd/MM/yyyy'}}</td>
                                                <td class="text-center" style="font-weight: 600; color:#22c03c">{{_student.total_present}}</td>
                                                <td class="text-center"  style="font-weight: 600; color:rgb(var(--c2-danger))">{{_student.total_absent}}</td>
                                                @if(activeClass().id !== -1){
                                                    <td class="text-center">
                                                        <div style="display: flex; flex-direction: row; gap: 4px; align-items: center; justify-content: center;">
                                                            <div style="font-weight: 600;">{{_student.student_fee?.amount_left}}</div>
                                                            <!-- <div style="font-weight: 600; color:rgb(var(--c2-danger))">(- {{_student.student_fee_deducted?.amount}}CC)</div> -->
                                                        </div>
                                                    </td>
                                                }
                                                @if(activeClass().id !== -1  && donViID != 115){
                                                    <td class="text-end">{{_student.student_fee.remaining_amount | formatVndPipe}}</td>
                                                    <td class="text-center">
                                                        <div style="display: flex; flex-direction: row; gap: 10px; align-items: center; justify-content: center;">
                                                            <div [ngStyle]="{'font-weight': '600', 'color': _student.total_diligence > 0 ? '#22c03c' : 'rgb(var(--c2-danger))'}">
                                                                {{ _student.total_diligence }}
                                                            </div>
                                                            <!-- <p-toggleSwitch [disabled]="!isViewButtonApplyDiligence(_student)" [(ngModel)]="_student.is_diligence" (onChange)="onToggleDiligence($event, _student)"></p-toggleSwitch> -->
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <p-inputnumber inputStyleClass="w-100 text-center" inputId="integeronly" [(ngModel)]="_student.amount_deducted" [min]="0" [minFractionDigits]="0" [maxFractionDigits]="0"/>
                                                    </td>
                                                }
                                                <td class="p-0">
                                                    <div class="admin-table__btn-actions">
                                                        <button class="btn ictu-button-primary-light" (click)="setMode('detail', _student)" pTooltip="Chi tiết điểm danh" tooltipPosition="left">
                                                            <i class="ti ti-eye"></i>
                                                        </button>
                                                        @if(activeClass().id !== -1 && donViID != 115){
                                                            <!-- <button class="btn ictu-button-success-light" (click)="submitDiligence(_student)"><i class="ti ti-refresh"></i></button> -->
                                                            <button type="button" (click)="submitDiligence(_student)" class="admin-wrap-table__switchers__btn btn switchers__btn-diligence switchers__btn-diligence--true" pTooltip="Lưu" tooltipPosition="left">
                                                                <i class="fa-classic fa-light fa-save"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </td>

                                            </tr>

                                        }
                                        @empty {
                                            <tr>
                                                <td colspan="12">Không có học sinh</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="admin-wrap-table__foot">
                                <div class="d-flex justify-content-center align-items-center w-100">
                                    <ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
                                </div>
                            </div> -->
                        </ng-scrollbar>
                    }@else{

                        <div class="flex-item--center" style="height: calc(100vh - 87px); width: 100%; background: white; border-top: 1px solid #e9ecef;">
                            <span class="ictu-badge ictu-badge--danger">Vui lòng chọn lớp học</span>
                        </div>
                    }
                } @else {
                    <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
                        <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
                    </div>
                }
            </div>
        }

        @case('detail'){
            <div class="admin-wrap-table">
                @if (state() !== 'error') {
                    <div class="admin-wrap-table__head d-flex">
                        <h4 class="admin-wrap-table__heading">
                            <svg>
                                <use href="fonts/custom-icon.svg#custom-calendar"></use>
                            </svg>
                            Thống kê điểm danh của {{studentStatistic_name()}} từ {{dateStart() | date: 'dd/MM/yyyy'}} - {{dateEnd() | date: 'dd/MM/yyyy'}}
                        </h4>
                        <div class="admin-wrap-table__head-actions">
                            <button mat-flat-button class="btn ictu-badge-btn--danger-reverse" (click)="setMode('default')">
                                <i class="ti ti-x"></i>
                            </button>
                        </div>
                    </div>
                    <div class="admin-wrap-table__body">
                        <table class="tbl admin-table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-index text-center">#</th>
                                    <th class="text-center">Lớp học</th>
                                    <th class="text-center">Buổi học</th>
                                    <!-- <th class="wid-90 text-center">Thời gian bắt đầu</th> -->
                                    <th class="wid-150 text-center">Trạng thái</th>
                                    <th class="wid-150 text-center">Học bù</th>
                                    <!-- <th class="wid-40 text-center">Hành động</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                @for (attendance of attendanceStudent(); track attendance.id; let i = $index) {
                                    <tr>
                                        <td class="col-index text-center">{{ dataTable.paginator.startIndex() + i }}</td>
                                        <td class="text-left">{{attendance.class.name}}</td>
                                        <td class="text-left">
                                            @if (attendance['class_session']?.topic) {
                                            <small class="f-13 text-muted fw-medium d-block">{{ attendance['class_session']?.topic }}</small>
                                            }
                                            @if (attendance['class_session']?.title) {
                                                <span class="d-block">{{ attendance['class_session']?.title }}</span>
                                            }
                                        </td>
                                        <!-- <td class="text-center">{{attendance.class_session.}}</td> -->
                                        <td class="text-center">
                                            @switch (attendance.status) {
                                                @case ('PRESENT') {
                                                    <span class="ictu-badge ictu-badge--success ictu-badge--set-width">Đi học</span>
                                                }
                                                @case ('UNEXCUSED') {
                                                    <span class="ictu-badge ictu-badge--danger ictu-badge--set-width">Nghỉ không phép</span>
                                                }
                                                @case ('EXCUSED') {
                                                    <span class="ictu-badge ictu-badge--purple ictu-badge--set-width">Nghỉ có phép</span>
                                                }
                                                @case ('LATE') {
                                                    <span class="ictu-badge ictu-badge--info ictu-badge--set-width">Đi muộn</span>
                                                }
                                                @case ('WAITING') {
                                                    <span class="ictu-badge ictu-badge--secondary ictu-badge--set-width">Chưa điểm danh</span>
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            {{attendance.progress == 3 ? 'Đã học bù' : 'Không học bù'}}
                                        </td>
                                        <!-- <td class="wid-100 text-center"></td> -->
                                    </tr>

                                }
                                @empty {
                                    <tr>

                                        <td colspan="12">Không có dữ liệu điểm danh.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                } @else {
                    <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
                        <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
                    </div>
                }
            </div>
        
        }
    }
</section>

<mat-menu #menu="matMenu" class="ictu-switchers-menu">
    @for (_agent of listAgent(); track _agent.id) {
        <button (click)="btnChangeAgent(_agent)" mat-menu-item class="ictu-switchers-menu__item" [class.ictu-switchers-menu__item--active]="activeAgent() ? activeAgent().id === _agent.id : false">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ _agent.ten }}</b>
            <span class="text-left d-block text-muted" style="font-size: 13px">{{ _agent.address }}</span>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có cơ sở đào tạo</div>
    }
</mat-menu>

<mat-menu #menu_class="matMenu" class="ictu-switchers-menu">
    @for (_class of listClass(); track _class.id) {
        <button (click)="btnChangeClass(_class)" mat-menu-item class="ictu-switchers-menu__item" [class.ictu-switchers-menu__item--active]="activeClass() ? activeClass().id === _class.id : false">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ _class.name }}</b>
            <span class="text-left d-block text-muted" style="font-size: 13px">{{ _class.code }}</span>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có lớp học</div>
    }
</mat-menu>

<mat-menu #menuStudent="matMenu" yPosition="above" >
  <ng-template matMenuContent let-student="student">
    <div class="profile-avatar-menu">
      <img [src]="student.avatar || 'images/user/avatar-1.jpg'" alt="Preview"/>
    </div>
  </ng-template>
</mat-menu>
