<section class="admin-section--table">
    @if (state() === 'loading') {
        <app-loading-progress heading="Tải xuống dữ liệu..." style="max-width: calc(100% - 1px)"></app-loading-progress>
    }
    @switch (mode()) {
        @case ('default') {
            <div class="admin-wrap-table">
                @if (state() !== 'error') {
                    <div class="admin-wrap-table__head d-flex">
                        <h4 class="admin-wrap-table__heading">
                            <svg>
                                <use href="fonts/custom-icon.svg#custom-calendar"></use>
                            </svg>
                            Danh sách buổi học
                        </h4>
                        <div class="admin-wrap-table__head-actions">
                            <div class="ictu-form ictu-form--label-on-top" >
                                <div class="row" style="width: 400px; margin-bottom: 4px;">
                                    <div class="col-6">
                                        <div class="ictu-form__row">
                                            <label class="ictu-form__label ictu-form__label lh-1" for="f_started_date">Ngày bắt đầu</label>
                                            <p-datepicker [(ngModel)]="start_date" [showIcon]="true" [showOnFocus]="false" class="ictu-form__input-field" dateFormat="dd/mm/yy" id="f_started_date" inputId="buttondisplay" (ngModelChange)="loadData(1, true)"/>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="ictu-form__row">
                                            <label class="ictu-form__label ictu-form__label lh-1" for="f_date">Ngày kết thúc</label>
                                            <p-datepicker [(ngModel)]="end_date" [showIcon]="true" [showOnFocus]="false" class="ictu-form__input-field" dateFormat="dd/mm/yy" id="f_date" inputId="buttondisplay" (ngModelChange)="loadData(1, true)"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="admin-wrap-table__switchers" pTooltip="Lọc theo cơ sở đào tạo" tooltipPosition="left">
                                <button [matMenuTriggerFor]="menu" type="button" class="admin-wrap-table__switchers__btn-label btn f-0 p-0">
                                    <span class="admin-wrap-table__switchers__btn-label__lbl">
                                        <i class="ti ti-filter"></i><span>{{ activeAgentName() }}</span><i class="ti ti-chevron-down" style="background: transparent;"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="admin-wrap-table__body">
                        <table class="tbl admin-table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-index text-center">#</th>
                                    <th class="text-center">Khóa học / Bài học</th>
                                    <th class="text-center">Lớp</th>

                                    <th class="text-center">Giáo viên / Trợ giảng</th>
                                    <!-- <th class="wid-190 text-center">Bắt đầu</th> -->
                                    <!-- <th class="wid-190 text-center">Kết thúc</th> -->
                                    <th class="wid-120 text-center">Điểm danh</th>
                                    <th class="wid-120 text-center">Nhận xét</th>
                                    <th class="wid-100 text-center">Media</th>
                                    <!-- <th class="wid-100 text-center">Bài tập</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                @for (_session of dataTableSessionDetail.data(); track _session.id; let i = $index) {
                                    <tr>
                                        <td class="col-index text-center">{{ dataTableSessionDetail.paginator.startIndex() + i }}</td>
                                        <td>
                                            <small class="block f-14 text-primary">{{ _session.topic }}</small>
                                            <span class="block">{{ _session.title }}</span>
                                        </td>
                                        <td>{{ _session.class?.name ? _session.class?.name : _session.parent_class?.name }}</td>
                                        <td>
                                            <small class="block f-14 text-primary">{{ _session.teacher?.full_name }}</small>
                                            <span class="block">{{ _session.assistants?.full_name }}</span>
                                        </td>

                                        <!-- <td class="wid-190 text-center">
                                            <div>{{ _session.time_start| date:'dd/MM/yyyy HH:mm' }}</div>
                                            <div>{{ _session.started_at| date:'dd/MM/yyyy HH:mm' }}</div>
                                        </td> -->
                                        <!-- <td class="wid-190 text-center">
                                            <div>{{ _session.time_end| date:'dd/MM/yyyy HH:mm' }}</div>
                                            <div>{{ _session.ended_at | date:'dd/MM/yyyy HH:mm' }}</div>
                                        </td> -->
                                        <td (click)="setMode('attendance',_session)" class="wid-120 text-center">
                                            <button class="button--un-set-style" [pTooltip]="
                                            'Tổng: ' +
                                            (_session.students?.length || 0) +
                                            ' | Đi học: ' +
                                            (_session.class_activity_diem_danh?.dihoc?.length || 0) +
                                            ' | Đi muộn: ' +
                                            (_session.class_activity_diem_danh?.dimuon?.length || 0) +
                                            ' | Nghỉ học: ' +
                                            (_session.class_activity_diem_danh?.nghihoc?.length || 0)" tooltipPosition="top">
                                                <div style="display: flex; justify-content: center; gap: 4px">
                                                    <div style="color:#4680FF">{{_session.students?.length || 0 }}</div>|
                                                    <div style="color:#21976C">{{(_session.class_activity_diem_danh?.dihoc?.length || 0)+(_session.class_activity_diem_danh?.dimuon?.length || 0)}}</div>|
                                                    <div style="color:red">{{_session.class_activity_diem_danh?.nghihoc?.length || 0 }}</div>
                                                </div>
                                            </button>
                                        </td>
                                        <td class="wid-120 text-center">
                                            <button (click)="setMode('activities',_session)" class="btn ictu-button-success-light" style="padding: 10px 20px;" pTooltip="Xem chi tiết" tooltipPosition="left">{{_session.class_activities.length}}</button>
                                        </td>
                                        <td class="wid-100 text-center">
                                            <button (click)="setMode('media',_session)" class="btn ictu-button-primary-light"  style="padding: 10px 20px;" pTooltip="Xem chi tiết" tooltipPosition="left">{{_session.class_medias.length}}</button>
                                        </td>
                                        <!-- <td class="wid-100 text-center">
                                            
                                        </td> -->
                                        
                                    </tr>
                                } @empty {
                                    <tr>
                                        <td colspan="12">Không có bản ghi nào.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="admin-wrap-table__foot">
                        <div class="d-flex justify-content-center align-items-center w-100">
                            <ictu-paginator [control]="dataTableSessionDetail.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
                        </div>
                    </div>
                } @else {
                    <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
                        <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
                    </div>
                }
            </div>
        }
        @case ('activities') {
            <div style="height: var(--device-height, 100vh); display: flex; flex-direction: column; overflow: hidden; background: white;">
                <div class="admin-wrap-table__head d-flex">
                    <h4 class="admin-wrap-table__heading">
                        <svg>
                            <use href="fonts/custom-icon.svg#custom-calendar"></use>
                        </svg>
                        Danh sách nhận xét ({{classSessionSelect().class?.name ? classSessionSelect().class.name : classSessionSelect().parent_class.name}} - {{classSessionSelect().time_start | date:'dd/MM/yyyy HH:mm'}}) {{ classSessionSelect().parent_id != 0 ? '(Buổi học bổ trợ)' : '' }}
                    </h4>
                    <div class="admin-wrap-table__head-actions">
                        <button (click)="setMode('default', null)" class="btn ictu-badge-btn--danger-reverse" mat-flat-button><i class="ti ti-x"></i></button>
                    </div>
                </div>
                <div style="height:calc(var(--device-height, 100vh) - 55px); overflow-y: auto; border-top: 1px solid #dbe0e5;">
                    <app-class-planning-curriculum-activities [class_session]="classSessionSelect()"></app-class-planning-curriculum-activities>
                </div>
            </div>
        }
        @case ('media') {
            <div class="admin-wrap-table">
                <div class="admin-wrap-table__head d-flex">
                        <h4 class="admin-wrap-table__heading">
                            <svg>
                                <use href="fonts/custom-icon.svg#custom-calendar"></use>
                            </svg>
                            Danh sách Media ({{classSessionSelect().class?.name ? classSessionSelect().class.name : classSessionSelect().parent_class.name}} - {{classSessionSelect().time_start | date:'dd/MM/yyyy HH:mm'}}) {{ classSessionSelect().parent_id != 0 ? '(Buổi học bổ trợ)' : '' }}
                        </h4>
                        <div class="admin-wrap-table__head-actions">
                            <button (click)="setMode('default', null)" class="btn ictu-badge-btn--danger-reverse" mat-flat-button><i class="ti ti-x"></i></button>
                        </div>
                    
                </div>
                <div class="admin-wrap-table__body" style="border-top: 1px solid #dbe0e5;">
                    <app-view-media [class_media]="classSessionSelect().class_medias"></app-view-media>
                </div>
            </div>
        }
        @case ('attendance') {
            <div style="height: var(--device-height, 100vh); display: flex; flex-direction: column; overflow: hidden;">
                <div class="admin-wrap-table__head d-flex">
                        <h4 class="admin-wrap-table__heading">
                            <svg>
                                <use href="fonts/custom-icon.svg#custom-calendar"></use>
                            </svg>
                            Danh sách điểm danh ({{classSessionSelect().class?.name ? classSessionSelect().class.name : classSessionSelect().parent_class.name}} - {{classSessionSelect().time_start | date:'dd/MM/yyyy HH:mm'}}) {{ classSessionSelect().parent_id != 0 ? '(Buổi học bổ trợ)' : '' }}
                        </h4>
                        <div class="admin-wrap-table__head-actions">
                            <button (click)="setMode('default', null)" class="btn ictu-badge-btn--danger-reverse" mat-flat-button><i class="ti ti-x"></i></button>
                        </div>
                    
                </div>
                <div style="height:calc(var(--device-height, 100vh) - 55px); overflow-y: auto;">
                    <app-class-planning-curriculum-attendance [class_session]="classSessionSelect()"></app-class-planning-curriculum-attendance>
                </div>
            </div>
        }
    }
</section>

<mat-menu #menu="matMenu" class="ictu-switchers-menu">
    @for (_agent of listAgent(); track _agent.id) {
        <button (click)="btnChangeAgent(_agent)" mat-menu-item class="ictu-switchers-menu__item" [class.ictu-switchers-menu__item--active]="activeAgent() ? activeAgent().id === _agent.id : false">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ _agent.ten }}</b>
            <span class="text-left d-block text-muted" style="font-size: 13px">{{ _agent.address }}</span>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có cơ sở đào tạo</div>
    }
</mat-menu>
