<div class="tm-registration-form w-100 flex-column d-flex position-relative">

    @if (isLoading()) {
        <app-loading-progress [heading]="loadHeading()" style="max-width: calc(100% - 1px)"></app-loading-progress>
    }

    @if (isError()) {
        <div class="tm-registration-form__error">
            <div class="admin-table__alert-danger text-center">Tải dữ liệu thất bại. Vui lòng chọn
                <a (click)="btnReload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
            </div>
        </div>
    }

    <!-- loai hoat dong -->
    <div class="tm-registration-form__row">
        <div class="d-inline-flex tm-registration-form__col-left">
            <i class="ti ti-layout-grid-add"></i><span class="tm-registration-form__label">Hình thức</span>
        </div>
        <div class="d-inline-flex tm-registration-form__col-right">
            <div class="tm-registration-form__buttons">
                <button (click)="btnChangeType('LECTURE')" [class.trf-button--selected]="f['type'].value === 'LECTURE'" class="btn tm-registration-form__btn-select">
                    <!-- <i class="tm-registration-form__btn-select__icon ti ti-presentation"></i> -->
                    <!-- <i class="tm-registration-form__btn-select__icon ti ti-school"></i> -->
                    <i class="tm-registration-form__btn-select__icon ti ti-vocabulary"></i>
                    <span class="tm-registration-form__btn-select__label">Học Offline</span>
                </button>
                <button (click)="btnChangeType('ACTIVITY')" [class.trf-button--selected]="f['type'].value === 'ACTIVITY'" class="btn tm-registration-form__btn-select">
                    <i class="tm-registration-form__btn-select__icon ti ti-paint"></i>
                    <span class="tm-registration-form__btn-select__label">Ngoại Khóa</span>
                </button>
                <button (click)="btnChangeType('ONLINE')" [class.trf-button--selected]="f['type'].value === 'ONLINE'" class="btn tm-registration-form__btn-select">
                    <i class="tm-registration-form__btn-select__icon ti ti-device-computer-camera"></i>
                    <span class="tm-registration-form__btn-select__label">Học Online</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Chủ đề -->
    @if (f['type'].value === 'ACTIVITY') {
        <div class="tm-registration-form__row">
            <div class="d-inline-flex tm-registration-form__col-left">
                <i class="ti ti-edit"></i><span class="tm-registration-form__label">Chủ đề</span>
            </div>
            <div class="d-inline-flex tm-registration-form__col-right">
                <input class="tm-registration-form__input" pInputText placeholder="Chủ đề của buổi ngoại khóa" type="text">
            </div>
        </div>
    } @else {
        <div class="tm-registration-form__row">
            <div class="d-inline-flex tm-registration-form__col-left">
                <i class="ti ti-book"></i><span class="tm-registration-form__label">Bài học</span>
            </div>
            <div class="d-inline-flex tm-registration-form__col-right">
                <button [matMenuTriggerFor]="menuLesson" class="tm-registration-form__buttons-menu tm-registration-form__buttons-menu--icon-after btn tm-registration-form__text fw-medium text-start" [class.text-muted]="!f['course_lesson_id'].value" type="button">
                    {{ (lessonRegistration() | findInArray : 'id' : f['course_lesson_id'].value)?.heading ?? '--Chọn bài học--' }}
                    <i class="ti ti-chevron-down tm-registration-form__icon-after"></i>
                </button>
            </div>
        </div>
    }

    <!-- date -->
    <div class="tm-registration-form__row">
        <div class="d-inline-flex tm-registration-form__col-left">
            <i class="ti ti-calendar-event"></i><span class="tm-registration-form__label">Ngày</span>
        </div>
        <div class="d-inline-flex tm-registration-form__col-right">
            <p class="tm-registration-form__text fw-medium">{{ assignDate() }}</p>
        </div>
    </div>

    <!-- time -->
    <div class="tm-registration-form__row">
        <div class="d-inline-flex tm-registration-form__col-left">
            <i class="ti ti-clock"></i><span class="tm-registration-form__label">Thời gian</span>
        </div>
        <div class="d-inline-flex tm-registration-form__col-right">
            <div class="d-flex align-items-center justify-content-start w-100" style="gap:15px">
                <button [matMenuTriggerFor]="menuTimeStart" class="tm-registration-form__buttons-menu tm-registration-form__buttons-menu--icon-after btn tm-registration-form__text fw-medium text-center" style="letter-spacing: 2px;" type="button">
                    {{ f['time_start'].value | date2text : 'HH:mm':'--:--' }}
                    <i class="ti ti-chevron-down tm-registration-form__icon-after"></i>
                </button>
                <i class="ti ti-arrow-right f-20"></i>
                <button class="tm-registration-form__buttons-menu btn tm-registration-form__text fw-medium text-center" style="letter-spacing: 2px;" type="button">
                    {{ f['time_end'].value | date2text : 'HH:mm':'--:--' }}
                </button>
            </div>
        </div>
    </div>

    <!-- Địa điểm -->
    <div class="tm-registration-form__row">
        <div class="d-inline-flex tm-registration-form__col-left">
            <i class="ti ti-map-pin"></i><span class="tm-registration-form__label">Địa điểm</span>
        </div>
        <div class="d-inline-flex tm-registration-form__col-right">
            <button [matMenuTriggerFor]="menuRooms" [class.text-muted]="!f['room_id'].value" class="tm-registration-form__buttons-menu tm-registration-form__buttons-menu--icon-after btn tm-registration-form__text fw-medium text-start" type="button">
                {{ (listClassRooms() | findInArray : 'id' : f['room_id'].value)?.heading ?? '--Chọn phòng học--' }}
                <i class="ti ti-chevron-down tm-registration-form__icon-after"></i>
            </button>
        </div>
    </div>

    <div class="tm-registration-form__row">
        <div class="tm-registration-form__separator"></div>
    </div>

    <!-- teacher -->
    <div class="tm-registration-form__row">
        <div class="d-inline-flex tm-registration-form__col-left">
            <i class="ti ti-user"></i><span class="tm-registration-form__label">Giáo viên</span>
        </div>
        <div class="d-inline-flex tm-registration-form__col-right">
            <button [matMenuTriggerFor]="menuTeachers" [class.text-muted]="!f['teacher_id'].value" class="tm-registration-form__buttons-menu tm-registration-form__buttons-menu--icon-after btn tm-registration-form__text fw-medium text-start" type="button">
                --Chọn giáo viên-- <i class="ti ti-chevron-down tm-registration-form__icon-after"></i>
            </button>
        </div>
    </div>

    <!-- Foreign teacher -->
    <!--     <div class="tm-registration-form__row">
            <div class="d-inline-flex tm-registration-form__col-left">
                <i class="ti ti-user-exclamation"></i><span class="tm-registration-form__label">Gv nước ngoài</span>
            </div>
            <div class="d-inline-flex tm-registration-form__col-right">
                <button [class.text-muted]="!f['userid_foreign_teacher'].value" class="tm-registration-form__buttons-menu tm-registration-form__buttons-menu&#45;&#45;icon-after btn tm-registration-form__text fw-medium text-start" type="button">
                    &#45;&#45;Chọn giáo viên nước ngoài&#45;&#45; <i class="ti ti-chevron-down tm-registration-form__icon-after"></i>
                </button>
            </div>
        </div> -->

    <!-- Teaching assistance -->
    <div class="tm-registration-form__row">
        <div class="d-inline-flex tm-registration-form__col-left">
            <i class="ti ti-users"></i><span class="tm-registration-form__label">Trợ giảng</span>
        </div>
        <div class="d-inline-flex tm-registration-form__col-right">
            <button [class.text-muted]="!f['assistant_id'].value" class="tm-registration-form__buttons-menu tm-registration-form__buttons-menu--icon-after btn tm-registration-form__text fw-medium text-start" type="button">
                --Chọn trợ giảng-- <i class="ti ti-chevron-down tm-registration-form__icon-after"></i>
            </button>
        </div>
    </div>

    <div class="tm-registration-form__row">
        <div class="tm-registration-form__separator"></div>
    </div>

    <!-- Mô tả -->
    <div class="tm-registration-form__row">
        <div class="d-inline-flex tm-registration-form__col-left">
            <i class="ti ti-align-justified"></i><span class="tm-registration-form__label">Mô tả</span>
        </div>
        <div class="d-inline-flex tm-registration-form__col-right">
            <textarea class="tm-registration-form__textarea" pInputTextarea placeholder="Mô tả" rows="1"></textarea>
        </div>
    </div>

    <!-- link -->
    <div class="tm-registration-form__row">
        <div class="d-inline-flex tm-registration-form__col-left">
            <i class="ti ti-link"></i><span class="tm-registration-form__label">Link</span>
        </div>
        <div class="d-inline-flex tm-registration-form__col-right">
            <input class="tm-registration-form__input" pInputText placeholder="Link zoom hoặc livestream" type="text">
        </div>
    </div>

    <!-- Color -->
    <div class="tm-registration-form__row">
        <div class="d-inline-flex tm-registration-form__col-left">
            <i class="ti ti-palette"></i><span class="tm-registration-form__label">Màu</span>
        </div>
        <div class="d-inline-flex tm-registration-form__col-right">
            <button class="tm-registration-form__buttons-menu btn tm-registration-form__text fw-medium text-start" type="button">--Chọn phòng học--</button>
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center" style="gap: var(--trf-form-gap, 15px);">
        <button (click)="btnCancel()" class="btn ictu-badge-btn--secondary" mat-flat-button style="min-width: 100px">Hủy</button>
        <button (click)="btnSave()" [disabled]="formGroup.invalid" class="btn ictu-badge-btn--primary-reverse" mat-flat-button style="min-width: 100px">Lưu lại</button>
    </div>
</div>

<mat-menu #menuTimeStart="matMenu" class="ictu-switchers-menu">
    @for (node of availableTimeSlot(); track node.start) {
        <button (click)="registerTimeSlot(node)" [class.ictu-switchers-menu__item--active]="false" class="ictu-switchers-menu__item" mat-menu-item [disabled]="!node.available">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ node.name }} : {{ node.start }} - {{ node.end }}</b>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có cơ sở đào tạo</div>
    }
</mat-menu>

<mat-menu #menuLesson="matMenu" class="ictu-switchers-menu ictu-switchers-menu-fixed-size">
    <div class="tm-registration-curriculum-info">
        <div (click)="avoidCloseMenuByClicking($event)" class="tm-registration-curriculum-info__head">
            <!-- <i class="ti ti-book f-20"></i> -->
            <svg style="height: auto;width: 20px;aspect-ratio: 1;">
                <use href="fonts/custom-icon.svg#custom-book-open"></use>
            </svg>
            <h4 class="tm-registration-curriculum-info__textbook-name">{{ courseInfo()?.title }}</h4>
            <input [(ngModel)]="curriculumFilter" class="tm-registration-curriculum-info__search" name="search_textbook" pInputText placeholder="Tìm kiếm..." type="text">
        </div>
        <div class="tm-registration-curriculum-info__body">
            @for (_lesson of curriculums(); track _lesson.id) {
                <button (click)="registerLesson(_lesson)" [class.ictu-switchers-menu__item--active]="false" class="ictu-switchers-menu__item" mat-menu-item>
                    <b class="text-left d-block f-14" style="font-weight: 500;margin: 0;padding: 5px 0;word-break: break-word;" [ngStyle]="{ 'max-width' : _lesson.moment ? 'calc(100% - 80px)' : '100%'}">{{ _lesson.heading }}</b>
                    @if (_lesson.moment) {
                        <span>{{ _lesson.moment }}</span>
                    }
                </button>
            } @empty {
                <div class="tm-registration-curriculum-info__empty" (click)="avoidCloseMenuByClicking($event)">
                    <p class="tm-registration-curriculum-info__empty__text" style="border-radius: 0">Không có bài học</p>
                </div>
            }
        </div>
    </div>
</mat-menu>

<mat-menu #menuRooms="matMenu" class="ictu-switchers-menu ictu-switchers-menu-fixed-size">
    <div class="tm-registration-curriculum-info">
        <div (click)="avoidCloseMenuByClicking($event)" class="tm-registration-curriculum-info__head">
            <svg style="height: auto;width: 20px;aspect-ratio: 1;">
                <use href="fonts/custom-icon.svg#custom-folder-open"></use>
            </svg>
            <h4 class="tm-registration-curriculum-info__textbook-name">Danh mục phòng học</h4>
            <input [(ngModel)]="classroomFilter" class="tm-registration-curriculum-info__search" name="search_classrooms" pInputText placeholder="Tìm kiếm..." type="text">
        </div>
        <div class="tm-registration-curriculum-info__body">
            @for (room of filteredClassRooms(); track room.id) {
                <button (click)="registerClassroom(room)" [class.ictu-switchers-menu__item--active]="false" class="ictu-switchers-menu__item" mat-menu-item>
                    <b class="text-left d-block f-14" style="font-weight: 500;margin: 0;padding: 5px 0;word-break: break-word;" [ngStyle]="{ 'max-width' : 'calc(100% - 160px)'}">{{ room.heading }}</b>
                    <span style="width: 160px" class="text-end text-muted">Sức chứa {{ room.capacity }} học sinh</span>
                </button>
            } @empty {
                <div class="tm-registration-curriculum-info__empty" (click)="avoidCloseMenuByClicking($event)">
                    <p class="tm-registration-curriculum-info__empty__text" style="border-radius: 0">Không có phòng học</p>
                </div>
            }
        </div>
    </div>
</mat-menu>

<mat-menu #menuTeachers>
    <div class="tm-registration-curriculum-info">
        <div (click)="avoidCloseMenuByClicking($event)" class="tm-registration-curriculum-info__head">
            <svg style="height: auto;width: 20px;aspect-ratio: 1;">
                <use href="fonts/custom-icon.svg#custom-folder-open"></use>
            </svg>
            <h4 class="tm-registration-curriculum-info__textbook-name">Danh mục giáo viên</h4>
            <input [(ngModel)]="classroomFilter" class="tm-registration-curriculum-info__search" name="search_classrooms" pInputText placeholder="Tìm kiếm..." type="text">
        </div>
        <div class="tm-registration-curriculum-info__body">
            <div class="tm-registration-curriculum-info__empty" (click)="avoidCloseMenuByClicking($event)">
                <p class="tm-registration-curriculum-info__empty__text" style="border-radius: 0">Không có giáo viên.</p>
            </div>
        </div>
    </div>
</mat-menu>
