.admin-wrap-table__switchers {
    --admin-switcher-active-color-rgb: 70 128 255;
    --admin-switcher-border-radius: 2px;
    display: flex;
    padding: 1px;
    gap: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(var(--admin-switcher-active-color-rgb)/20%);
    background-color: transparent;
    border-radius: calc(var(--admin-switcher-border-radius) + 1px);
}

.admin-wrap-table__switchers__btn-label,
.admin-wrap-table__switchers__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    line-height: 1.5;
    padding: 5px;
    min-width: 60px;
    cursor: pointer;
    background-color: rgb(var(--admin-switcher-active-color-rgb)/10%);
    color: rgb(var(--admin-switcher-active-color-rgb));
    height: 36px;
    user-select: none;
}

.admin-wrap-table__switchers__btn:first-child {
    border-radius: var(--admin-switcher-border-radius) 0 0 var(--admin-switcher-border-radius);
}

.admin-wrap-table__switchers__btn:last-child {
    border-radius: 0 var(--admin-switcher-border-radius) var(--admin-switcher-border-radius) 0;
}

.admin-wrap-table__switchers--next > .btn:hover,
.admin-wrap-table__switchers__btn.active {
    background-color: rgb(var(--admin-switcher-active-color-rgb)/100%);
    color: #ffffff;
}

.admin-wrap-table__switchers--next {
    gap: 1px
}

.admin-wrap-table__switchers--next > .btn {
    min-width: 36px;
}

.admin-wrap-table__switchers__btn-label__lbl {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.admin-wrap-table__switchers__btn-label__lbl i {
    font-size: 18px;
    line-height: 1;
    height: 100%;
    display: inline-flex;
    width: 36px;
    justify-content: center;
    align-items: center;
    background-color: rgb(218 230 255);
}

.admin-wrap-table__switchers__btn-label__lbl span {
    line-height: 1.5;
    font-weight: 500;
    margin: 0 0 -4px 0;
    width: 150px;
    text-align: left;
    font-family: var(--primary-font-family), sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0 0 0 10px;
}

.content-reviewer-list__container {
    background-color: #dbe0e5;
    min-height: calc(var(--device-height) - 110px);
}

.timeline-btn-approvement {
    font-size: 0;
    line-height: 0;
    border: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    border-radius: 999px;
    color: rgb(98 98 98);
    background-color: rgb(237 237 237);
    cursor: pointer;
    opacity: .8;
    user-select: none;
}

.timeline-btn-approvement.activated,
.timeline-btn-approvement:hover {
    color: #ffffff;
    background-color: #22c55e;
    opacity: 1;
}

.timeline-btn-approvement--featured.activated,
.timeline-btn-approvement--featured:hover {
    color: #ffffff;
    background-color: #f59e0b;
}

.timeline-btn-approvement--rejected.activated,
.timeline-btn-approvement--rejected:hover {
    color: #ffffff;
    background-color: #ef4444;
}

.backdrop-layout {
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: none;
}

.backdrop-layout__inside {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);
}

.empty-text {
    user-select: none;
    border-radius: 4px;
    color: #818182;
    background-color: #fefefe;
    border: 1px solid #fdfdfe;
}
