<section class="moderation-dashboard">
    @if (state() === 'loading') {
        <app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
    }
    <div class="admin-wrap-table">
        @if (state() === 'error') {

        } @else {
            <div class="admin-wrap-table__head d-flex">
                <h4 class="admin-wrap-table__heading" style="color: #1e3050">
                    <i class="fa-classic fa-solid fa-clapperboard-play f-20"></i> Media
                </h4>
                <div class="admin-wrap-table__head-actions">
                    <div class="admin-wrap-table__switchers" pTooltip="Lọc theo cơ sở đào tạo" tooltipPosition="left">
                        <button [matMenuTriggerFor]="menuAgents" type="button" class="admin-wrap-table__switchers__btn-label btn f-0 p-0">
                            <span class="admin-wrap-table__switchers__btn-label__lbl">
                                <i class="pi pi-building"></i><span>{{ (branches() | findInArray : 'id' : branchID())?.ten ?? 'Chọn cơ sở đào tạo' }}</span><i class="ti ti-chevron-down" style="background: transparent;"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="admin-wrap-table__body" style="border-top: 1px solid var(--admin-table-border-color);">
                <div class="moderation-dashboard-top-grid d-block">
                    <div class="moderation-dashboard-top-grid__inner p-25 d-block">
                        <div class="d-flex justify-content-between">
                            <div class="moderation-dashboard-top-grid__elm">
                                <h4 class="f-roboto f-26 lh-1 fw-bold m-0 m-b-5 d-block">{{ greeting() }}</h4>
                                <h6 style="color: rgb(77, 89, 94);" class="f-roboto f-16 lh-base fw-normal m-0 d-block">{{ subHeading() }}</h6>
                            </div>
                            <div class="moderation-dashboard-top-grid__separator"></div>
                            <div class="moderation-dashboard-top-grid__elm">
                                <ul class="moderation-dashboard-top-grid__vertical-counters p-0 m-0 d-flex flex-column">
                                    <li class="moderation-dashboard-top-grid__vertical-counters__elm d-flex flex-wrap flex-row align-items-center">
                                        <div class="moderation-dashboard-top-grid__vertical-counters__icon d-inline-flex justify-content-center align-items-center">
                                            <i class="fa-classic fa-regular fa-photo-video f-16"></i>
                                        </div>
                                        <div class="moderation-dashboard-top-grid__vertical-counters__info d-flex flex-wrap flex-row align-items-end">
                                            <h5 class="moderation-dashboard-top-grid__vertical-counters__info__number f-roboto f-24 fw-medium lh-1 m-0">{{ mediaCounter().total }}</h5>
                                            <p class="moderation-dashboard-top-grid__vertical-counters__info__desc f-roboto f-14 fw-normal lh-base m-0">Media</p>
                                            <p class="moderation-dashboard-top-grid__vertical-counters__info__sign f-roboto f-14 fw-medium lh-base m-0 m-l-5" [ngClass]="mediaCounter().cssClass">{{ mediaCounter().percentage }}%
                                                <!-- <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" viewBox="0 0 24 24">
                                                    <path fill="currentColor" d="M12 13.825L8.1 17.7q-.275.275-.687.288T6.7 17.7q-.275-.275-.275-.7t.275-.7l4.6-4.6q.15-.15.325-.213t.375-.062t.375.062t.325.213l4.6 4.6q.275.275.288.688t-.288.712q-.275.275-.7.275t-.7-.275zm0-6L8.1 11.7q-.275.275-.687.288T6.7 11.7q-.275-.275-.275-.7t.275-.7l4.6-4.6q.15-.15.325-.212T12 5.425t.375.063t.325.212l4.6 4.6q.275.275.288.688t-.288.712q-.275.275-.7.275t-.7-.275z"></path>
                                                </svg> -->
                                            </p>
                                        </div>
                                    </li>
                                    <li class="moderation-dashboard-top-grid__vertical-counters__elm d-flex flex-wrap flex-row align-items-center">
                                        <div class="moderation-dashboard-top-grid__vertical-counters__icon d-inline-flex justify-content-center align-items-center">
                                            <i class="fa-classic fa-regular fa-comment-alt-lines f-16"></i>
                                        </div>
                                        <div class="moderation-dashboard-top-grid__vertical-counters__info d-flex flex-wrap flex-row align-items-end">
                                            <h5 class="moderation-dashboard-top-grid__vertical-counters__info__number f-roboto f-24 fw-medium lh-1 m-0">{{ commentsCounter().total }}</h5>
                                            <p class="moderation-dashboard-top-grid__vertical-counters__info__desc f-roboto f-14 fw-normal lh-base m-0">Comments</p>
                                            <p class="moderation-dashboard-top-grid__vertical-counters__info__sign f-roboto f-14 fw-medium lh-base m-0 m-l-5" [ngClass]="commentsCounter().cssClass">{{ commentsCounter().percentage }}%
                                                <!-- <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" viewBox="0 0 24 24">
                                                    <path fill="currentColor" d="m12 16.175l3.9-3.875q.275-.275.688-.288t.712.288q.275.275.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062t-.375-.062t-.325-.213l-4.6-4.6q-.275-.275-.288-.687T6.7 12.3q.275-.275.7-.275t.7.275zm0-6L15.9 6.3q.275-.275.688-.287t.712.287q.275.275.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062t-.375-.062t-.325-.213L6.7 7.7q-.275-.275-.288-.687T6.7 6.3q.275-.275.7-.275t.7.275z"></path>
                                                </svg> -->
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="moderation-dashboard-top-grid__elm align-self-end">
                                <p-datepicker [(ngModel)]="filterByDate" class="w-100 ictu-p-calendar icon-display-input--reverse" dateFormat="dd/mm/yy" iconDisplay="input" [autofocus]="false" [focusTrap]="false" [showIcon]="true" [inline]="false" [showWeek]="false" placeholder="Ngày" inputId="filer_by_date_2" selectionMode="single" [readonlyInput]="true">
                                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                                        <i class="fa-duotone fa-solid fa-calendar-days" (click)="clickCallBack($event)"></i>
                                    </ng-template>
                                </p-datepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="tbl admin-table table-hover">
                    <thead>
                        <tr>
                            <th class="col-index text-center">#</th>
                            <th class="col-title text-left">Lớp học</th>
                            <th class="text-left">Khóa học</th>
                            <th class="wid-90 text-center p-x-5">Giáo viên</th>
                            <th class="wid-130 text-center">
                                <i class="fa-classic fa-solid fa-photo-video"></i>
                            </th>
                            <th class="wid-130 text-center">
                                <i class="fa-classic fa-solid fa-comments-alt"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (state() === 'loading') {
                            <tr>
                                <td class="p-0">
                                    <div class="animated-background"></div>
                                </td>
                                <td class="p-0">
                                    <div class="animated-background"></div>
                                </td>
                                <td class="p-0">
                                    <div class="animated-background"></div>
                                </td>
                                <td class="p-0">
                                    <div class="animated-background"></div>
                                </td>
                                <td class="p-0">
                                    <div class="animated-background"></div>
                                </td>
                                <td class="p-0">
                                    <div class="animated-background"></div>
                                </td>
                            </tr>
                        } @else {
                            @for (row of data(); track row.id; let index = $index) {
                                <tr>
                                    <td class="col-index text-center">{{ 1 + index }}</td>
                                    <td class="col-title text-left">{{ row._className }}</td>
                                    <td class="text-left">{{ row['course']?.title }}</td>
                                    <td class="wid-90 text-left p-y-0 p-x-10">
                                        @if (row.teacher || row.assistants) {
                                            <div class="d-flex justify-content-start align-items-center" style="gap:10px">
                                                @if (row.teacher) {
                                                    <figure class="avatar-list-stacked__avatar-rounded" style="max-width: 28px; max-height: 28px" [matTooltip]="'Giáo viên : '+(row.teacher.full_name ?? 'empty')" matTooltipPosition="above">
                                                        <img [src]="row.teacher | employeePhoto" [alt]="row.teacher.full_name">
                                                    </figure>
                                                }
                                                @if (row.assistants) {
                                                    <figure class="avatar-list-stacked__avatar-rounded" style="max-width: 28px; max-height: 28px" [matTooltip]="'Trợ giảng : '+(row.assistants.full_name ?? 'empty')" matTooltipPosition="above">
                                                        <img [src]="row.assistants | employeePhoto" [alt]="row.assistants.full_name">
                                                    </figure>
                                                }
                                            </div>
                                        }
                                    </td>
                                    <td class="wid-130 text-center p-0">
                                        @if (row.mediaCounter.total) {
                                            <div class="d-flex align-items-center justify-content-center position-relative w-100 h-100" style="user-select: none">
                                                <b class="m-0 f-roboto f-14 lh-base fw-bold d-inline-block text-end wid-50 p-r-5">{{ row.mediaCounter.total }}</b> |
                                                <span class="d-inline-block text-start m-0 f-roboto f-14 lh-base fw-medium wid-50 p-l-5" [ngClass]="row.mediaCounter.cssClass">{{ row.mediaCounter.percentage }}%</span>
                                            </div>
                                        } @else {
                                            <div class="d-flex align-items-center justify-content-center position-relative w-100 h-100" style="user-select: none">
                                                <b class="m-0 f-roboto f-14 lh-base fw-bold d-inline-block text-end wid-50 p-r-5 text-secondary">0</b> |
                                                <span class="d-inline-block text-start m-0 f-roboto f-14 lh-base fw-medium wid-50 p-l-5 text-success">0%</span>
                                            </div>
                                        }
                                    </td>
                                    <td class="wid-130 text-center p-0">
                                        @if (row.commentsCounter.total) {
                                            <div class="d-flex align-items-center justify-content-center position-relative w-100 h-100" style="user-select: none">
                                                <b class="m-0 f-roboto f-14 lh-base fw-bold d-inline-block text-end wid-50 p-r-5">{{ row.commentsCounter.total }}</b> |
                                                <span class="d-inline-block text-start m-0 f-roboto f-14 lh-base fw-medium wid-50 p-l-5" [ngClass]="row.commentsCounter.cssClass">{{ row.commentsCounter.percentage }}%</span>
                                            </div>
                                        } @else {
                                            <div class="d-flex align-items-center justify-content-center position-relative w-100 h-100" style="user-select: none">
                                                <b class="m-0 f-roboto f-14 lh-base fw-bold d-inline-block text-end wid-50 p-r-5 text-secondary">0</b> |
                                                <span class="d-inline-block text-start m-0 f-roboto f-14 lh-base fw-medium wid-50 p-l-5 text-success">0%</span>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            } @empty {
                                <tr>
                                    <td colspan="6">
                                        <span class="text-muted f-14 f-roboto lh-base text-center d-block">Không có dữ liệu.</span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <!-- <div class="counters d-block p-15">
                    <div class="counter-item-wrapper d-flex flex-wrap justify-content-between">
                        <div class="counter-item"></div>
                        <div class="counter-item">
                            <div class="card shadow-1 radius-8 gradient-bg-end-1 h-100">
                                <div class="card-body p-20">
                                    <div class="d-flex flex-wrap align-items-center gap-3 mb-16">
                                        <div class="wid-45 hei-45 bg-warning-600 rounded-circle d-flex justify-content-center align-items-center">
                                            <img src="images/dashboard/moderation/icon1.png" alt="Icon">
                                        </div>
                                        <p class="fw-medium text-primary-light mb-1">Total Student</p>
                                    </div>
                                    <h6 class="mb-0">20,000</h6>
                                    <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
                                        <span class="d-inline-flex align-items-center gap-1 text-primary-600 text-sm fw-semibold">10%</span>+5 This Month
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="counter-item"></div>
                    </div>
                </div> -->
                <!--                 <ng-scrollbar class="w-100" style="height: calc(var(&#45;&#45;device-height) - 56px);" visibility="hover" orientation="vertical"> -->
                <!--                     <ul class="class-media-moderation-list"> -->

                <!--                     </ul> -->
                <!--                 </ng-scrollbar> -->
            </div>
        }
    </div>
</section>
<mat-menu #menuAgents="matMenu" class="ictu-switchers-menu">
    @for (branch of branches(); track branch.id) {
        <button (click)="btnChangeAgent(branch.id)" mat-menu-item class="ictu-switchers-menu__item" [class.ictu-switchers-menu__item--active]="branchID() === branch.id">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ branch.ten }}</b>
            <span class="text-left d-block text-muted" style="font-size: 13px">{{ branch.address }}</span>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có cơ sở đào tạo</div>
    }
</mat-menu>
