<section class="admin-section--table position-relative content-reviewer-list-table">
    @if (state() === 'loading') {
        <app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
    }
    <div class="admin-wrap-table">
        @if (state() !== 'error') {
            <div class="admin-wrap-table__head d-flex">
                <h4 class="admin-wrap-table__heading">
                    <svg>
                        <use href="fonts/custom-icon.svg#custom-folder-open-2"></use>
                    </svg>
                    Hoạt động học tập
                </h4>
                <div class="admin-wrap-table__head-actions">
                    <p-select [options]="contentTypeOptions()" [(ngModel)]="contentType" appendTo="body" class="ictu-form__input-field wid-120" panelStyleClass="ictu-standard-select-panel ictu-standard-select-panel--layout-2" placeholder="Loại dữ liệu"/>
                    <div class="ictu-form ictu-form-on-head-filter p-0 ictu-topbar-filter-menu" style="--p-inputtext-padding-y:6px;--p-datepicker-input-width: 190px;">
                        <div class="ictu-form__row">
                            <p-datepicker [(ngModel)]="rangeDates" style="--ictu-form-group-after-input-width:40px" class="w-100 ictu-p-calendar" dateFormat="dd/mm/yy" [autofocus]="false" [focusTrap]="false" [showIcon]="true" [inline]="false" [showWeek]="false" placeholder="Từ ngày - đến ngày" inputId="f_time_start" selectionMode="range" [readonlyInput]="true"></p-datepicker>
                        </div>
                    </div>
                    <div class="admin-wrap-table__switchers">
                        <button [matMenuTriggerFor]="menuAgents" type="button" class="admin-wrap-table__switchers__btn-label btn f-0 p-0">
                            <span class="admin-wrap-table__switchers__btn-label__lbl">
                                <i class="pi pi-building"></i><span>{{ ( branches() | findInArray : 'id' : branchID() )?.ten ?? 'Chọn cơ sở đào tạo' }}</span><i class="ti ti-chevron-down" style="background: transparent;"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="admin-wrap-table__body">
                <ng-scrollbar orientation="vertical" style="height: calc(var(--device-height) - 110px);--_scrollbar-hover-thickness-px:10px;--_viewport-padding-right: 0;--_scrollbar-wrapper-width: 8px;" visibility="hover">
                    <div class="content-reviewer-list__container d-flex flex-column">
                        @if (posts().length) {
                            <div class="timeline-wrapper timeline-wrapper--no-animate">
                                <div class="timeline-container">
                                    <!-- Timeline vertical line -->
                                    <div class="timeline-line"></div>
                                    @for (post of posts(); track post; ) {
                                        <div class="timeline-item p-t-5">
                                            <!-- Dot marker -->
                                            <div class="timeline-dot" [ngClass]="post | contentReviewerInfo : 'cssClass' : 'dot'">
                                                <i class="fa-classic fa-solid" [ngClass]="post | contentReviewerInfo : 'activityIcon'"></i>
                                            </div>

                                            <!-- Date badge -->
                                            <div class="timeline-date d-flex m-b-15">
                                                <div class="date-badge">
                                                    <span class="date-day">{{ post.created_at | date:'dd-MM-yyyy' }}</span>
                                                </div>
                                            </div>
                                            <!-- Content card -->
                                            <div class="timeline-card" [ngClass]="post | contentReviewerInfo : 'cssClass' : 'card-accent'">
                                                <!-- Card header -->
                                                <div class="card-header">
                                                    <div class="card-type-badge" [ngClass]="post | contentReviewerInfo : 'cssClass' : 'badge'">
                                                        <i class="fa-classic fa-solid" [ngClass]="post | contentReviewerInfo : 'activityIcon'"></i>
                                                        <span>{{ post | contentReviewerInfo : 'activityName' }}</span>
                                                    </div>
                                                    <span class="card-class-name">{{ post | contentReviewerInfo : 'className' }}</span>

                                                    @if (post | contentReviewerHasStudents) {
                                                        @if (( post | contentReviewerFor ) === 'candidate') {
                                                            <div class="ms-auto d-inline-flex align-items-center justify-content-start" style="gap:10px">
                                                                <div class="avatar-circle criteria-scores__avatar overflow-hidden position-relative wid-25 hei-25" style="border-radius: 999px;">
                                                                    <img class="position-absolute inset-0 zdx-5 w-100 h-100" style="object-fit: contain" [ngSrc]="post.objects[0] | studentAvatar" alt="" width="100" height="100">
                                                                </div>
                                                                <span class="feedback-name">{{ post.objects[ 0 ].full_name }}</span>
                                                               <!-- @if (post.objects[ 0 ].english_name) {
                                                                    <span class="feedback-role">{{ post.objects[ 0 ].english_name }}</span>
                                                                }-->
                                                            </div>
                                                        } @else {
                                                            <div class="ms-auto members d-inline-flex align-items-center justify-content-start">
                                                                @for (mem of ( post | contentReviewerGetMembers ); track mem) {
                                                                    @if (mem.info) {
                                                                        <img [src]="mem.info | studentAvatar" [alt]="mem.info.full_name" width="32" height="32">
                                                                    } @else {
                                                                        <span class="f-roboto f-12 fw-normal lh-base d-inline-flex align-items-center justify-content-center">{{ mem.label }}</span>
                                                                    }
                                                                }
                                                            </div>
                                                        }
                                                    }
                                                </div>

                                                <!-- Card title -->
                                                <h3 class="card-title">{{ post | contentReviewerInfo : 'lessonName' }} </h3>
                                                @if (post.dataType === 'ClassActivity') {
                                                    <app-content-reviewer-activity [data]="post" [disableRewrite]="true"></app-content-reviewer-activity>
                                                } @else {
                                                    <app-content-reviewer-media [data]="post" [disableRewrite]="true"></app-content-reviewer-media>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        } @else {
                            <div class="empty-text m-auto p-x-15 p-y-10">Không có <span class="text-lowercase">{{ contentTypeLabel() }}</span></div>
                        }
                    </div>
                </ng-scrollbar>
            </div>
            <div class="admin-wrap-table__foot">
                <div class="d-flex justify-content-center align-items-center w-100">
                    <ictu-paginator (onChangePage)="onChangePage($event)" [control]="paginator"></ictu-paginator>
                </div>
            </div>
        } @else {
            <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
                <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
            </div>
        }
    </div>
</section>

<mat-menu #menuAgents="matMenu" class="ictu-switchers-menu">
    @for (branch of branches(); track branch.id) {
        <button (click)="btnChangeAgent(branch.id)" mat-menu-item class="ictu-switchers-menu__item" [class.ictu-switchers-menu__item--active]="branchID() === branch.id">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ branch.ten }}</b>
            <span class="text-left d-block text-muted" style="font-size: 13px">{{ branch.address }}</span>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có cơ sở đào tạo</div>
    }
</mat-menu>
