<section class="admin-standard-layout position-relative">
	@if (state() === 'loading') {
		<app-loading-progress heading="Đang cập nhật mật khẩu..." backdropFilter="none"></app-loading-progress>
	}
	<div class="admin-standard-layout__header">
		<h4 class="admin-wrap-table__heading">
			<svg>
				<use href="fonts/custom-icon.svg#custom-key"></use>
			</svg>
			Cập nhật mật khẩu
		</h4>
	</div>
	<div class="admin-standard-layout__body w-100">
		<div class="password-component-layout position-relative">
			<div class="password-component-layout__side">
				<h5 class="f-18 font-roboto m-b-25">Form cập nhật mật khẩu</h5>
				<form [formGroup]="formGroup" class="password-component__form">
					<div class="form-group">
						<label class="form-label font-roboto f-14" for="pw">Mật khẩu mới</label>
						<div class="form-group__group form-group__group--btn-after w-100 position-relative">
							<input [type]="passwordInputField()" class="form-control w-100 font-roboto" formControlName="password" id="pw" pInputText>
							<button (click)="changeViewMode(passwordInputField)" class="form-group__group__btn btn" type="button">
								<i [ngClass]="passwordInputField() === 'text' ? 'ti-eye':'ti-eye-off'" class="ti"></i>
							</button>
						</div>
					</div>
					<div class="form-group">
						<label class="form-label font-roboto f-14" for="pw2">Xác nhận mật khẩu mới</label>
						<div class="form-group__group form-group__group--btn-after w-100 position-relative">
							<input [type]="rePasswordInputField()" class="form-control w-100 font-roboto" formControlName="confirm_password" id="pw2" pInputText>
							<button (click)="changeViewMode(rePasswordInputField)" class="form-group__group__btn btn" type="button">
								<i [ngClass]="rePasswordInputField() === 'text' ? 'ti-eye':'ti-eye-off'" class="ti"></i>
							</button>
						</div>
					</div>
					@if (f['confirm_password'].touched && f['confirm_password'].valid && formGroup.errors && formGroup.errors['passwordFieldsIsNotMatches']) {
						<small class="form-notice text-danger form-group__group__notice font-roboto"><i class="pi pi-info-circle"></i> Trường mật khẩu và trường xác nhận mật khẩu chưa trùng khớp!</small>
					}
				</form>
				<div class="d-flex justify-content-end align-items-center m-t-30">
					<button (click)="btnSubmit()" [disabled]="formGroup.invalid" class="btn ictu-badge-btn--primary-reverse password-component__btn-submit" mat-flat-button>Cập nhật</button>
				</div>
			</div>
			<div class="password-component-layout__side">
				<h5 class="f-18 font-roboto">Quy cách đặt mật khẩu</h5>
				<ul class="list-group list-group-flush">
					<li [style.opacity.%]="passwordMatchedLength() ? 100 : 80" class="list-group-item p-l-0 font-roboto">
						<i [ngClass]="passwordMatchedLength() ? 'text-success ti-circle-check':'text-muted ti-circle-minus'" class="ti f-18 me-2"></i> Độ dài tôi thiểu 8 ký tự
					</li>
					<li [style.opacity.%]="passwordMatchedLowercase() ? 100 : 80" class="list-group-item p-l-0 font-roboto">
						<i [ngClass]="passwordMatchedLowercase() ? 'text-success ti-circle-check':'text-muted ti-circle-minus'" class="ti f-18 me-2"></i> Có ít nhất một ký tự in thường (a-z)
					</li>
					<li [style.opacity.%]="passwordMatchedUppercase() ? 100 : 80" class="list-group-item p-l-0 font-roboto">
						<i [ngClass]="passwordMatchedUppercase() ? 'text-success ti-circle-check':'text-muted ti-circle-minus'" class="ti f-18 me-2"></i> Có ít nhất một ký tự in hoa (A-Z)
					</li>
					<li [style.opacity.%]="passwordMatchedNumber() ? 100 : 80" class="list-group-item p-l-0 font-roboto">
						<i [ngClass]="passwordMatchedNumber() ? 'text-success ti-circle-check':'text-muted ti-circle-minus'" class="ti f-18 me-2"></i> Có ít nhất một ký tự số (0-9)
					</li>
					<li [style.opacity.%]="passwordMatchedSpecialCharacter() ? 100 : 80" class="list-group-item p-l-0 font-roboto">
						<i [ngClass]="passwordMatchedSpecialCharacter() ? 'text-success ti-circle-check':'text-muted ti-circle-minus'" class="ti f-18 me-2"></i> Có ít nhất một ký tự đặc biệt (!&#64;#$...)
					</li>
					<li [style.opacity.%]="passwordMatchedWhitespace() ? 100 : 80" class="list-group-item p-l-0 font-roboto">
						<i [ngClass]="passwordMatchedWhitespace() ? 'text-success ti-circle-check':'text-muted ti-circle-minus'" class="ti f-18 me-2"></i> Không chứa dấu cách
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>