<div class="parent-child-card">
    @switch (state()) {
        @case ('success') {
            <div class="parent-child-card__head d-flex justify-content-between flex-wrap m-b-15">
                <div class="d-inline-flex gap-10 align-items-center justify-content-start">
                    <figure class="lh-1 m-0 p-0 parent-child-card__avatar">
                        <img [ngSrc]="info().student.avatar || ('images/user/circle-avatar-placeholder.png' | publicAsset)" [alt]="info().student.full_name" width="52" height="52"/>
                    </figure>
                    <div class="d-inline-flex flex-column" style="gap:5px;">
                        <b class="d-block parent-child-card__head__name m-0 f-roboto f-14 lh-base fw-medium">{{ child().name }}</b>
                        <p class="d-block m-0 f-roboto f-14 lh-base fw-normal">{{ child().level }}</p>
                    </div>
                </div>
                <span class="m-0 f-roboto f-14 lh-base fw-normal">{{ child().shiftInfo }}</span>
            </div>
            <div class="parent-child-card__progress">
                <div class="parent-child-card__progress__item d-flex flex-column">
                    <div class="parent-child-card__progress__item__head d-flex align-items-center justify-content-between">
                        <b class="parent-child-card__progress__label f-roboto f-14 lh-base fw-normal m-0">Tỷ lệ chuyên cần</b>
                        <b class="parent-child-card__progress__value f-roboto f-14 lh-base fw-medium m-0">{{ child().attendanceRate }}%</b>
                    </div>
                    <div class="parent-child-card__progress__item__bar">
                        <span class="parent-child-card__progress__item__track" [style.width.%]="child().attendanceRate"></span>
                    </div>
                </div>
                <div class="parent-child-card__progress__item d-flex flex-column">
                    <div class="parent-child-card__progress__item__head d-flex align-items-center justify-content-between">
                        <b class="parent-child-card__progress__label f-roboto f-14 lh-base fw-normal m-0">Tiến độ hoàn thành</b>
                        <b class="parent-child-card__progress__value f-roboto f-14 lh-base fw-medium m-0">{{ child().completionRate }}%</b>
                    </div>
                    <div class="parent-child-card__progress__item__bar">
                        <span class="parent-child-card__progress__item__track" [style.width.%]="child().completionRate"></span>
                    </div>
                </div>
            </div>
        }
        @case ('error') {
            <div class="parent-classes-attendance p-0 m-0 d-flex justify-content-center align-items-center">
                <p class="admin-table__alert-danger text-center m-0 p-10">Tải dữ liệu thất bại. Vui lòng chọn
                    <a (click)="btnReload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
                </p>
            </div>
        }
        @default {
            <div class="parent-child-card__head  d-flex justify-content-between flex-wrap m-b-15">
                <div class="d-inline-flex gap-10 align-items-center justify-content-start">
                    <figure class="lh-1 m-0 p-0 parent-child-card__avatar">
                        <img class="ictu-skeleton" [ngSrc]="'images/user/circle-avatar-placeholder.png' | publicAsset" [alt]="info().student.full_name" width="52" height="52"/>
                    </figure>
                    <div class="d-inline-flex flex-column" style="gap:5px;">
                        <b class="d-block parent-child-card__head__name m-0 f-roboto f-14 lh-base fw-medium ictu-skeleton">student full name</b>
                        <p class="d-block m-0 f-roboto f-14 lh-base fw-normal ictu-skeleton">Student course name</p>
                    </div>
                </div>
                <span class="m-0 f-roboto f-14 lh-base fw-normal ictu-skeleton">Monday weekly</span>
            </div>
            <div class="parent-child-card__progress">
                <div class="parent-child-card__progress__item d-flex flex-column">
                    <div class="parent-child-card__progress__item__head d-flex align-items-center justify-content-between">
                        <b class="parent-child-card__progress__label f-roboto f-14 lh-base fw-normal m-0 ictu-skeleton">Tỷ lệ chuyên cần</b>
                        <b class="parent-child-card__progress__value f-roboto f-14 lh-base fw-medium m-0 ictu-skeleton">100%</b>
                    </div>
                    <div class="parent-child-card__progress__item__bar ictu-skeleton">
                        <span class="parent-child-card__progress__item__track" [style.width.%]="0"></span>
                    </div>
                </div>
                <div class="parent-child-card__progress__item d-flex flex-column">
                    <div class="parent-child-card__progress__item__head d-flex align-items-center justify-content-between">
                        <b class="parent-child-card__progress__label f-roboto f-14 lh-base fw-normal m-0 ictu-skeleton">Tiến độ hoàn thành</b>
                        <b class="parent-child-card__progress__value f-roboto f-14 lh-base fw-medium m-0 ictu-skeleton">100%</b>
                    </div>
                    <div class="parent-child-card__progress__item__bar ictu-skeleton">
                        <span class="parent-child-card__progress__item__track" [style.width.%]="0"></span>
                    </div>
                </div>
            </div>
        }
    }
</div>
