.class-progress-lesson-layout-section {
    width: 100%;
    height: calc(var(--device-height) - 60px);
    overflow: hidden;
}
.class-progress-lesson-layout{
    width: 100%;
    height: calc(var(--device-height) - 60px);
    display: flex;
    flex-direction: row;
}

.class-progress-lesson-layout__baigiang {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    margin: 10px;
    border-right: 1px dashed #E2E8F0;
}

.class-progress-lesson-layout__baigiang__body {
    flex: 1 1 auto;
    height: 1%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    gap: 8px;
}

.class-progress-lesson-layout__baigiang__foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.class-progress-btn-bosung {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
/* noi dung bai giang */
.class-progress-lesson-layout__noidung {
    width: 100%;
    flex: 1 1 auto;
    background: white;
    height: calc(var(--device-height) - 60px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* dialogaddLesson */

.p-field {
    width: 100%;
    margin-bottom: 10px;
}
/* badge--danger */
.class-progress-lesson-badge--danger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 12px;
}
/* import */
.p-dropdown-panel {
    max-height: none !important;
    overflow: visible !important;
}

/* input */

.form-field {
    position: relative;
    margin: 12px 0;
}

.form-label {
    position: absolute;
    top: 0;
    left: 12px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 4px;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
}

.form-label .required {
    color: red;
}

.form-input-like-text {
    padding: 10px 12px 8px;
    font-size: 14px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    background: #fff;
    color: #111827;
    min-height: 38px;
    display: flex;
    text-align: center;
}

/* .form-input-like-text.center-text {
    justify-content: start;
    text-align: start;
} */

/* tab */
.p-tabpanels {
    flex: 1 1 auto;
    padding: 0px;
}

.p-tabs {
    height: 100%;
}
/* style */
.class-progress__list {
    display: flex;
    padding: 0 0 10px;
    margin: 0;
    list-style: none;
    flex-flow: column nowrap;
    gap: 10px;
    overflow: hidden;
    --cpl-border-color: #e2e8f0;
    overflow-y: auto;
}

.class-progress__lesson-content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    /*width: calc(100% - 30px);*/
    /*height: calc(100% - 30px);*/
    /*border-radius: 4px;*/
    /*overflow: hidden;*/
    /*margin: 15px;*/
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.class-progress__lesson-content__head {
    max-height: 60px;
    height: 60px;
    min-height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.class-progress__lesson-content__lesson-title i {
    font-size: 28px;
    margin: 0 10px 0 0;
}

.class-progress__lesson-content__instructors {
    gap: 10px;
}

.class-progress__lesson-content__btn-books {
    border: none !important;
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    font-size: 22px;
    line-height: 1;
    border-radius: 999px;
}

.class-progress__lesson-content__man {
    border: none !important;
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    position: relative;
    overflow: hidden;
    border-radius: 99px;
    background-color: #ffffff;
    box-sizing: border-box;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.class-progress__lesson-content__man img {
    display: block;
    font-size: 0;
    line-height: 0;
    position: absolute;
    inset: 0;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.class-progress__lesson-content__circle-man {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid rgb(1, 85, 201);
}

.class-progress__lesson-content__circle-man::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(1, 85, 201);
    z-index: 10;
    border-radius: 999px;
    border: 2px solid #ffffff;
}

.class-progress__lesson-content__body {
    height: calc(100% - 60px);
    max-height: calc(100% - 60px);
    /*padding: 15px;*/
    /*overflow: hidden auto;*/
}

.class-progress__lesson-content__tab {
    height: 100%;
    --cpc-tab-height: 50px;
}

.class-progress__lesson-content__tab__head {
    min-height: var(--cpc-tab-height);
}

.class-progress__lesson-content__tab-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    background-color: rgb(244 244 244);
}

.class-progress__lesson-content__tab-list::before {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgb(223 223 223);
    z-index: 1;
    position: absolute;
}

.class-progress__lesson-content__tab-list__elm {
    position: relative;
    z-index: 5;
    border-left: 1px solid rgb(223 223 223);
}

.class-progress__lesson-content__tab-list__elm:last-child {
    border-right: 1px solid rgb(223 223 223);
}

.class-progress__lesson-content__tab-list__btn {
    box-sizing: border-box;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    /*color: #74777b;*/
    color: #333333;
    border: none;
    border-bottom: 1px solid rgb(223 223 223);
    margin: 0;
    padding: 0;
    height: var(--cpc-tab-height);
    max-height: var(--cpc-tab-height);
    min-width: 150px;
}

.class-progress__lesson-content__tab-list__btn i {
    font-size: 20px;
    margin: -4px 5px 0 0;
    line-height: 1;
}

.class-progress__lesson-content__tab__body {
    height: calc(100% - var(--cpc-tab-height));
    max-height: calc(100% - var(--cpc-tab-height));
    overflow: hidden auto;
}

.cpc-lesson-tab--active .class-progress__lesson-content__tab-list__btn {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
}

.class-progress__lesson-content__tab-content {
    padding: 15px;
}

.class-progress__lesson-content__section {
    display: block;
    position: relative;
    border: 1px solid #DBE0E9;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    font-family: var(--primary-font-family), sans-serif;
    color: #333333;
    padding: 15px;
    min-height: 50px;
}


.class-progress__lesson-content__section:first-child {
    margin-top: 15px;
}

.class-progress__lesson-content__section + .class-progress__lesson-content__section {
    margin-top: 30px;
}

.class-progress__lesson-content__section__head {
    
    padding: 0 5px;
    display: inline-block;
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
    top: -11px;
    left: 10px;
}

.class-progress__lesson-content__section__head_button {
  padding: 0 5px;
  display: inline-block;
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  top: -16px;
  right: 10px;
}

.class-progress__lesson-content__section__title {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    font-family: var(--primary-font-family), sans-serif;

    color: #b60205;
    display: inline-block;
}

.class-progress__btn-toggle-eye-check {
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    color: #333333;
    background: white;
    border: none !important;
    display: inline-block;
}

.class-progress__btn-toggle-eye-check i {
    line-height: 1;
    font-size: 18px;
}

.p-multiselect-label .p-placeholder {
    padding: 10px;
}

.p-select-label {
    font-size: 14px;
}



.curriculum-activities-avatar-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 0 2px #d8e6f9;
    margin-left: 6px;

}


.class-progress__elm {
    border-radius: 4px;
    border: 1px solid var(--cpl-border-color);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.class-progress__elm:hover{
    cursor: pointer;
}

.class-progress__elm--active {
    --cpl-border-color: #0d6efd;
}


.class-progress__item {
    align-items: center;
    width: 100%;
    gap: 10px;
}

.class-progress__item__icon {
    width: 43px;
    height: 43px;
    border-radius: 4px;
    --cpl-icon-color-rgb: 13 110 253;
    background-color: rgb(var(--cpl-icon-color-rgb) / 10%);
    font-family: var(--primary-font-family), sans-serif;
    color: rgb(var(--cpl-icon-color-rgb) / 100%);
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
}

.class-progress__item__icon:not(.item--move-disabled) {
    cursor: grab;
}

.cdk-drag-preview .class-progress__item,
.class-progress__item__icon:not(.item--move-disabled):active:hover {
    cursor: grabbing;
    pointer-events: auto !important;
}

.class-progress__item__info {
    max-width: 214px;
}

.class-progress__item__tick {
    display: inline-flex;
    width: 26px;
    justify-content: center;
    align-items: center;
    color: transparent;
}

.class-progress__item__tick i {
    font-size: 20px;
    color: currentColor;

}

.class-planning-curriculum-lecture__media {
    gap: 15px;
}

.class-planning-curriculum-lecture__media__item {
    width: max(calc((100% - 30px) / 3), 400px);
    aspect-ratio: 16/9;
    border: none;
    overflow: hidden;
    border-radius: 4px;
    background-color: #eef1f7;
}