<section class="class-progress-lesson-layout-section">
	@if (state() === 'loading') {
		<app-loading-progress [heading]="headingLoad" backdropFilter="none"></app-loading-progress>
	}
	@if (state() !== 'error') {
		<div class="class-progress-lesson-layout">
			<div class="class-progress-lesson-layout__baigiang">
				<div class="class-progress-lesson-layout__baigiang__body">
					<div class="class-progress__list" [ngStyle]="{ 'justify-content': dataTableBaiGiang.data().length === 0 ? 'center' : 'flex-start' }">
						<!-- <div>
							Danh sách bài giảng
							<p-select [options]="listCourseLessonPlan" appendTo="body" class="ictu-form__input-field"/>
						</div> -->
						@for (item of dataTableBaiGiang.data(); track $index; let i = $index) {
							<div #lessonRef class="class-progress__elm" [ngClass]="{ 'class-progress__elm--active' : item.id == valueLesson.idClassSession }" (click)="selectLesson($index, getCourseLessonPlan(item.course_lesson_id),item.id,item)">
								<div class="class-progress__item d-flex">
									<span class="class-progress__item__icon d-inline-flex justify-content-center align-items-center">{{ 1 + i }}</span>
									<div class="class-progress__item__info d-inline-flex flex-column justify-content-center align-items-start">
										<p class="f-roboto f-13 fw-medium lh-base m-0 w-100" style="color: #5B6B79;">{{ item?.topic ?? 'Unknown' }}</p>
										<div class="f-roboto f-14 fw-bold m-0 lh-base w-100 text-truncate" style="color: #333333;">{{ item?.title ?? 'Unknown' }}</div>
										<div class="d-flex gap-1 align-items-center">
											<i class="ti ti-calendar-time"></i>
											<p class="f-roboto f-13 fw-medium lh-base m-0 w-100" style="color: #8996A4;">{{ item?.time_start | date:'dd/MM/yyyy HH:mm' }}</p>
										</div>
									</div>
								</div>
								<span class="class-progress__item__tick" [ngClass]="{ 'text-primary' : item.status == 2 }"><i class="ti ti-check"></i></span>
								<button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{info: item.teacher}" (click)="$event.stopPropagation()" class="button--un-set-style">
									<img [src]="item.teacher?.photo || 'images/user/avatar-placeholder.jpg'" alt="" class="curriculum-activities-avatar-circle">
								</button>
							</div>
						} 
						@empty {
							<div style="text-align: center;">Chưa có bài được tạo</div>
						}
					</div>
					<!-- <div class="class-progress-lesson-layout__baigiang__foot">
						<ictu-paginator [control]="dataTableBaiGiang.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
					</div> -->
				</div>
			</div>
			<div class="class-progress-lesson-layout__noidung">
				@if (valueLesson.indexContentLesson != -1) {
					@if (true) {
						<!-- valueLesson.classSession.status != 0 -->
						<div class="class-progress__lesson-content__head">
							<div class="class-progress__lesson-content__lesson-title m-0 d-inline-flex justify-content-start align-items-center">
								<i class="ti ti-bookmarks"></i>
								<div class="d-inline-flex flex-column h-100">
									<p class="f-roboto f-13 fw-medium lh-base m-0 d-inline-flex" style="color: #5B6B79;">{{ valueLesson.classSession.topic ?? 'Unknown' }}</p>
									<h4 class="f-roboto f-16 fw-bold lh-base m-0">{{ valueLesson.classSession.title ?? '' }}</h4>
								</div>
							</div>
						</div>
						<div class="class-progress__lesson-content__tab-content">
							@if(valueLesson.classSession.course_lesson_id != 0){
								<p-tabs [value]="activeTab" (valueChange)="onTabChange($event)">
										<p-tablist>
											<p-tab [value]="0">Nội dung và Tài liệu</p-tab>
											<p-tab [value]="1">Bài tập về nhà</p-tab>
										</p-tablist>
										<p-tabpanels>
											<p-tabpanel [value]="0">
												@for (section of valueLesson.lecture_format_extend; track section.order; let indexParent = $index) {
													<div class="class-progress__lesson-content__section the-content-has-been-rewritten" style="padding: 0px;">
														<div class="class-progress__lesson-content__section__head" [style.top]="getTeacherUpdateLecture(section).length ? '-20px' : null">
															<b class="class-progress__lesson-content__section__title">{{ section.title }}</b>
															@if (getTeacherUpdateLecture(section).length){
																<!-- <button	 class="btn class-progress__lesson-content__section__title class-progress__btn-toggle-eye-check" pTooltip="So sánh với nội dung gốc" tooltipPosition="left" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body" (click)="setViewAdditional(indexParent)">
																	<i class="ti ti-exchange"></i>
																</button> -->
																@for (teacher of getTeacherUpdateLecture(section); track teacher.id; let i = $index){
																	<button class="button--un-set-style" [pTooltip]="teacher.full_name" tooltipPosition="top" (click)="setViewAdditional(indexParent, teacher)">
																		<img class="profile-avatar-circle" [class.selected-avatar]="teacher.user_id === valueLesson.lecture_format_extend[indexParent].teacher_select?.user_id" [src]="teacher.photo ? teacher.photo : 'images/user/avatar-2.jpg'" alt="" style="margin: 0px 4px; width: 25.5px; height: 25.5px">
																	</button>
																}
															}
														</div>	
														<div class="class-progress__lesson-content__section__content">
															@if(valueLesson.lecture_format_extend[indexParent].isViewAdditional){
																<p-splitter class="ictu-compare-splitter-class-progress" [attr.data-key]="valueLesson.lecture_format_extend[indexParent].isViewAdditional">
																<ng-template #panel>
																	<div style="padding: 15px;">
																		@if (section.type == 'TEXT') {
																			<div [innerHTML]="valueLesson.lectureLesson[indexParent].content | safeHtml"></div>
																		} @else if (section.type === 'EXCERPT_FROM_DOCUMENT') {
																			@if(valueLesson.lectureLesson[indexParent].page.start != 0){
																				<div class="text-lecture-view-document" (click)="setValueDialog(section.title, section.type, '', valueLesson.lectureLesson[indexParent].page)" target="_blank">Nhấn vào đây để truy cập tài liệu đã được trính dẫn</div>
																			}
																		} @else if (section.type === 'VOCABULARY') {
																			<div class="course-lesson-baigiang-grid">
																				@for (grid of valueLesson.lectureLesson[indexParent].wordLECTURE; track grid.id; let indexWord = $index) {
																					<div class="course-lesson-baigiang-grid__card">
																						@if (grid.audio) {
																							<button (click)="$event.stopPropagation(); toggleAudio(setSrcAudio(grid.audio), indexWord)" class="btn btn-sound">
																								<i [class]="isPlayingIndex === indexWord ? 'ti ti-volume-3' : 'ti ti-volume'"></i>
																							</button>
																						}
																						<div class="course-lesson-baigiang-grid__card-word">{{ grid.title }}</div>
																						<img class="ictu-upload-image-form-control__img" [ICTUMediaLoader]="grid.thumbnail" src="http://www.w3.org/2000/svg" alt="word image" width="100" height="100">
																						<div class="course-lesson-baigiang-grid__card-mean">{{ grid.define }}</div>
																						<div class="course-lesson-baigiang-grid__card-phonetic" [innerHTML]="grid.transcription | safeHtml"></div>
																					</div>
																				}
																			</div>
																		} @else if (section.type === 'EXAMPLE_SENTENCES') {
																			@for (grammar of valueLesson.lectureLesson[$index].grammarLecture; track grammar.id; let i = $index) {
																				<div style="padding-bottom: 6px;">
																					<div class="class-progress-grammar-conversation">{{ getConversationText(grammar) }}</div>
																					@if (grammar.translation) {
																						<div class="class-progress-grammar-translation">({{ grammar.translation }})</div>
																					}
																				</div>
																			}
																		} @else if (section.type === 'LINK') {
																			@if(valueLesson.lectureLesson[indexParent].content != '' && valueLesson.lectureLesson[indexParent].content){
																				<div class="text-lecture-view-document" (click)="setValueDialog(section.title, section.type, valueLesson.lectureLesson[indexParent].content)" target="_blank">Nhấn vào đây để truy cập link</div>
																			}
																		}
																	</div>
																</ng-template>
																<ng-template #panel>
																		<div style="padding: 15px;">
																			@if (section.type == 'TEXT') {
																				<div [innerHTML]="getLectureUpdateByTeacher(valueLesson.lecture_format_extend[indexParent].teacher_select.user_id,section.slug).content | safeHtml"></div>
																			} @else if (section.type == 'VOCABULARY') {
																				<div class="course-lesson-baigiang-grid">
																					@for (grid of getLectureUpdateByTeacher(valueLesson.lecture_format_extend[indexParent].teacher_select.user_id,section.slug).wordLECTURE; track grid.id; let indexWord = $index) {
																						<div class="course-lesson-baigiang-grid__card">
																							@if (grid.audio) {
																								<button (click)="$event.stopPropagation(); toggleAudio(setSrcAudio(grid.audio), indexWord)" class="btn btn-sound">
																									<i [class]="isPlayingIndex === indexWord ? 'ti ti-volume-3' : 'ti ti-volume'"></i>
																								</button>
																							}
																							<div class="course-lesson-baigiang-grid__card-word">{{ grid.title }}</div>
																							<img class="ictu-upload-image-form-control__img" [ICTUMediaLoader]="grid.thumbnail" src="http://www.w3.org/2000/svg" alt="word image" width="100" height="100">
																							<div class="course-lesson-baigiang-grid__card-mean">{{ grid.define }}</div>
																							<div class="course-lesson-baigiang-grid__card-phonetic" [innerHTML]="grid.transcription | safeHtml"></div>
																						</div>
																					}
																				</div>
																			} @else if (section.type == 'EXAMPLE_SENTENCES') {
																				@for (grammar of getLectureUpdateByTeacher(valueLesson.lecture_format_extend[indexParent].teacher_select.user_id,section.slug).grammarLecture; track grammar.id; let i = $index) {
																					<div style="padding-bottom: 6px;">
																						<div class="class-progress-grammar-conversation">{{ getConversationText(grammar) }}</div>
																						@if (grammar.translation) {
																							<div class="class-progress-grammar-translation">({{ grammar.translation }})</div>
																						}
																					</div>
																				}
																			}
																		</div>
																</ng-template>
																</p-splitter>
															}@else{
																<div style="padding: 15px;">
																	@if (section.type == 'TEXT') {
																		<div [innerHTML]="valueLesson.lectureLesson[indexParent].content | safeHtml"></div>
																	} @else if (section.type === 'EXCERPT_FROM_DOCUMENT') {
																		@if(valueLesson.lectureLesson[indexParent].page.start != 0){
																			<div class="text-lecture-view-document" (click)="setValueDialog(section.title, section.type, '', valueLesson.lectureLesson[indexParent].page)" target="_blank">Nhấn vào đây để truy cập tài liệu đã được trính dẫn</div>
																		}
																	} @else if (section.type === 'VOCABULARY') {
																		<div class="course-lesson-baigiang-grid">
																			@for (grid of valueLesson.lectureLesson[indexParent].wordLECTURE; track grid.id; let indexWord = $index) {
																				<div class="course-lesson-baigiang-grid__card">
																					@if (grid.audio) {
																						<button (click)="$event.stopPropagation(); toggleAudio(setSrcAudio(grid.audio), indexWord)" class="btn btn-sound">
																							<i [class]="isPlayingIndex === indexWord ? 'ti ti-volume-3' : 'ti ti-volume'"></i>
																						</button>
																					}
																					<div class="course-lesson-baigiang-grid__card-word">{{ grid.title }}</div>
																					<img class="ictu-upload-image-form-control__img" [ICTUMediaLoader]="grid.thumbnail" src="http://www.w3.org/2000/svg" alt="word image" width="100" height="100">
																					<div class="course-lesson-baigiang-grid__card-mean">{{ grid.define }}</div>
																					<div class="course-lesson-baigiang-grid__card-phonetic" [innerHTML]="grid.transcription | safeHtml"></div>
																				</div>
																			}
																		</div>
																	} @else if (section.type === 'EXAMPLE_SENTENCES') {
																		@for (grammar of valueLesson.lectureLesson[$index].grammarLecture; track grammar.id; let i = $index) {
																			<div style="padding-bottom: 6px;">
																				<div class="class-progress-grammar-conversation">{{ getConversationText(grammar) }}</div>
																				@if (grammar.translation) {
																					<div class="class-progress-grammar-translation">({{ grammar.translation }})</div>
																				}
																			</div>
																		}
																	} @else if (section.type === 'LINK') {
																		@if(valueLesson.lectureLesson[indexParent].content != '' && valueLesson.lectureLesson[indexParent].content){
																			<div class="text-lecture-view-document" (click)="setValueDialog(section.title, section.type, valueLesson.lectureLesson[indexParent].content)" target="_blank">Nhấn vào đây để truy cập link</div>
																		}
																	}
																	@else if (section.type === 'MEDIA'){
																		<div class="class-planning-curriculum-lecture__media d-flex flex-wrap">
																			@for (_media of (valueLesson.lectureLesson[indexParent].content  | courseLessonMediaDecode); track _media; ) {
																				@switch (_media.mediaType) {
																					@case ('video') {
																						<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																							<class-curriculum-lecture-media-video [media]="_media" class="w-100 h-100"></class-curriculum-lecture-media-video>
																						</div>
																					}
																					@case ('audio') {
																						<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																							<app-class-curriculum-lecture-media-audio [media]="_media" class="w-100 h-100"></app-class-curriculum-lecture-media-audio>
																						</div>
																					}
																					@case ('picture') {
																						<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																							<app-class-curriculum-lecture-media-picture [media]="_media" class="w-100 h-100"></app-class-curriculum-lecture-media-picture>
																						</div>
																					}
																					@case ('document') {
																						<div class="class-planning-curriculum-lecture__media__item d-inline-flex p-0 m-0">
																							<app-class-curriculum-lecture-media-document [media]="_media" class="w-100 h-100"></app-class-curriculum-lecture-media-document>
																						</div>
																					}
																					@default {
																						<div class="class-planning-curriculum__lesson-content__section__content" [innerHTML]="valueLesson.lectureLesson[indexParent].content | safeHtml"></div>
																					}
																				}
																			}
																		</div>
																	}
																</div>
															}
														</div>
														
													</div>
												}
												<p-divider type="solid" />
												<div style="padding: 10px 0px; display: flex; justify-content: space-between; align-items: center; width: 100%; margin-top: 12px;">
													<label style=" font-weight: 500; font-size: 20px; display: inline-block; font-family: var(--primary-font-family), sans-serif;">Trợ giảng nhận xét</label>
													@if(class_session_id() != 0){
														<div class="class-progress-lesson-layout__lesson-content__instructors d-inline-flex justify-content-end align-items-center ms-auto">
															<div class="class-progress-btn-bosung">
																<button (click)="submitComment()" [disabled]="!formControl.formFilledAndValid" mat-flat-button class="btn ictu-badge-btn--primary">Nhận xét
																	<i class="pi pi-save"></i>
																</button>
															</div>
														</div>
													}
												</div>
												@if (valueLesson.idClassSession == class_session_id() && isDone(valueLesson.classSession) == false) {
													<form [formGroup]="formControl.formGroup" style="width: 100%;">
														<textarea placeholder="Nhập nhận xét" pTextarea formControlName="comment" style="width: 100%;min-height: 100px ; resize: vertical"></textarea>
													</form>
												} @else {
													<div style="width: 100%; min-height: 100px; border: 1px solid #dcdfe6; border-radius: 6px; padding: 10px;">
														{{ formControl.formGroup.get('comment')?.value }}
													</div>
												}
											</p-tabpanel>
											<p-tabpanel [value]="1">
												<app-assign-homework-component [class_id]="class_id()" [class_session_id]="valueLesson.classSession.id" [course_lesson_id]="valueLesson.classSession.course_lesson_id" [canChange]="valueLesson.classSession.status != 0 ? true : false"></app-assign-homework-component>
											</p-tabpanel>
										</p-tabpanels>
								</p-tabs>
							} @else {
								<div class="class-progress-lesson-badge--danger" style="height: calc(var(--device-height) - 60px - 60px - 16px)">
									<span class="ictu-badge ictu-badge--danger">Đây là hoạt động ngoại khóa không có nội dung bài học</span>
								</div>
							}
						</div>
					} @else {
						<div class="class-progress-lesson-badge--danger">
							<span class="ictu-badge ictu-badge--primary">Vui lòng hoàn thành giảng dạy buổi trước</span>
						</div>
					}
				} @else {
					<div class="class-progress-lesson-badge--danger">
						<span class="ictu-badge ictu-badge--danger">Vui lòng chọn mục cần cập nhật</span>
					</div>
				}
			</div>
		</div>
	} @else {
		<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
			<a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
		</div>
	}

	<p-dialog [(visible)]="visibleDialog" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '100%', height: 'var(--device-height)'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-viewdoc ictu-dialog-layout--no-border ictu-dialog-layout--hide-header">
		<div class="ictu-dialog-layout__wrapper ictu-dialog-viewdoc__wrapper">
			<div class="ictu-dialog-layout__header">
				<h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">{{titleLecture}}</h4>
				<button (click)="visibleDialog = false" class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button>
					<i class="ti ti-x"></i>
				</button>
			</div>
			<div class="ictu-dialog-layout__body ictu-dialog-viewdoc__body">
				@if(visibleDialog){
					<app-view-document [type_view]="type_view" [link]="link" [form_document]="form_document"></app-view-document>
				}
			</div>
		</div>
	</p-dialog>

	<mat-menu #menu="matMenu" yPosition="above" >
		<ng-template matMenuContent let-info="info">
			<div class="profile-avatar-menu">
				<img [src]="info.photo || 'images/user/avatar-placeholder.jpg'" alt="Preview"/>
			</div>
		</ng-template>
	</mat-menu>

</section>