<section class="plan-panel__layout">
	@if (state() === 'loading') {
		<app-loading-progress [heading]="headingLoad" backdropFilter="none"></app-loading-progress>
	}
	@if (state() !== 'error') {
		<div class="plan-body__layout">
			<div class="baigiang-container">
				<div class="body-baigiang">
					@if (dataTableBaiGiang.data().length != 0) {
						@for (item of dataTableBaiGiang.data(); track $index) {
							<div class="item-lesson" [class.active]="item.id == valueLesson.idClassSession">
								<div class="header-item-lesson" (click)="selectLesson($index, getCourseLessonPlan(item.course_lesson_id),item.id, item)">
									<div class="icon-circle">
										<i class="ti ti-file-analytics icon-large"></i>
									</div>
									<div style="flex: 1 1 auto;">
										<div style="font-weight: 500; font-size: 16px; cursor: pointer;">Buổi {{ $index + 1 }}: {{ getTitleClassSession(item.course_lesson_id) }}</div>
										<div style="font-weight: 400; font-size: 14px; color: #5B6B79;">Ngày: {{ item.time_start | date: 'dd/MM/yyyy hh:mm' }}</div>
									</div>
									@if (idUpdateClassSession(item.id)) {
										<i class="ti ti-edit-circle icon-large-edit"></i>
									}
									<!-- <svg [ngClass]="isPanelOpen($index) ? 'css-en-9zucdi' : 'css-en-1hqlyo5'" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#EEF1F7"></circle><path d="M12.351 14.8367C12.356 14.8307 12.358 14.8227 12.363 14.8167L15.8538 10.9599C16.0487 10.7429 16.0487 10.391 15.8538 10.174C15.8518 10.172 15.8498 10.171 15.8478 10.17C15.8044 10.1174 15.75 10.075 15.6886 10.0457C15.6271 10.0163 15.5599 10.0007 15.4918 10H8.50927C8.43988 10.0011 8.37159 10.0175 8.30922 10.0479C8.24684 10.0783 8.19191 10.122 8.14829 10.176L8.14629 10.174C8.05193 10.2832 8 10.4227 8 10.567C8 10.7113 8.05193 10.8508 8.14629 10.9599L11.645 14.8367C11.6886 14.8877 11.7427 14.9287 11.8037 14.9568C11.8646 14.985 11.9309 14.9995 11.998 14.9995C12.0651 14.9995 12.1315 14.985 12.1924 14.9568C12.2533 14.9287 12.3074 14.8877 12.351 14.8367Z" fill="#808C98"></path></svg> -->
								</div>
							</div>
						}
					} @else {
						<div style="text-align: center;">Chưa có bài giảng được tạo</div>
					}
				</div>
				<div class="foot-baigiang">
					<ictu-paginator [control]="dataTableBaiGiang.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
				</div>
			</div>
			<div class="noidung-container">
				@if (this.valueLesson.indexContentLesson != -1) {
					<label style=" font-weight: 500; font-size: 20px; display: inline-block; font-family: var(--primary-font-family), sans-serif;">Nội dung giảng dạy</label>
					<div class="course-editor-custom__tab-structure">
						@for (sub of course.lecture_format; track sub.order; let i = $index) {
							<div class="course-editor-tab-item" [class.active]="valueLesson.slugStructureSelected === sub.slug" (click)="selectStructureLesson($index, sub.slug)">{{ sub.title }}</div>
						}
					</div>
					<div class="course-reference-content-additional">
						<p-splitter [panelSizes]="[50, 50]" [style]="{height: '100%'}">
							<ng-template #panel>
								<div class="course-reference-content-additional-body">
									<div class="course-reference-content-additional-body__header">Nội dung gốc</div>
									<div class="course-reference-content-additional-body__content" [innerHTML]="getContentViewValueEditor(false)"></div>
								</div>
							</ng-template>
							<ng-template #panel>
								<div class="course-reference-content-additional-body">
									<div class="course-reference-content-additional-body__header">Nội dung bổ sung</div>
									<div class="course-reference-content-additional-body__content" [innerHTML]="getContentViewValueEditor(true)"></div>
								</div>
							</ng-template>
						</p-splitter>
					</div>
					<label style=" font-weight: 500; font-size: 20px; display: inline-block; font-family: var(--primary-font-family), sans-serif; padding: 6px 0px; ">Trợ giảng nhận xét</label>
					<div class="text-box">
						<div style="padding: 6px;">
							{{valueLesson.activitiesCommentSelect.comment}}
						</div>
					</div>
				} @else {
					<div class="badge--danger">
						<span class="ictu-badge ictu-badge--danger">Vui lòng chọn mục cần xem</span>
					</div>
				}
			</div>
		</div>
	} @else {
		<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
			<a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
		</div>
	}
</section>