<input type="file" #fileChooser hidden="true" [accept]="accept()" (change)="onInputAvatar($event , fileChooser)">

<div class="w-100 h-100 p-3" style="border:1px dashed #ccc">
    <div class="bg-container" [ngClass]="characterAvatar() ? 'active' : 'in-active'" [ngStyle]="{'height':height() }" >
        <img class="imgchecksize" [ngClass]="footage() == 'vertical' ? 'vertical' :'horizontal'" [src]="characterAvatar()" alt="">

        <div  class="view-btn overlay-buttons " >
            @if (disabled()) {
                <button class="button">
                    <i class="fa fa-camera"></i>
                </button>
            }

            @if (!disabled()) {
                <button class="button" (click)="fileChooser.click()">
                    <i class="fa fa-camera"></i>
                </button>
            }

            @if (characterAvatar()) {
                <button class="button" (click)="btnviewImage()">
                    <i class="fa fa-picture-o"></i>
                </button>
            }
        </div>

    </div>
</div>

<p-galleria [value]="characterAvatar() ? [characterAvatar()] : []"
            [visible]="displayBasic()"
            (visibleChange)="displayBasic.set($event)"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{'max-width': '50%'}"
            [circular]="true"
            [fullScreen]="true"
            [showItemNavigators]="true"
            [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
        <p-image [src]="item" alt="Image" width="500" [preview]="true"></p-image>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item" style="display: block;" />
        </div>
    </ng-template>
</p-galleria>
