.admin-wrap-table__switchers {
    --admin-switcher-active-color-rgb: 70 128 255;
    --admin-switcher-border-radius: 2px;
    display: flex;
    padding: 1px;
    gap: 0;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #aac4ff;*/
    border: 1px solid rgb(var(--admin-switcher-active-color-rgb)/20%);
    background-color: transparent;
    border-radius: calc(var(--admin-switcher-border-radius) + 1px);
}

.admin-wrap-table__switchers__btn-label,
.admin-wrap-table__switchers__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    line-height: 1.5;
    padding: 5px;
    min-width: 60px;
    cursor: pointer;
    background-color: rgb(var(--admin-switcher-active-color-rgb)/10%);
    color: rgb(var(--admin-switcher-active-color-rgb));
    height: 36px;
    user-select: none;
}

.admin-wrap-table__switchers__btn:first-child {
    border-radius: var(--admin-switcher-border-radius) 0 0 var(--admin-switcher-border-radius);
}

.admin-wrap-table__switchers__btn:last-child {
    border-radius: 0 var(--admin-switcher-border-radius) var(--admin-switcher-border-radius) 0;
}

.admin-wrap-table__switchers--next>.btn:hover,
.admin-wrap-table__switchers__btn.active {
    background-color: rgb(var(--admin-switcher-active-color-rgb)/100%);
    color: #ffffff;
}

.admin-wrap-table__switchers--next {
    gap: 1px
}


.admin-wrap-table__switchers--next>.btn {
    min-width: 36px;
}

.admin-wrap-table__switchers--diligence>.btn.active {
    background-color: rgb(var(--admin-switcher-active-color-rgb)/100%);
    color: #ffffff;
}

.admin-wrap-table__switchers--diligence>.btn {
    min-width: 36px;
}


.switchers__btn-diligence--true {
    background-color: #28a745;
    color: #fff;
}

.switchers__btn-diligence--false {
    background-color: #dc3545;
    color: #fff;
}

.switchers__btn-diligence {
    width: 32px;
    height: 32px;
    min-width: unset;
    padding: 0;
    border-radius: 4px !important;
}

.admin-wrap-table__switchers__btn-label__lbl {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.admin-wrap-table__switchers__btn-label__lbl i {
    font-size: 18px;
    line-height: 1;
    height: 100%;
    display: inline-flex;
    width: 36px;
    justify-content: center;
    align-items: center;
    background-color: rgb(218 230 255);
}

.admin-wrap-table__switchers__btn-label__lbl span {
    line-height: 1.5;
    font-weight: 500;
    margin: 0 0 -4px 0;
    width: 150px;
    text-align: left;
    font-family: var(--primary-font-family), sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0 0 0 10px;
}

.btn-class-name {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0;
    font-family: var(--primary-font-family), sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: inherit;
    background: transparent !important;
}

.btn-call-nav-menu {
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin: auto;
    background-color: transparent;
}

.accountant-pricing-unit-per-session {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbe0e9;
    min-height: 50px;
    margin: 10px 0px;
    border-radius: 4px;
}

.accountant-pricing-unit-per-session__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #dbe0e9;
    min-height: 50px;
    margin: 15px 10px;
    padding: 10px;
    position: relative;
    padding-top: 16px;
    border-radius: 4px;
}

.accountant-pricing-unit-per-session__item--label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #fff;
    padding: 0 6px;
    font-size: 14px;
    font-weight: 500;
}

.accountant-pricing-unit-per-session__item__price {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.accountant-pricing-unit-tiered {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbe0e9;
    min-height: 50px;
    margin: 10px 0px;
    border-radius: 4px;
    gap: 10px;
}

.accountant-pricing-unit-tiered__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding: 10px;
}

.accountant-pricing-unit-tiered-table {
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.accountant-pricing-unit-tiered-table--border-none {
    border: none;
}

.accountant-pricing-unit-tiered-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.accountant-pricing-unit-tiered-table th,
.accountant-pricing-unit-tiered-table td {
    padding: 12px 16px;
    border: 1px solid #e9ecef;
}

.accountant-pricing-unit-tiered-table th {
    background: #f8f9fa;
    font-weight: 600;
    color: #333;
}


.accountant-pricing-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid #e9ecef;
    border-radius: 4px;
}

.accountant-pricing-panel__header {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F8F9FA;
    padding: 0px 10px;
}

.accountant-pricing-panel__header--border-bottom {
    border-bottom: 1px solid #e9ecef;
}

.accountant-pricing-panel__content {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.accountant-pricing-panel__content__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;
    padding: 0px 10px;
}

.accountant-pricing-row-panel {
    display: flex;
    flex-direction: column;
}

.accountant-pricing-row-panel__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.accountant-pricing-row-panel__content {
    margin: 10px 0px 0px 0px;
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
}


.admin-table--small th,
.admin-table--small td {
    padding: 6px;
}