<section class="admin-section--table">
    @if (state() === 'loading') {
        <app-loading-progress heading="Tải xuống dữ liệu..." style="max-width: calc(100% - 1px)"></app-loading-progress>
    }
    <div class="admin-wrap-table">
        @if (state() !== 'error') {
            <div class="admin-wrap-table__head d-flex">
                <h4 class="admin-wrap-table__heading">
                    <svg>
                        <use href="fonts/custom-icon.svg#custom-calendar"></use>
                    </svg>
                    Cấu hình chi phí giảng dạy
                </h4>
                <div class="admin-wrap-table__head-actions">
                    <p-select [disabled]="state() == 'loading'" [(ngModel)]="searchInfo.type" [showClear]="true" [options]="pricingtypeOptions" appendTo="body" placeholder="Lọc theo phạm vi" (onChange)="onSearch()"/>
                    <button mat-flat-button class="btn ictu-badge-btn--success-reverse" (click)="addNewItemPricing()">
                        <i class="ti ti-plus"></i>
                    </button>
                    <!-- <div class="admin-wrap-table__switchers" pTooltip="Lọc theo cơ sở đào tạo" tooltipPosition="left">
                        <button [matMenuTriggerFor]="menu_agent" type="button" class="admin-wrap-table__switchers__btn-label btn f-0 p-0" style="line-height: 1;height: 32px;">
                            <span class="admin-wrap-table__switchers__btn-label__lbl">
                                <i class="pi pi-building"></i><span>{{ activeAgent()?.ten }}</span><i class="ti ti-chevron-down" style="background: transparent;"></i>
                            </span>
                        </button>
                    </div> -->
                    <!-- <button mat-flat-button class="btn ictu-badge-btn--danger-reverse" (click)="setMode('default')">
                        <i class="ti ti-x"></i>
                    </button> -->
                </div>
            </div>
            <div class="admin-wrap-table__body">
                <table class="tbl admin-table"> 
                    <!-- table-hover -->
                    <thead>
                        <tr>
                            <th class="col-index text-center">#</th>
                            <th class="wid-200 text-center">Tiêu đề</th>
                            <th class="wid-100 text-center">Ngày áp dụng</th>
                            <th class="wid-140 text-center">Phạm vi</th>
                            <th class="wid-250 text-center">Áp dụng</th>
                            <th class="text-center">Bảng giá</th>
                            <th class="wid-100 text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (row of dataTable.data(); track row.id; let i = $index) {
                            <tr>
                                <td class="col-index text-center">{{ dataTable.paginator.startIndex() + i }}</td>
                                <td class="wid-200 text-start">{{row.title}}</td>
                                <td class="wid-100 text-center">{{row.effective_date | date: 'dd/MM/yyyy'}}</td>
                                <td class="wid-140 text-center">
                                    @if(row.type == 'COURSE'){
                                        <span class="ictu-badge ictu-badge--secondary ictu-badge--set-width">Theo khóa</span>
                                    }@else{
                                        <span class="ictu-badge ictu-badge--primary ictu-badge--set-width">Theo lớp</span>
                                    }
                                </td>
                                <td class="wid-250 text-start">
                                    @if(row.type == 'COURSE'){
                                        <div class="accountant-pricing-row-panel">
                                            <div class="accountant-pricing-row-panel__header">
                                                <h5 class="mb-0">
                                                    <a (click)="panel1.panel?.toggle()" class="link-primary" href="javascript:">{{getCourseActive(row.course_id)}}</a>
                                                </h5>
                                                <svg (click)="panel1.panel?.toggle()" [ngClass]="panel1.panel.isShown ? 'css-en-1hqlyo5' : 'css-en-9zucdi'" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="12" cy="12" r="12" fill="#EEF1F7"></circle>
                                                    <path d="M12.351 14.8367C12.356 14.8307 12.358 14.8227 12.363 14.8167L15.8538 10.9599C16.0487 10.7429 16.0487 10.391 15.8538 10.174C15.8518 10.172 15.8498 10.171 15.8478 10.17C15.8044 10.1174 15.75 10.075 15.6886 10.0457C15.6271 10.0163 15.5599 10.0007 15.4918 10H8.50927C8.43988 10.0011 8.37159 10.0175 8.30922 10.0479C8.24684 10.0783 8.19191 10.122 8.14829 10.176L8.14629 10.174C8.05193 10.2832 8 10.4227 8 10.567C8 10.7113 8.05193 10.8508 8.14629 10.9599L11.645 14.8367C11.6886 14.8877 11.7427 14.9287 11.8037 14.9568C11.8646 14.985 11.9309 14.9995 11.998 14.9995C12.0651 14.9995 12.1315 14.985 12.1924 14.9568C12.2533 14.9287 12.3074 14.8877 12.351 14.8367Z" fill="#808C98"></path>
                                                </svg>
                                            </div>
                                            <collapse-panel #panel1>
                                                <div class="accountant-pricing-row-panel__content">
                                                    <ng-container
                                                        *ngTemplateOutlet="classList; context: { $implicit: allClassApply(row.course_id) }">
                                                    </ng-container>
                                                </div>
                                            </collapse-panel>
                                        </div>
                                    }@else {
                                        <h5 class="mb-0">
                                            <a class="link-primary" href="javascript:">{{getClassActive(row.class_id)}}</a>
                                        </h5>
                                    }
                                </td>
                                <td class="text-center">
                                    @if(row.unit == 'PER_SESSION') {
                                            <table class="tbl admin-table admin-table--small"> 
                                                <thead>
                                                    <tr>
                                                        <th class="wid-100 text-center">Buổi dạy</th>
                                                        <th class="text-center">GV</th>
                                                        <th class="text-center">TG</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (_plan of row.plans; track _plan.type; let i = $index) {
                                                        <tr>
                                                            <td class="text-center">
                                                                {{ _plan.type == 'OFFICIAL' ? 'Chính thức' : 'Bổ trợ' }}
                                                            </td>
                                                            <td class="text-end">{{_plan.sessions[0].price | formatVndPipe }}</td>
                                                            <td class="text-end">{{_plan.sessions[1].price | formatVndPipe }}</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                    }
                                    @else if (row.unit == 'TIERED') {
                                        @if(isEmptyPlan(row.plans)){
                                            @for (_plan of row.plans; track _plan.type; let i = $index) {
                                                @if(isViewPlan(_plan.sessions[0])){
                                                    <div class="accountant-pricing-unit-tiered__item p-0">
                                                        <label class="ictu-form__label" for="f_plan">{{ _plan.type == 'OFFICIAL' ? 'Buổi dạy chính thức' : 'Buổi dạy bổ trợ' }}</label>
                                                        <div class="accountant-pricing-unit-tiered-table">
                                                            <table class="tbl admin-table admin-table--small">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="wid-50 text-center">Mức</th>
                                                                        <th class="wid-60 text-center">Số HS</th>
                                                                        <th class="text-center">GV</th>
                                                                        <th class="text-center">TG</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @for (_planItem of buildRows(_plan); track _planItem.ordering) {
                                                                        <tr>
                                                                            <td class="text-center">{{ _planItem.ordering }}</td>
                                                                            <td class="text-center">{{_planItem.student_count}}</td>
                                                                            <td class="text-end">{{_planItem.teacherItem.price | formatVndPipe }}</td>
                                                                            <td class="text-end">{{_planItem.teaching_assistantItem.price | formatVndPipe }}</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }@else{
                                            <div class="fw-medium">Bảng giá chưa được tạo</div>
                                        }
                                    }
                                </td>
                                <td class="p-0">
                                    <div class="admin-table__btn-actions">
                                        <button [disabled]="row.used == 1" class="btn ictu-button-info-light" (click)="editRowItemPricing(row)" pTooltip="Chỉnh sửa" tooltipPosition="left">
                                            <i class="fa-duotone fa-light fa-edit"></i>
                                        </button>
                                        <button [disabled]="row.used == 1" class="btn ictu-button-danger-light" (click)="deleteRow(row)"><i class="ti ti-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        } @empty {
                            <tr>
                                <td colspan="12">Không có bản ghi nào.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="admin-wrap-table__foot">
                <div class="d-flex justify-content-center align-items-center w-100">
                    <ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
                </div>
            </div>
        } @else {
            <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
                <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
            </div>
        }
    </div>
</section>


<mat-menu #menu="matMenu" class="ictu-switchers-menu">
    @for (_agent of listAgent(); track _agent.id) {
        <button (click)="btnChangeAgent(_agent)" mat-menu-item class="ictu-switchers-menu__item" [class.ictu-switchers-menu__item--active]="activeAgent() ? activeAgent().id === _agent.id : false">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ _agent.ten }}</b>
            <span class="text-left d-block text-muted" style="font-size: 13px">{{ _agent.address }}</span>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có cơ sở đào tạo</div>
    }
</mat-menu>

<mat-menu #staffInfo="matMenu" class="ictu-switchers-menu" xPosition="after" yPosition="below">
    <ng-template matMenuContent let-staff="staff">
        <div class="employee-popup-details d-flex flex-column justify-content-center align-items-center" (click)="avoidCloseMenuByClicking($event)">
            <div class="employee-popup-details__avatar">
                <img class="employee-popup-details__avatar__img wid-80 hei-80" [src]="staff | employeePhoto" alt=" student.full_name" width="100" height="100">
            </div>
            <b class="f-roboto f-14 fw-medium lh-base text-truncate m-t-15 m-b-10" style="max-width: 100%">{{ staff.full_name }}</b>
            <div class="employee-popup-details__contact-field d-flex flex-column justify-content-center align-items-start w-100">
                <div class="employee-popup-details__contact-field__info d-flex justify-content-start align-items-center">
                    <i class="pi-envelope pi text-secondary m-r-10"></i>
                    <p class="employee-popup-details__contact-field__info__text f-14 lh-base fw-normal text-secondary m-0 text-truncate">{{ staff.email ?? '' }}</p>
                </div>
                <div class="employee-popup-details__contact-field__info d-flex justify-content-start align-items-center">
                    <i class="pi-phone pi text-secondary m-r-10"></i>
                    <p class="employee-popup-details__contact-field__info__text f-14 lh-base fw-normal text-secondary m-0 text-truncate">{{ staff.phone ?? '' }}</p>
                </div>
            </div>
        </div>
    </ng-template>
</mat-menu>

<p-drawer #pDrawer (onHide)="onDrawerHide()" [(visible)]="formControl.visible" [dismissible]="false" [header]="formControl.heading()" [style]="{'width':'700px', 'max-width':'100%'}" appendTo="body" position="right" styleClass="ictu-p-drawer">
	<div class="ictu-p-drawer__content position-relative">
		@if (formControl.enableLoading()) {
			<app-loading-progress [heading]="formControl.loadingLabel()" backdropFilter="none"></app-loading-progress>
		}
		<div class="ictu-p-drawer__content__body position-relative">
			@switch (formControl.state()) {
				@case ('READY') {
					<form [formGroup]="formControl.formGroup">
                        <div class="ictu-form"> 
                            <!-- ictu-form--label-on-top -->
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_title">Tiêu đề</label>
                                <input class="ictu-form__input-field" id="f_title" pInputText placeholder="Tiêu đề" formControlName="title" type="text">
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label" for="f_note">Mô tả</label>
                                <textarea class="ictu-form__input-field" id="f_note" placeholder="Mô tả" formControlName="note" type="text" pTextarea></textarea>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="ictu-form__row">
                                        <label class="ictu-form__label ictu-form__label--required" for="f_effective_date">Ngày áp dụng</label>
                                        <p-datepicker [showIcon]="true" [showOnFocus]="false" class="ictu-form__input-field" dateFormat="dd/mm/yy" formControlName="effective_date" id="f_effective_date" inputId="buttondisplay"></p-datepicker>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="ictu-form__row">
                                        <label class="ictu-form__label ictu-form__label--required" for="f_unit">Cách tính</label>
                                        <p-select [options]="pricingPlanOptions" appendTo="body" class="ictu-form__input-field" formControlName="unit" id="f_unit" optionLabel="label" optionValue="value"/>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="ictu-form__row">
                                        <label class="ictu-form__label ictu-form__label--required" for="f_type">Phạm vi áp dụng</label>
                                        <p-select [options]="pricingtypeOptions" appendTo="body" class="ictu-form__input-field" formControlName="type" id="f_type" optionLabel="label" optionValue="value"/>
                                    </div>
                                </div>
                            </div>

                            @if(formField('type').value == 'COURSE'){
                                <div class="ictu-form__row">
                                    <label class="ictu-form__label ictu-form__label--required" for="f_course_id">Khóa học</label>
                                    <p-select [options]="allCourse()" appendTo="body" class="ictu-form__input-field" formControlName="course_id" id="f_course_id" optionLabel="title" optionValue="id" placeholder="Chọn khóa học"/>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="accountant-pricing-panel">
                                            <div class="accountant-pricing-panel__header" [class.accountant-pricing-panel__header--border-bottom]="panel1.panel.isShown">
                                                <h5 class="mb-0">
                                                    <a (click)="panel1.panel?.toggle()" class="link-primary" href="javascript:">Lớp được áp dụng</a>
                                                </h5>
                                                <svg (click)="panel1.panel?.toggle()" [ngClass]="panel1.panel.isShown ? 'css-en-1hqlyo5' : 'css-en-9zucdi'" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="12" cy="12" r="12" fill="#EEF1F7"></circle>
                                                    <path d="M12.351 14.8367C12.356 14.8307 12.358 14.8227 12.363 14.8167L15.8538 10.9599C16.0487 10.7429 16.0487 10.391 15.8538 10.174C15.8518 10.172 15.8498 10.171 15.8478 10.17C15.8044 10.1174 15.75 10.075 15.6886 10.0457C15.6271 10.0163 15.5599 10.0007 15.4918 10H8.50927C8.43988 10.0011 8.37159 10.0175 8.30922 10.0479C8.24684 10.0783 8.19191 10.122 8.14829 10.176L8.14629 10.174C8.05193 10.2832 8 10.4227 8 10.567C8 10.7113 8.05193 10.8508 8.14629 10.9599L11.645 14.8367C11.6886 14.8877 11.7427 14.9287 11.8037 14.9568C11.8646 14.985 11.9309 14.9995 11.998 14.9995C12.0651 14.9995 12.1315 14.985 12.1924 14.9568C12.2533 14.9287 12.3074 14.8877 12.351 14.8367Z" fill="#808C98"></path>
                                                </svg>
                                            </div>
                                            <collapse-panel #panel1>
                                                <ng-container
                                                    *ngTemplateOutlet="classList; context: { $implicit: allClassApply(formField('course_id').value) }">
                                                </ng-container>
                                            </collapse-panel>
                                        </div>
                                    </div>
                                </div>
                            }@else{
                                <div class="ictu-form__row">
                                    <label class="ictu-form__label ictu-form__label--required" for="f_class_id">Lớp học</label>
                                    <p-select [options]="allClass()" appendTo="body" class="ictu-form__input-field" formControlName="class_id" id="f_class_id" optionLabel="name" optionValue="id"  placeholder="Chọn lớp học"/>
                                </div>
                            }
                            
                            <div style="display:flex;flex-direction: column;">
                                <!-- <label class="ictu-form__label ictu-form__label--required" for="f_plan">Bảng giá</label> -->
                                @if(formField('unit')?.value == 'PER_SESSION') {
                                    <div class="accountant-pricing-unit-per-session">

                                        @for(_plan of pricingPlans(); track _plan; let i = $index){
                                            <div class="accountant-pricing-unit-per-session__item">
                                                <span class="accountant-pricing-unit-per-session__item--label">
                                                    {{ _plan.type == 'OFFICIAL' ? 'Bảng giá buổi dạy chính thức' : 'Bảng giá buổi dạy bổ trợ' }}
                                                </span>
                                                    @for(_item of _plan.sessions; track _item; let j = $index){
                                                        <div class="accountant-pricing-unit-per-session__item__price">
                                                            <span style="width: 70px;">{{_item.role == 'teacher' ? 'Giáo viên' : 'Trợ giảng'}}</span>
                                                            <p-inputNumber style="flex: 1;" [ngModelOptions]="{standalone: true}" [(ngModel)]="_item.price" mode="currency" currency="VND" locale="vi-VN" class="ictu-form__input-field" inputStyleClass="text-end" (ngModelChange)="touchedFormFieldPlan()" [min]="0" [minFractionDigits]="0" [maxFractionDigits]="0"></p-inputNumber>
                                                            
                                                        </div>
                                                    }
                                            </div>
                                        }
                                    </div>
                                }
                                @else if (formField('unit')?.value == 'TIERED') {
                                    <div class="accountant-pricing-unit-tiered" style="border: none">
                                        @for (_plan of pricingPlans(); track _plan.type; let i = $index) {
                                            <div class="accountant-pricing-unit-tiered__item p-0">
                                                <label class="ictu-form__label" for="f_plan">{{ _plan.type == 'OFFICIAL' ? 'Bảng giá buổi dạy chính thức' : 'Bảng giá buổi dạy bổ trợ' }}</label>
                                                <div class="accountant-pricing-unit-tiered-table">
                                                    <table class="tbl admin-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="wid-40 text-center">Mức</th>
                                                                <th class="wid-100 text-center">Số HS</th>
                                                                <th class="text-center">Giáo viên</th>
                                                                <th class="text-center">Trợ giảng</th>
                                                                <th class="wid-60 text-center">Xóa</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        @for (row of buildRows(_plan); track row.ordering) {
                                                            <tr>
                                                                <td class="text-center">{{ row.ordering }}</td>
                                                                <td>
                                                                    <p-inputNumber class="ictu-form__input-field" [ngModelOptions]="{standalone: true}" [(ngModel)]="row.student_count"  inputStyleClass="w-100 text-center" (ngModelChange)="row.teacherItem.student_count = $event; row.teaching_assistantItem.student_count = $event; touchedFormFieldPlan()" [min]="0" [minFractionDigits]="0" [maxFractionDigits]="0"></p-inputNumber>
                                                                </td>
                                                                <td>
                                                                    <p-inputNumber [ngModelOptions]="{standalone: true}" [(ngModel)]="row.teacherItem.price" mode="currency" currency="VND" locale="vi-VN" inputStyleClass="w-100 text-end" (ngModelChange)="touchedFormFieldPlan()" [min]="0" [minFractionDigits]="0" [maxFractionDigits]="0"></p-inputNumber>
                                                                </td>
                                                                <td>
                                                                    <p-inputNumber [ngModelOptions]="{standalone: true}" [(ngModel)]="row.teaching_assistantItem.price" mode="currency" currency="VND" locale="vi-VN"inputStyleClass="w-100 text-end" (ngModelChange)="touchedFormFieldPlan()" [min]="0" [minFractionDigits]="0" [maxFractionDigits]="0"></p-inputNumber>
                                                                </td>
                                                                <td>
                                                                    <button class="btn ictu-button-danger-light" (click)="removeTier(_plan, row.ordering)">
                                                                        <i class="ti ti-trash"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        }
                                                        <tr>
                                                            <td colspan="12">
                                                                <button (click)="addTier(_plan)" class="btn ictu-button-info-light w-100">
                                                                    <i class="ti ti-plus"></i> Thêm mức
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
					</form>
				}
				@case ('PREPARATION_FAILED') {
					<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
						<a (click)="formControl.preparation()" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
					</div>
				}
			}
		</div>
		<div class="ictu-p-drawer__content__footer">
			<button (click)="pDrawer.close($event)" class="btn ictu-badge-btn--secondary" mat-flat-button>Hủy</button>
			<button (click)="submitFormItemPricing()" [disabled]="!formControl.formFilledAndValid" class="btn ictu-badge-btn--primary-reverse" mat-flat-button>Lưu lại</button>
		</div>
	</div>
</p-drawer>

<mat-menu #menu_agent="matMenu" class="ictu-switchers-menu">
    @for (_agent of listAgent(); track _agent.id) {
        <button (click)="btnChangeAgent(_agent)" mat-menu-item class="ictu-switchers-menu__item" [class.ictu-switchers-menu__item--active]="activeAgent() ? activeAgent().id === _agent.id : false">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ _agent.ten }}</b>
            <span class="text-left d-block text-muted" style="font-size: 13px">{{ _agent.address }}</span>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có cơ sở đào tạo</div>
    }
</mat-menu>

<ng-template #classList let-items>
    <div class="accountant-pricing-panel__content">
        @for(_class of items; track _class.id; let i = $index; let last = $last){
            <div class="accountant-pricing-panel__content__item">
                <b class="m-0 f-14 f-roboto fw-medium d-block text-justify">{{ _class.name }}</b>
                <i class="m-0 f-14 f-roboto fw-normal d-block text-justify">{{ _class.code }}</i>
            </div>
            @if(!last){
                <p-divider style="margin: 4px 0px;" />
            }
        }
    </div>
</ng-template>
