<section class="admin-section--table">
    @if (state() === 'loading') {
        <app-loading-progress heading="Tải xuống dữ liệu..." style="max-width: calc(100% - 1px)"></app-loading-progress>
    }
    @if (state() !== 'error') {
        <div class="admin-wrap-table" style="overflow: hidden;">
            <div class="admin-wrap-table__head d-flex">
                <h4 class="admin-wrap-table__heading">
                    <svg>
                        <use href="fonts/custom-icon.svg#custom-calendar"></use>
                    </svg>
                    Thống kê doanh thu
                </h4>
                <div class="admin-wrap-table__head-actions">
                    <div class="ictu-form ictu-form-on-head-filter p-0 ictu-topbar-filter-menu" style="--p-inputtext-padding-y:6px;--p-datepicker-input-width: 190px;">
                        <div class="ictu-form__row">
                            <p-datepicker [(ngModel)]="rangeDates" style="--ictu-form-group-after-input-width:40px" class="w-100 ictu-p-calendar" dateFormat="dd/mm/yy" [autofocus]="false" [focusTrap]="false" [showIcon]="true" [inline]="false" [showWeek]="false" placeholder="Từ ngày - đến ngày" inputId="f_time_start" selectionMode="range" [readonlyInput]="true"></p-datepicker>
                        </div>
                    </div>
                    @if(listClass()){
                        <div class="admin-wrap-table__switchers" pTooltip="Lọc theo lớp học" tooltipPosition="left">
                            <button [matMenuTriggerFor]="menu_class" type="button" class="admin-wrap-table__switchers__btn-label btn f-0 p-0" style="line-height: 1;height: 32px;">
                                <span class="admin-wrap-table__switchers__btn-label__lbl">
                                    <i class="fa-utility-fill fa-semibold fa-book"></i><span>{{ activeClass()?.name ?? 'Lọc theo lớp học' }}</span><i class="ti ti-chevron-down" style="background: transparent;"></i>
                                </span>
                            </button>
                        </div>
                    }
                    <div class="admin-wrap-table__switchers" pTooltip="Lọc theo cơ sở đào tạo" tooltipPosition="left">
                        <button [matMenuTriggerFor]="menu" type="button" class="admin-wrap-table__switchers__btn-label btn f-0 p-0" style="line-height: 1;height: 32px;">
                            <span class="admin-wrap-table__switchers__btn-label__lbl">
                                <i class="ti ti-filter"></i><span>{{ activeAgentName() }}</span><i class="ti ti-chevron-down" style="background: transparent;"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            @if(activeClass().id !== -1){
                @if(activeClass().id !== -1){
                    <div class="admin-wrap-table__head d-flex" style="min-height: 0; height: 30px; border-top: 1px solid #e9ecef;">
                        <div class="admin-wrap-table__head-actions" style="justify-content: end; flex: 1; font-weight: 500;">
                            <div>Tổng doanh thu thực tế: {{totalActualRevenue() | formatVndPipe}} | Tổng doanh thu dự kiến: {{totalProjectedRevenue() | formatVndPipe}} | Số buổi học dự kiến: {{classSessions().length}}</div>
                        </div>
                    </div>
                }
                <div class="admin-wrap-table__body">
                    <table class="tbl admin-table table-hover">
                        <thead>
                            <tr>
                                <th class="col-index text-center">#</th>
                                <th class="wid-100 text-center">Mã học sinh</th>
                                <th class="text-center">Học sinh</th>
                                <th class="wid-75 text-center">Đi học</th>
                                <th class="wid-90 text-center">Nghỉ học</th>
                                <th class="wid-100 text-center">Đơn giá/buổi</th>
                                <th class="wid-120 text-center">Doanh thu dự kiến</th>
                                <th class="wid-120 text-center">Doanh thu thực tế</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (_item of dataTable.data(); track _item.student.id; let i = $index) {
                                <tr>
                                    <td class="col-index text-center">{{ i + 1 }}</td>
                                    <td class="text-center">{{ _item.student.code }}</td>
                                    <td class="text-left">
                                        <div style="display: flex; gap: 10px">
                                            <img class="profile-avatar-circle" [src]="_item.student.avatar || 'images/user/avatar-1.jpg'" alt="" width="50" height="50">
                                            <div style="display: flex; flex-direction: column; justify-content: center;">
                                                <small class="block f-14 text-primary">{{ _item.student.english_name ?? '' }}</small>
                                                <span class="block">{{ _item.student.full_name }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center" style="font-weight: 600; color:#22c03c">{{ _item.total_present }}</td>
                                    <td class="text-center" style="font-weight: 600; color:rgb(var(--c2-danger))">{{ _item.total_absent }}</td>
                                    <td class="text-end">{{ _item.price_per_session | formatVndPipe }}</td>
                                    <td class="text-end" style="font-weight: 600;">{{ _item.projected_revenue | formatVndPipe }}</td>
                                    <td class="text-end" style="font-weight: 600;">{{ _item.actual_revenue | formatVndPipe }}</td>
                                </tr>
                            }
                            @empty {
                                <tr>
                                    <td colspan="8">Không có học sinh</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="admin-wrap-table__foot">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
                    </div>
                </div>
            } @else {
                <div class="flex-item--center" style="height: calc(100vh - 87px); width: 100%; background: white; border-top: 1px solid #e9ecef;">
                    <span class="ictu-badge ictu-badge--danger">Vui lòng chọn lớp học</span>
                </div>
            }
        </div>
    } @else {
        <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
            <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
        </div>
    }
</section>

<mat-menu #menu="matMenu" class="ictu-switchers-menu">
    @for (_agent of listAgent(); track _agent.id) {
        <button (click)="btnChangeAgent(_agent)" mat-menu-item class="ictu-switchers-menu__item" [class.ictu-switchers-menu__item--active]="activeAgent() ? activeAgent().id === _agent.id : false">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ _agent.ten }}</b>
            <span class="text-left d-block text-muted" style="font-size: 13px">{{ _agent.address }}</span>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có cơ sở đào tạo</div>
    }
</mat-menu>

<mat-menu #menu_class="matMenu" class="ictu-switchers-menu">
    @for (_class of listClass(); track _class.id) {
        <button (click)="btnChangeClass(_class)" mat-menu-item class="ictu-switchers-menu__item" [class.ictu-switchers-menu__item--active]="activeClass() ? activeClass().id === _class.id : false">
            <b class="text-left d-block f-14" style="font-weight: 500;margin: 0 0 1px;">{{ _class.name }}</b>
            <span class="text-left d-block text-muted" style="font-size: 13px">{{ _class.code }}</span>
        </button>
    } @empty {
        <div class="tm-calendar-class-list__element--empty" style="border-radius: 0">Không có lớp học</div>
    }
</mat-menu>
