.giao-vien-section {
    height: var(--device-height);
}

.giao-vien-section__avatar {
    width: 40px;
    aspect-ratio: 1;
    height: auto;
    margin: auto;
    border-radius: 999px;
}

.ictu-dashboard-dialog__main-content {
    max-height: var(--ictu-dashboard-dialog-body-size);
    overflow-y: auto;
}

.ictu-dashboard-dialog__dnd-area__btn {
    width: 100%;
    height: 100%;
    padding: 0;
    background: transparent;
    margin: 0;
}

.ictu-dashboard-dialog__dnd-area__btn__content {
    gap: 5px;
}

.ictu-dashboard-dialog__dnd-area__btn__icon {
    font-size: 42px;
    color: #444444;
    margin: 0 0 15px;
}

.ictu-dashboard-dialog__dnd-area__btn__text {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #444444;
    line-height: 1.5;
}

input::placeholder {
    text-transform: none;
}

.p-textarea:enabled:focus,
.p-inputtext:enabled:focus,
.p-multiselect:not(.p-disabled).p-focus,
.p-select:not(.p-disabled).p-focus {
    background: #e7f4ff;
    border-color: #cbd5e1;
}

.p-inputmask:enabled:focus {
    background: #e7f4ff;
}

.password-dialog-section__input {
    background-color: #ffffff !important;
}

.btn-reset-password__submit,
.btn-reset-password__renew {
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 99px;
    cursor: pointer;
    min-width: 130px;
}

.btn-reset-password__submit {
    background: linear-gradient(135deg, #3b82f6, #1d4ed8);
}

.btn-reset-password__renew {
    background: var(--hex-gradient);
}

.btn-reset-password__submit[disabled] {
    background: #eee;
    cursor: default;
}

.password-dialog-section__btn-copy {
    background: #f4f6f9;
    /*border: 1px solid #d6dbe1;*/
    /*color: #2c3e50;*/
    color: #666666;
    bottom: 5px;
    right: 5px;
    padding: 0;
    min-width: auto;
    min-height: auto;
    height: 36px;
    width: 36px;
    border-radius: 6px;
    opacity: .5;
}

.password-dialog-section__btn-copy:not([disabled]) {
    opacity: 1;
}

.password-dialog-section__step-levels {
    --password-dialog-section-step-levels-gap: 5px;
    gap: var(--password-dialog-section-step-levels-gap);
}

.password-dialog-section__step-levels__pipe {
    display: inline-flex;
    height: 5px;
    width: calc((100% / 6) - ((5 * var(--password-dialog-section-step-levels-gap)) / 6));
    border-radius: 999px;
    background-color: #eeeeee;
}

.password-dialog-section__step-levels__pipe--highlight {
    background-color: #00c23e;
}

.password-dialog-section__backdrop {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
}
