<section class="class-planning-panel course-editor-layout">
    @switch (state()) {
        @case ('loading') {
            <app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
        }
        @case ('unauthorized') {
            <div class="d-flex w-100 justify-content-center align-items-center" style="height: var(--device-height)">
                <span class="ictu-badge ictu-badge--danger">Bạn không có quyền truy cập nội dung này. Vui lòng kiểm tra lại.</span>
            </div>
        }
        @case ('invalid') {
            <div class="d-flex w-100 justify-content-center align-items-center" style="height: var(--device-height)">
                <span class="ictu-badge ictu-badge--danger">Bạn không được phân quyền truy cập nội dung của lớp học này.</span>
            </div>
        }
        @case ('notFound') {
            <div class="d-flex w-100 justify-content-center align-items-center" style="height: var(--device-height)">
                <span class="ictu-badge ictu-badge--danger">Lớp học không tồn tại hoặc bạn không được phân quyền truy cập nội dung của lớp học này. Vui lòng kiểm tra lại.</span>
            </div>
        }
        @case ('error') {
            <div class="d-flex w-100 justify-content-center align-items-center" style="height: var(--device-height)">
                <div class="admin-table__alert-danger text-center">Tải dữ liệu thất bại. Vui lòng chọn
                    <a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
                </div>
            </div>
        }
        @default {
            <div class="course-editor-layout__inner w-100">
                <div class="course-editor-layout__header">
                    <div class="course-editor-layout__header__container">
                        <button (click)="backToClassList()" mat-flat-button class="btn ictu-badge-btn--secondary-reverse course-editor-layout__header__btn-back" pTooltip="Trở lại danh sách lớp học" tooltipPosition="right">
                            <i class="pi-arrow-left pi"></i>
                        </button>
                        <div class="course-editor-layout__header__divider"></div>
                        <h1 class="course-editor-layout__heading">
                            {{ heading() }}
                            @if (classObject()) {
                                <i class="f-14 f-roboto d-block fw-normal m-t-5" style="color: #cbcbcb;">Hình thức : <span class="text-lowercase">{{ classObject().learning_mode | ictuDropdownOptionMap : learningModeOptions() : '' }}</span></i>
                            }
                        </h1>
                        <nav class="course-editor-layout__main-nav">
                            <ul class="course-editor-layout__main-nav__list">
                                @for (m of navList(); track m.name) {
                                    @if (( ! is_LopBT) || (is_LopBT && m.name != 'supplementary')) {
                                        <li>
                                            <button class="course-editor-layout__main-nav__btn btn" [ngClass]="{ 'course-editor-layout__main-nav__btn--active': m.name === activeMenu() }" (click)="selectMenu(m)">{{ m.label }}</button>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                        <div class="course-editor-layout__header__actions" style="min-width: 261px">
                            <!-- <button [matMenuTriggerFor]="menu" mat-flat-button class="btn ictu-badge-btn&#45;&#45;primary-reverse">
                                <span class="course-editor-layout__btn-label">
                                    <span class="course-editor-layout__btn-label__text">Published</span>
                                    <svg class="course-editor-layout__btn-label__svg" width="8" height="5" viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.351 4.83667C4.356 4.83067 4.358 4.82267 4.363 4.81667L7.85376 0.959934C8.04875 0.742949 8.04875 0.390973 7.85376 0.173988C7.85176 0.171988 7.84976 0.170988 7.84776 0.169988C7.80438 0.117447 7.75005 0.0750133 7.68856 0.0456521C7.62707 0.0162909 7.55992 0.000710645 7.49179 0H0.509265C0.439882 0.00112114 0.371591 0.0174635 0.309217 0.0478731C0.246843 0.0782826 0.191907 0.122018 0.14829 0.175988L0.14629 0.173988C0.0519268 0.283166 0 0.422654 0 0.566961C0 0.711267 0.0519268 0.850756 0.14629 0.959934L3.64505 4.83667C3.68861 4.88772 3.74272 4.92872 3.80366 4.95684C3.8646 4.98495 3.93091 4.99951 3.99802 4.99951C4.06514 4.99951 4.13145 4.98495 4.19239 4.95684C4.25333 4.92872 4.30744 4.88772 4.351 4.83667Z"></path>
                                    </svg>
                                </span>
                            </button> -->
                        </div>
                    </div>
                </div>
                <div class="class-planning-panel__body">
                    <div class="class-planning-panel__content">
                        @switch (activeMenu()) {
                            @case ('plan') {
                                @if (getRole() == 'training_management') {
                                    <class-planning-maker [class_id]="class_id()" [role]="role()"></class-planning-maker>
                                } @else {
                                    <app-class-planning-additional-lesson [class_id]="class_id()" [class_session_id]="0"></app-class-planning-additional-lesson>
                                }
                            }
                            @case ('students') {
                                <class-planning-students [(classObject)]="classObject" [class_id]="class_id()" [role]="role()"></class-planning-students>
                            }
                            @case ('supplementary') {
                                <coming-soon></coming-soon>
                            }
                            @case ('class-planning-curriculum') {
                                <class-planning-curriculum [(classObject)]="classObject" [(course)]="course" [role]="role()" [(animationLoading)]="animationLoading"></class-planning-curriculum>
                            }
                            @case ('class-planning-form') {
                                <class-planning-form [(classObject)]="classObject" [(course)]="course" [role]="role()" (updateQueryParams)="updateQueryParams($event)" [(animationLoading)]="animationLoading"></class-planning-form>
                            }
                            @case ('class-planning-distribution') {
                                <class-planning-distribution [(classObject)]="classObject" [(course)]="course" [role]="role()" [(animationLoading)]="animationLoading"></class-planning-distribution>
                            }
                            @case ('plan-teaching-assistant') {
                                <app-class-progress-lesson [class_id]="class_id()" [class_session_id]="0"></app-class-progress-lesson>
                            }
                        }
                        @if (animationLoading().enable) {
                            <div class="d-block position-absolute" style="z-index: 99; top: var(--course-editor-layout-header-height, 60px); left: 0;right: 0;bottom: 0; width: 100%; height: calc(var(--device-height) - var(--course-editor-layout-header-height, 60px));">
                                <app-loading-progress [heading]="animationLoading().heading"></app-loading-progress>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
</section>
