<section class="admin-section--table position-relative">
	@if (state() === 'loading') {
		<app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
	}
	<div class="admin-wrap-table">
		@if (state() !== 'error') {
			<div class="admin-wrap-table__head d-flex">
				<h4 class="admin-wrap-table__heading">
					<svg>
						<use href="fonts/custom-icon.svg#custom-folder-open-2"></use>
					</svg>
					Danh sách phòng học
				</h4>
				<div class="admin-wrap-table__head-actions">
					<input [(ngModel)]="searchInfo.search" class="admin-wrap-table__head-actions__search" pInputText placeholder="Tìm kiếm..." type="text" (keyup.enter)="onSearchData()">
					<p-select [(ngModel)]="searchInfo.csdt_id" [loading]="state() === 'loading'" [options]="parentDropdownField.options()" appendTo="body" [showClear]="true" class="wid-175" placeholder="Lọc theo CSDT" (onChange)="onSearchData()"/>
					@if (permissionControl().canDelete) {
						<button (click)="deleteSelectedRows()" [disabled]="!dataTable.someItemsChecked()" class="btn ictu-button-danger-gradient" mat-flat-button>
							<i class="ti ti-trash"></i>
						</button>
					}
					@if (permissionControl().canCreate) {
						<button (click)="addNewItem()" mat-flat-button class="btn ictu-badge-btn--success-reverse">
							<i class="ti ti-plus"></i>
						</button>
					}
				</div>
			</div>
			<div class="admin-wrap-table__body">
				<table class="tbl admin-table table-hover">
					<thead>
						<tr>
							<th class="col-checkbox">
								<mat-checkbox [checked]="dataTable.totalChecked()" [indeterminate]="dataTable.partiallyChecked()" (change)="dataTable.selectRow($event.checked)" [disabled]="!dataTable.data().length || !permissionControl().canDelete"></mat-checkbox>
							</th>
							<th class="col-index text-center">#</th>
							<th class="wid-100 text-center">Ký hiệu</th>
							<th class="text-center">Tên phòng</th>
							<th class="text-center">Cở sở đào tạo</th>
							<th class="text-center">Sức chứa</th>
							<th class="wid-120 text-center">Trạng thái</th>
							<th class="wid-90 text-center px-0">Hành động</th>
						</tr>
					</thead>
					<tbody>
						@for (row of dataTable.data(); track row.id; let i = $index) {
							<tr>
								<td class="col-checkbox">
									<mat-checkbox [checked]="row._ictuDataTableRowChecked" (change)="dataTable.selectRow($event.checked, i)" [disabled]="!permissionControl().canDelete"></mat-checkbox>
								</td>
								<td class="col-index text-center">{{ dataTable.paginator.startIndex() + i }}</td>
								<td class="wid-100 text-center">{{ row.code }}</td>
								<td class="text-left">{{ row.name }}</td>
								<td class="text-left">{{ row.csdt_id | ictuDropdownOptionMap : parentDropdownField.options() : '' }}</td>
								<td class="text-center">{{ row.capacity }}</td>
								<td class="wid-120 text-center p-0">
									<div class="d-flex w-100 h-100 justify-content-center align-items-center">
										@if (row.status === 1) {
											<span class="ictu-badge ictu-badge--success">Đã kích hoạt</span>
										} @else {
											<span class="ictu-badge ictu-badge--secondary">Chưa kích hoạt</span>
										}
									</div>
								</td>
								<td class="p-0 wid-90">
									<div class="admin-table__btn-actions">
										@if (permissionControl().canUpdate) {
											<button (click)="editRow(row)" class="btn ictu-button-info-light">
												<i class="ti ti-edit"></i>
											</button>
										}
										@if (permissionControl().canDelete) {
											<button (click)="deleteRow(row)" class="btn ictu-button-danger-light">
												<i class="ti ti-trash"></i>
											</button>
										}
									</div>
								</td>
							</tr>
						} @empty {
							<tr>
								<td colspan="8">Không có bản ghi nào.</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="admin-wrap-table__foot">
				<div class="d-flex justify-content-center align-items-center w-100">
					<ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)" style="--ictu-paginator-gap:10px"></ictu-paginator>
				</div>
			</div>
		} @else {
			<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
				<a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
			</div>
		}
	</div>
</section>
<p-drawer #pDrawer (onHide)="onDrawerHide()" [(visible)]="formControl.visible" [dismissible]="false" [header]="formControl.heading()" [style]="{'width':'400px', 'max-width':'100%'}" appendTo="body" position="right" styleClass="ictu-p-drawer">
	<div class="ictu-p-drawer__content position-relative">
		@if (formControl.enableLoading()) {
			<app-loading-progress [heading]="formControl.loadingLabel()" backdropFilter="none"></app-loading-progress>
		}
		<div class="ictu-p-drawer__content__body position-relative">
			@switch (formControl.state()) {
				@case ('READY') {
					<form [formGroup]="formControl.formGroup">
						<div class="ictu-form ictu-form--label-on-top">
							<div class="ictu-form__row">
								<label class="ictu-form__label ictu-form__label--required" for="f_name">Tên phòng</label>
								<input class="ictu-form__input-field" formControlName="name" id="f_name" pInputText placeholder="Tên phòng học" type="text">
							</div>
							<div class="ictu-form__row">
								<div class="row">
									<div class="col-6">
										<div class="ictu-form__row">
											<label class="ictu-form__label ictu-form__label--required" for="f_alias">Ký hiệu</label>
											<input class="ictu-form__input-field" formControlName="code" id="f_alias" pInputText placeholder="Ký hiệu của phòng học" type="text">
										</div>
									</div>
									<div class="col-6">
										<div class="ictu-form__row">
											<label class="ictu-form__label ictu-form__label--required" for="f_capacity">Sức chứa</label>
											<input class="ictu-form__input-field" formControlName="capacity" id="f_capacity" pInputText placeholder="Sức chứa của phòng học" type="text">
										</div>
									</div>
								</div>
							</div>
							<div class="ictu-form__row">
								<label class="ictu-form__label" for="f_desc">Mô tả</label>
								<textarea class="ictu-form__input-field" formControlName="description" id="f_desc" pTextarea placeholder="Thêm mô tả cho phòng học"></textarea>
							</div>
							<div class="ictu-form__row">
								<label class="ictu-form__label ictu-form__label--required">Cơ sở đào tạo</label>
								<p-select [options]="parentDropdownField.options()" appendTo="body" class="ictu-form__input-field" formControlName="csdt_id" [placeholder]="parentDropdownField.placeholder()"/>
							</div>
							<div class="ictu-form__row">
								<label class="ictu-form__label">Trạng thái</label>
								<p-select [options]="optionList" appendTo="body" class="ictu-form__input-field" formControlName="status" placeholder="Trạng thái"/>
							</div>
						</div>
					</form>
				}
				@case ('PREPARATION_FAILED') {
					<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
						<a (click)="formControl.preparation()" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
					</div>
				}
			}

		</div>
		<div class="ictu-p-drawer__content__footer">
			<button (click)="pDrawer.close($event)" class="btn ictu-badge-btn--secondary" mat-flat-button>Hủy</button>
			<button (click)="submitForm()" [disabled]="!formControl.formFilledAndValid" class="btn ictu-badge-btn--primary-reverse" mat-flat-button>Lưu lại</button>
		</div>
	</div>
</p-drawer>
