<section class="edit-course-lesson-test-section">
    @if (state() == 'loading') {
		<app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
	}@else if (state() == 'success'){
        <div class="edit-course-lesson-test-wrapper">
            <div class="edit-course-lesson-test__head">
                            <div class="edit-course-lesson-test__lesson-title m-0 d-inline-flex justify-content-start align-items-center">
                                <button class="button--un-set-style" (click)="backToOldRouter()">
                                    <i class="ti ti-arrow-narrow-left"></i>
                                </button>
                                <div class="d-inline-flex flex-column h-100">
                                    <!-- <p class="f-roboto f-13 fw-medium lh-base m-0 d-inline-flex" style="color: #5B6B79;">Bài tập</p> -->
                                    <h4 class="f-roboto f-16 fw-bold lh-base m-0">Danh sách nộp bài {{classesAssignment.course_lesson_test_id == 0 ? classesAssignment.title : classesAssignment.course_lesson_test.title}}</h4>
                                </div>
                            </div>
                            <div class="edit-course-lesson-test__instructors d-inline-flex justify-content-end align-items-center ms-auto">
                                <button (click)="visibleDialog = true" class="ictu-badge-btn--warning-reverse" mat-flat-button pTooltip="Thông tin bài tập" tooltipPosition="left">
                                    <i class="ti ti-clipboard-list"></i>
                                </button>
                                <button (click)="getAllStudentpending()" mat-flat-button class="btn ictu-badge-btn--pink-reverse" pTooltip="Học sinh chưa nộp bài" tooltipPosition="left">
                                    <i class="ti ti-alert-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div class="edit-course-lesson-test__body">
                            <div class="edit-course-lesson-test-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="wid-95 text-center">Mã học sinh</th>
                                            <th class="wid-60 text-center">Ảnh</th>
                                            <th class="text-left">Họ tên</th>
                                            <th class="text-left">Nội dung</th>
                                            <th class="wid-140 text-center">Điểm</th>
                                            <th class="wid-60 text-center">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (row of dataTable.data(); track row.id; let i = $index) {
                                            <tr>
                                                <td class="wid-95 text-center">{{row.student.code}}</td>
                                                <td class="wid-60 text-center" style="line-height: 0;padding: 5px 0;">
                                                    <button [matMenuTriggerFor]="matMenuIMG" [matMenuTriggerData]="{student: row}" class="button--un-set-style">
                                                        <img class="profile-avatar-circle" [src]="row.student.avatar || 'images/user/avatar-1.jpg'" alt="" width="50" height="50">	
                                                    </button>
                                                </td>
                                                <td class="text-left" style="font-weight: 500;">{{ row.student.full_name }}{{ row.student.english_name ? ' (' + row.student.english_name + ')' : '' }}</td>
                                                <td class="text-left">{{row.content}}</td>
                                                @if(row.score == -1){
                                                    <td class="wid-140 text-center" style="color: red; font-weight: 500;">Chưa chấm</td>
                                                }@else {
                                                    <td class="wid-140 text-center" style="color: var(--p-lime-500); font-weight: 500;">{{row.score}}</td>
                                                }
                                                <td class="wid-60 text-center">
                                                    <div class="admin-table__btn-actions">
                                                        <button (click)="editRow(row)" class="btn ictu-button-info-light" pTooltip="Chấm bài" tooltipPosition="top"><i class="ti ti-edit"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }@empty {
                                            <tr>
                                                <td colspan="12">Chưa có bài tập được nộp</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
            
        </div>
        
    }@else if(state() == 'error'){
        <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
			<a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload" >tải lại</a>
		</div>
    }@else if (state() == 'invalid'){
        <span class="ictu-badge ictu-badge--danger">Bạn không có quyền truy cập nội dung này</span>
    }@else if (state() == 'notFound'){
        <span class="ictu-badge ictu-badge--danger">Buổi học không tồn tại</span>
    }
    
    
</section>

<p-dialog [(visible)]="visibleDialogStudentpending" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '400px', minHeight: '400px', maxHeight: '100vh'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-layout--no-border ictu-dialog-layout--hide-header ictu-dialog-layout--hide-overflow">
    @if(stateDialog() == 'loading'){
		<app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
    }
	<div class="ictu-dialog-layout__wrapper">
		<div class="ictu-dialog-layout__header">
			<h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">Học sinh chưa nộp bài</h4>
			<button class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button (click)="visibleDialogStudentpending = false">
				<i class="ti ti-x"></i>
			</button>
		</div>
		<div class="ictu-dialog-layout__body">
            @if(stateDialog() == 'success'){
                <div class="class-student-control-multiple-wrapper">
                    @for (row of studentpending(); track row.id; let i = $index) {
                        <div class="class-student-control-multiple__item class-student-control-multiple__item--set-border" [class.active]="false">
                                <button [matMenuTriggerFor]="matMenuIMG" [matMenuTriggerData]="{student: row}" class="button--un-set-style">
                                <img class="class-student-control-multiple__item-avatar" [src]="row.avatar || 'images/user/avatar-1.jpg'" alt="" width="50" height="50">	
                            </button>
                            <div class="class-student-control-multiple__item-info">
                                <span class="class-student-control-multiple__item-name">{{ row.full_name }}{{ row.english_name ? ' (' + row.english_name + ')' : '' }}</span>
                                <span class="class-student-control-multiple__item-email">{{ row.code }}</span>
                            </div>
                        </div>
                    }
                </div>
            }@else if(stateDialog() == 'error'){
                <div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
                    <a (click)="getAllStudentpending()" href="javascript:" class="admin-table__alert-danger__btn-reload" >tải lại</a>
                </div>
            }
		</div>
        <!-- <div class="ictu-p-drawer__content__footer">
            <button (click)="visibleDialogStudentpending = false" class="btn ictu-badge-btn--primary-reverse" mat-flat-button>Đóng</button>
        </div> -->
	</div>
</p-dialog>


<p-dialog [(visible)]="visibleDialog" [closable]="false" [draggable]="false" [modal]="true" [style]="{ width: '600px',minHeight: '400px',maxHeight: '100vh'}" appendTo="body" styleClass="ictu-dialog-layout ictu-dialog-layout--no-border ictu-dialog-layout--hide-header ictu-dialog-layout--hide-overflow">
	@if(state() == 'success'){
        <div class="ictu-dialog-layout__wrapper">
            <div class="ictu-dialog-layout__header">
                <h4 class="ictu-dialog-layout__heading m-0 text-start w-100 fw-bold">Thông tin bài tập</h4>
                <button class="btn ictu-badge-btn--danger-reverse ictu-dialog-layout__btn-close" mat-flat-button (click)="visibleDialog = false">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="ictu-dialog-layout__body">
                <div class="homework-score__section the-content-has-been-rewritten">
                    <div class="homework-score__section__head">
                        <b class="homework-score__section__title">Tên bài</b>
                    </div>
                    <div class="homework-score__section__content">{{classesAssignment.course_lesson_test_id == 0 ? classesAssignment.title : classesAssignment.course_lesson_test.title}}</div>
                </div>
                <div class="homework-score__section the-content-has-been-rewritten">
                    <div class="homework-score__section__head">
                        <b class="homework-score__section__title">Nội dung</b>
                    </div>
                    <div class="homework-score__section__content" [innerHTML]="classesAssignment.course_lesson_test_id == 0 ? classesAssignment.content : classesAssignment.course_lesson_test.content | safeHtml"></div>
                </div>
                <div class="homework-score__section the-content-has-been-rewritten">
                    <div class="homework-score__section__head">
                        <b class="homework-score__section__title">Thời gian bắt đầu</b>
                    </div>
                    <div class="homework-score__section__content">{{classesAssignment.time_start | date: 'dd/MM/yyyy hh:mm'}}</div>
                </div>
                <div class="homework-score__section the-content-has-been-rewritten">
                    <div class="homework-score__section__head">
                        <b class="homework-score__section__title">Thời gian kết thúc</b>
                    </div>
                    <div class="homework-score__section__content">{{classesAssignment.time_end| date: 'dd/MM/yyyy hh:mm'}}</div>
                </div>
                <div class="homework-score__section the-content-has-been-rewritten">
                    <div class="homework-score__section__head">
                        <b class="homework-score__section__title">Hình thức</b>
                    </div>
                    <div class="homework-score__section__content">{{classesAssignment.type | ictuDropdownOptionMap : optionListType : '' }}</div>
                </div>
                <div class="homework-score__section the-content-has-been-rewritten">
                    <div class="homework-score__section__head">
                        <b class="homework-score__section__title">Tài liệu</b>
                    </div>
                    <div class="homework-score__section__content">
                        @for (item of classesAssignment.course_lesson_test_id == 0 ? classesAssignment.files : classesAssignment.course_lesson_test.files; track item.file?.title ?? item.title; let idx = $index) {
                                <div class="ictu-attachment-item" [ngClass]="'ictu-attachment-item--type-' + item.location" style="margin-bottom: 6px;">
                                    <div class="ictu-attachment-item__container w-100">
                                        <div class="ictu-attachment-item__icon d-inline-flex justify-content-center align-items-center position-relative p-0 m-0" [innerHTML]="item.file | fileIcon | safeHtml"></div>
                                        <div class="ictu-attachment-item__info">
                                            <b class="ictu-attachment-item__info__label text-truncate w-100 f-roboto f-14 fw-medium lh-base m-0 p-0">{{ item.file?.title ?? '' }}</b>
                                            <p class="ictu-attachment-item__info__info text-truncate w-100 f-roboto f-14 fw-normal lh-base text-muted m-0 p-0">{{ item.file?.size ?? 0 | formatBytes }}</p>
                                        </div>
                                        <div class="ictu-attachment-item__controls">
                                            <button (click)="btnPreviewFile(item.file)" class="btn ictu-attachment-item__controls__btn ictu-attachment-item__controls__btn--preview" pTooltip="Xem trước" tooltipPosition="top" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
                                                <i class="ti ti-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    }
</p-dialog>

<p-drawer #pDrawer (onHide)="onDrawerHide()" [(visible)]="formControl.visible" [dismissible]="false" header="Chấm bài tập" [style]="{'width':'500px', 'max-width':'100%'}" appendTo="body" position="right" styleClass="ictu-p-drawer">
	<div class="ictu-p-drawer__content position-relative">
		@if (formControl.enableLoading()) {
			<app-loading-progress heading="Đang tải..." backdropFilter="none"></app-loading-progress>
		}
		<div class="ictu-p-drawer__content__body position-relative">
			@switch (formControl.state()) {
				@case ('READY') {
					<form [formGroup]="formControl.formGroup">
                        <div class="ictu-form" style="gap: 10px">
                            <div class="ictu-form__row">
                                <label class="ictu-form__label">Học sinh</label>
                                <div class="edit-course-lesson-test-format" style="padding: 10px 10px">
                                    <div class="class-student-control-multiple__item" [class.active]="false">
                                        <button [matMenuTriggerFor]="matMenuIMG" [matMenuTriggerData]="{student: getControl('student').value}" class="button--un-set-style">
                                            <img class="class-student-control-multiple__item-avatar" [src]="getControl('student').value.avatar || 'images/user/avatar-1.jpg'" alt="" width="50" height="50">	
                                        </button>
                                        <div class="class-student-control-multiple__item-info">
                                            <span class="class-student-control-multiple__item-name">{{ getControl('student').value.full_name }}{{ getControl('student').value.english_name ? ' (' + getControl('student').value.english_name + ')' : '' }}</span>
                                            <span class="class-student-control-multiple__item-email">{{ getControl('student').value.code }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label">Nội dung</label>
                                <div class="edit-course-lesson-test-format" style="padding: 20px 10px" [innerHTML]="getControl('content').value | safeHtml"></div>
                            </div>
                            
                            <div class="ictu-form__row">
                                <label class="ictu-form__label">File đính kèm</label>
                                <div class="edit-course-lesson-test-format">
                                    @for (item of getControl('files').value; track item.file?.title ?? item.title; let idx = $index) {
                                        <div class="ictu-attachment-item" [ngClass]="'ictu-attachment-item--type-' + item.location">
                                            <div class="ictu-attachment-item__container w-100">
                                                <div class="ictu-attachment-item__icon d-inline-flex justify-content-center align-items-center position-relative p-0 m-0" [innerHTML]="item.file | fileIcon | safeHtml"></div>
                                                <div class="ictu-attachment-item__info">
                                                    <b class="ictu-attachment-item__info__label text-truncate w-100 f-roboto f-14 fw-medium lh-base m-0 p-0">{{ item.file?.title ?? '' }}</b>
                                                    <p class="ictu-attachment-item__info__info text-truncate w-100 f-roboto f-14 fw-normal lh-base text-muted m-0 p-0">{{ item.file?.size ?? 0 | formatBytes }}</p>
                                                </div>
                                                <div class="ictu-attachment-item__controls">
                                                    <button (click)="btnPreviewFile(item.file)" class="btn ictu-attachment-item__controls__btn ictu-attachment-item__controls__btn--preview" pTooltip="Xem trước" tooltipPosition="top" tooltipStyleClass="ictu-input-form__tooltip" appendTo="body">
                                                        <i class="ti ti-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    }@empty {
                                        <div style="padding: 10px;">Không có tài liệu đính kèm</div>
                                    }
                                </div>
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_comment">Nhận xét</label>
                                <textarea id="f_comment" pTextarea formControlName="comment" ></textarea>
                            </div>
                            <div class="ictu-form__row">
                                <label class="ictu-form__label ictu-form__label--required" for="f_score">Điểm</label>
                                <input class="ictu-form__input-field"id="f_score" pInputText placeholder="Nhập điểm hệ số 10" formControlName="score" type="number" min="0" max="10">
                            </div>
                            
                        </div>
					</form>
				}
				@case ('PREPARATION_FAILED') {
					<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
						<a (click)="formControl.preparation()" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
					</div>
				}
			}
		</div>
		<div class="ictu-p-drawer__content__footer">
			<button (click)="pDrawer.close($event)" class="btn ictu-badge-btn--secondary" mat-flat-button>Hủy</button>
			<button (click)="submitForm()" [disabled]="!formControl.formFilledAndValid" class="btn ictu-badge-btn--primary-reverse" mat-flat-button>Lưu lại</button>
		</div>
	</div>
</p-drawer>

<mat-menu #matMenuIMG="matMenu" yPosition="above" >
	<ng-template matMenuContent let-student="student">
		<div class="profile-avatar-menu">
			<img [src]="student.avatar || 'images/user/avatar-1.jpg'" alt="Preview"/>
		</div>
	</ng-template>
</mat-menu>