<mat-drawer-container [autosize]="true" [ngClass]="{ 'ictu-desktop-sidebar--collapsed':sidebarCollapsed() }" class="drawer-container">
	<mat-drawer [disableClose]="true" [mode]="drawerMode()" [ngStyle]="resizeStyle()" class="pc-sidebar" opened>
			<ictu-vertical-menu
				[collapsed]="sidebarCollapsed()"
				[menus]="menus"
				[logo]="logo()"
				[version]="currentApplicationVersion()"
			/>
		</mat-drawer>
	<!-- <app-nav-bar></app-nav-bar> -->
	<div class="app-container">
		<!-- <app-breadcrumb></app-breadcrumb> -->
		<div class="main-body">
			<div class="page-wrapper">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<!--<app-footer></app-footer> -->
</mat-drawer-container>