.ictu-file-input__overlay {
    z-index: 50;
    border-radius: 0;
    gap: 5px;
    color: #333333;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    user-select: none;
}

.ictu-file-input__files__empty-text {
    background-color: #F8F9FA;
    color: #334155;
}

.ictu-file-input-uploaded-item__overlay {
    position: absolute;
    inset: -1px;
    z-index: 3;
    border-radius: 4px;
    background-color: rgb(238 241 247 / 39%);
    backdrop-filter: blur(1px);
    display: block;
}

.ictu-file-input-uploaded-item__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    --mat-progress-bar-active-indicator-height: 2px;
    --mat-progress-bar-track-height: 2px;
    --mat-progress-bar-track-shape: 1px;
}
