<!-- <section class="admin-section--table position-relative">
	@if (state() === 'loading') {
		<app-loading-progress heading="Loading..." backdropFilter="none"></app-loading-progress>
	}
		<div class="admin-wrap-table">
			@if (state() !== 'error') {
				<div class="admin-wrap-table__head d-flex">
					<h4 class="admin-wrap-table__heading">
						<svg>
							<use href="fonts/custom-icon.svg#custom-graduation-cap"></use>
						</svg>
						Danh sách diểm danh lớp ...... Ngày .....
					</h4>
					<div class="admin-wrap-table__head-actions">
						
						<button mat-flat-button class="btn ictu-badge-btn--danger-reverse" (click)=" changeModeGV('listDF')">
							<i class="ti ti-x"></i>
						</button>
					</div>
				</div>
				<div class="admin-wrap-table__body">
					<table class="tbl admin-table table-hover">
						<thead>
							<tr>
								<th class="col-index text-left">#</th>
								 <th class="wid-60 text-center">Ảnh</th>
								<th class="wid-150 text-left">Mã học sinh</th>
								<th class="text-left">Họ và tên</th>
								<th class="wid-300 text-left">Trạng thái</th>
								<th class="text-left">Lý do nghỉ</th>
								<th class="text-left">Nhận xét</th>
							</tr>
						</thead>
						<tbody>
							@for (row of dataTable.data(); track row.id; let i = $index) {
								<tr class="select-item" >
									<td class="col-index text-left">{{ dataTable.paginator.startIndex() + i }}</td>
									<td class="wid-60 text-center" style="line-height: 0;padding: 5px 0;">
										<img class="hoc-sinh-section__avatar" [src]="row.hocsinh.avata ? row.hocsinh.avata : 'images/user/avatar-1.jpg'" alt="" width="50" height="50">	
									</td>
									<td class="wid-150 text-left">{{row.hocsinh.maso}}</td>
									<td class="text-left">{{row.hocsinh.hoten}}</td>
									<td class="wid-300 text-left">
										<div class="row-status">
											<ng-container>
												<div style="width: 120px;">
													@switch (row.diemdanh.status) {
														@case ('PRESENT') {
															<span class="ictu-badge ictu-badge--success">Đi học</span>
														}
														@case ('UNEXCUSED') {
															<span class="ictu-badge ictu-badge--danger">Nghỉ không phép</span>
														}
														@case ('LATE') {
															<span class="ictu-badge ictu-badge--pink">Đi muộn</span>
														}
														@case ('EXCUSED') {
															<span class="ictu-badge ictu-badge--purple">Nghỉ có phép</span>
														}
													}
												</div>
											</ng-container>
												<button mat-icon-button [matMenuTriggerFor]="menu">
													<mat-icon>more_vert</mat-icon>
											  	</button>
											  		<mat-menu #menu="matMenu">
														<button mat-menu-item (click)="updateStatusDiemDanh('PRESENT',i)">
															Đi học
														</button>
														<button mat-menu-item (click)="updateStatusDiemDanh('UNEXCUSED',i)">
															Nghỉ không phép
														</button>
														<button mat-menu-item (click)="updateStatusDiemDanh('LATE',i)">
															Đi muộn
														</button>
														<button mat-menu-item (click)="updateStatusDiemDanh('EXCUSED',i)">
															Nghỉ có phép
													  </button>
											  		</mat-menu>
										</div>
									</td>
									<td>
										<textarea (keydown.enter)="submitDiemDanh(row)" [disabled]="row.diemdanh.status == 'PRESENT'" rows="1" style="width: 100%; box-sizing: border-box;background: white; resize: vertical;" [(ngModel)]="row.diemdanh.reason" variant="filled" pTextarea></textarea>
									</td>
									<td>
										<textarea (keydown.enter)="submitDiemDanh(row)" rows="1" style="width: 100%; box-sizing: border-box;background: white; resize: vertical;" [(ngModel)]="row.diemdanh.comment" variant="filled" pTextarea></textarea>
									</td>
								</tr>
							} @empty {
								<tr>
									<td colspan="12">Không có bản ghi nào.</td>
								</tr> 
							}
						</tbody>
					</table>
				</div>
				<div class="admin-wrap-table__foot">
					<div class="d-flex justify-content-center align-items-center w-100">
						<ictu-paginator [control]="dataTable.paginator" (onChangePage)="onChangePage($event)"></ictu-paginator>
					</div>
				</div>
			} @else {
				<div class="admin-table__alert-danger text-center w-100">Tải dữ liệu thất bại. Vui lòng chọn
					<a (click)="reload($event)" href="javascript:" class="admin-table__alert-danger__btn-reload">tải lại</a>
				</div>
			}
		</div>
</section> -->